.i_about-us .i_about-company {
  padding: 0 0;
}
.i_about-us .i_about-company .i_about-company-first {
  position: relative;
  padding: 50px 0;
}
.i_about-us .i_about-company .i_about-company-first .i_about-company-title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
}
.i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 30px;
}
.i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-icon svg {
  color: var(--color-circleIcon);
}
@media screen and (max-width: 760px) {
  .i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
  .i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-icon svg {
    width: 25px;
    height: 25px;
  }
}
.i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-name {
  display: flex;
  justify-content: flex-start;
}
.i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-name span {
  font-size: 32px;
  font-weight: 400;
}
.i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-name span .color-title-name-red {
  color: var(--color-red);
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-name span {
    font-size: 28px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-name span {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-name span {
    font-size: 21px;
  }
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-name {
    width: 50%;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-name {
    width: unset;
  }
}
.i_about-us .i_about-company .i_about-company-desc {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 0;
  gap: 30px;
}
.i_about-us .i_about-company .i_about-company-desc span {
  color: var(--color-black);
  cursor: default;
  font-size: 14px;
  line-height: 21px;
}
.i_about-us .i_about-company .i_about-company-desc span .color-company-desc {
  color: var(--color-red);
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_about-company .i_about-company-desc span {
    font-size: 13px;
  }
}
@media screen and (max-width: 360px) {
  .i_about-us .i_about-company .i_about-company-desc span {
    font-size: 12px;
  }
}
.i_about-us .i_about-company .i_about-company-desc:before {
  content: " ";
  position: absolute;
  bottom: 0;
  width: calc(100% - 1px);
  background-image: url("../img/svg/doth-vertical_downGrey.svg");
  height: 12px;
  background-size: 10px;
}
.i_about-us .i_about-company .i_about-company-strategy {
  padding: 70px 0;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_about-company .i_about-company-strategy {
    padding: 60px 0;
  }
}
.i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 30px;
}
.i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-icon svg {
  color: var(--color-circleIcon);
}
@media screen and (max-width: 760px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-icon svg {
    width: 25px;
    height: 25px;
  }
}
.i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-name {
  display: flex;
  justify-content: flex-start;
}
.i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-name span {
  font-size: 32px;
  font-weight: 400;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-name span {
    font-size: 28px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-name span {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-name span {
    font-size: 21px;
  }
}
.i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-desc {
  padding: 50px 0 80px 0;
}
.i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-desc span {
  color: var(--color-black);
  cursor: default;
  font-size: 14px;
  line-height: 21px;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-desc span {
    font-size: 13px;
  }
}
@media screen and (max-width: 360px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-desc span {
    font-size: 12px;
  }
}
@media screen and (max-width: 395px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-btn {
    display: flex;
    justify-content: center;
  }
}
.i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-btn button {
  padding: 20px 48px;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-btn button {
    padding: 16px 38px;
    font-size: 14px;
  }
}
@media screen and (max-width: 395px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-btn button {
    padding: 12px 22px;
    font-size: 13px;
  }
}
.i_about-us .i_directorship {
  background-color: var(--bg-second);
  padding: 70px 0;
}
.i_about-us .i_directorship .i_directorship-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.i_about-us .i_directorship .i_directorship-title .i_directorship-title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 30px;
}
.i_about-us .i_directorship .i_directorship-title .i_directorship-title-icon svg {
  color: var(--color-circleIcon);
}
@media screen and (max-width: 760px) {
  .i_about-us .i_directorship .i_directorship-title .i_directorship-title-icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
  .i_about-us .i_directorship .i_directorship-title .i_directorship-title-icon svg {
    width: 25px;
    height: 25px;
  }
}
.i_about-us .i_directorship .i_directorship-title .i_directorship-title-name {
  display: flex;
  justify-content: center;
}
.i_about-us .i_directorship .i_directorship-title .i_directorship-title-name span {
  font-size: 32px;
  font-weight: 400;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_directorship .i_directorship-title .i_directorship-title-name span {
    font-size: 28px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_directorship .i_directorship-title .i_directorship-title-name span {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .i_about-us .i_directorship .i_directorship-title .i_directorship-title-name span {
    font-size: 21px;
  }
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc:before {
  content: " ";
  min-width: 665px;
  height: 665px;
  width: 43%;
  background-color: var(--bg-block);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -19%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-wrapper {
  min-width: 665px;
  height: 665px;
  width: 43%;
  background-color: var(--bg-block);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-wrapper .i_directorship-basic-block-portrait {
  width: 97%;
  height: 97%;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-wrapper .i_directorship-basic-block-portrait img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc {
  width: 975px;
  height: 512px;
  background-color: var(--bg-block);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: 1.8%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top {
  height: 268px;
  display: flex;
  border-radius: 30px 30px 0 0;
  background-color: var(--bg-block);
  flex-direction: column;
  gap: 35px;
  padding: 0 128px 0 170px;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-name {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px 0 0 0;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-name .i_directorship-desc-top-name-name {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-textInfoblock);
  cursor: default;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-name .i_directorship-desc-top-name-name .color-red-top-name {
  color: var(--color-red);
  cursor: default;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-name .i_directorship-desc-top-name-specification {
  color: var(--color-title);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-depiction {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-depiction .i_directorship-desc-top-depiction-name {
  font-size: 16px;
  color: var(----color-textInfoblock);
  cursor: default;
  font-weight: 600;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-depiction .i_directorship-desc-top-depiction-specification {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-depiction .i_directorship-desc-top-depiction-specification span {
  color: var(----color-textInfoblock);
  font-size: 15px;
  cursor: default;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-bottom {
  height: 244px;
  background-color: var(--color-red-block);
  border-radius: 0 0 30px 30px;
  display: flex;
  justify-content: center;
  padding: 0 128px 0 170px;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-bottom .i_directorship-basic-block-desc-bottom-container {
  padding: 50px 0 60px 0;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-bottom .i_directorship-basic-block-desc-bottom-container span {
  color: var(--color-WhiteWhite);
  line-height: 21px;
  font-size: 16px;
  cursor: default;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second:before {
  content: " ";
  min-width: 665px;
  height: 665px;
  width: 43%;
  background-color: var(--bg-block);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 118%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-wrapper_second {
  min-width: 665px;
  height: 665px;
  width: 43%;
  background-color: var(--bg-block);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  right: -54%;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-wrapper_second .i_directorship-basic-block-portrait {
  width: 97%;
  height: 97%;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-wrapper_second .i_directorship-basic-block-portrait img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second {
  width: 975px;
  height: 512px;
  background-color: var(--bg-block);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: 35.8%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second {
  height: 268px;
  display: flex;
  border-radius: 30px 30px 0 0;
  background-color: var(--bg-block);
  flex-direction: column;
  gap: 35px;
  padding: 0 155px 0 50px;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-name {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px 0 0 0;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-name .i_directorship-desc-top-name-name {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-textInfoblock);
  cursor: default;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-name .i_directorship-desc-top-name-name .color-red-top-name {
  color: var(--color-red);
  cursor: default;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-name .i_directorship-desc-top-name-specification {
  color: var(--color-title);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-depiction {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-depiction .i_directorship-desc-top-depiction-name {
  font-size: 16px;
  color: var(----color-textInfoblock);
  cursor: default;
  font-weight: 600;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-depiction .i_directorship-desc-top-depiction-specification {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-depiction .i_directorship-desc-top-depiction-specification span {
  color: var(----color-textInfoblock);
  font-size: 15px;
  cursor: default;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-bottom_second {
  height: 244px;
  background-color: var(--color-grey-block);
  border-radius: 0 0 30px 30px;
  display: flex;
  justify-content: center;
  padding: 0 155px 0 50px;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-bottom_second .i_directorship-basic-block-desc-bottom-container {
  padding: 50px 0 60px 0;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-bottom_second .i_directorship-basic-block-desc-bottom-container span {
  color: var(--color-WhiteWhite);
  line-height: 21px;
  font-size: 16px;
  cursor: default;
}

/*# sourceMappingURL=about-us.css.map */
