// ABOUT US
.i_about-us{
  //ABOUT COMPANY
  .i_about-company{
    padding: 0 0;
    //ABOUT COMPANY FIRST
    .i_about-company-first{
      position: relative;
      padding: 50px 0;
      // ABOUT COMPANY TITLE
      .i_about-company-title{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 20px;
        .i_about-company-title-icon{
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 50px;
          width: 50px;
          height: 50px;
          background-color: var(--color-circles);
          border-radius: 30px;
          svg{
            color: var(--color-circleIcon);
          }
          @media screen and (max-width: 760px){
            width: 40px;
            height: 40px;
            min-width: 40px;
            svg{
              width: 25px;
              height: 25px;
            }
          }
        }
        .i_about-company-title-name{
          display: flex;
          justify-content: flex-start;
          span{
            .color-title-name-red{
              color: var(--color-red);
            }
            font-size: 32px;
            font-weight: 400;
            @media screen and (max-width: 1330px){
              font-size: 28px;
            }
            @media screen and (max-width: 760px){
              font-size: 26px;
            }
            @media screen and (max-width: 480px){
              font-size: 21px;
            }
          }
          @media screen and (max-width: 1000px){
            width: 50%;
          }
          @media screen and (max-width: 760px){
            width: unset;
          }
        }
      }
      // !ABOUT COMPANY TITLE
    }
    //!ABOUT COMPANY FIRST

    //ABOUT COMPANY DESC
    .i_about-company-desc{
      display: flex;
      flex-direction: column;
      margin:50px 0 0 0;
      gap: 30px;
      span{
        color: var(--color-black);
        cursor: default;
        font-size: 14px;
        line-height: 21px;
        .color-company-desc{
          color: var(--color-red);
        }
        @media screen and (max-width: 1330px){
        font-size: 13px;
        }
        @media screen and (max-width: 360px){
        font-size: 12px;
        }
      }
    }

    .i_about-company-desc:before{
      content: ' ';
      position: absolute;
      bottom: 0;
      width: calc(100% - 1px);
      background-image: url("../img/svg/doth-vertical_downGrey.svg");
      height: 12px;
      background-size: 10px;
    }
    //!ABOUT COMPANY DESC

    //ABOUT COMPANY STRATEGY
    .i_about-company-strategy{
      padding: 70px 0;
      @media screen and (max-width: 1330px){
        padding: 60px 0;
      }
      //ABOUT COMPANY STRATEGY TITLE
      .i_about-company-strategy-title{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        // ICON ABOUT COMPANY STRATEGY
        .i_about-company-strategy-title-icon{
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 50px;
          width: 50px;
          height: 50px;
          background-color: var(--color-circles);
          border-radius: 30px;
          svg{
            color: var(--color-circleIcon);
          }
          @media screen and (max-width: 760px){
            width: 40px;
            height: 40px;
            min-width: 40px;
            svg{
              width: 25px;
              height: 25px;
            }
          }
        }
        // !ICON ABOUT COMPANY STRATEGY
        // NAME ABOUT COMPANY STRATEGY
        .i_about-company-strategy-title-name{
          display: flex;
          justify-content: flex-start;
          span{
            font-size: 32px;
            font-weight: 400;
            @media screen and (max-width: 1330px){
              font-size: 28px;
            }
            @media screen and (max-width: 760px){
              font-size: 26px;
            }
            @media screen and (max-width: 480px){
              font-size: 21px;
            }
          }
        }
        // !NAME ABOUT COMPANY STRATEGY
      }
      //!ABOUT COMPANY STRATEGY TITLE
      //ABOUT COMPANY STRATEGY DESC
      .i_about-company-strategy-desc{
        padding: 50px 0 80px 0;
        span{
          color: var(--color-black);
          cursor: default;
          font-size: 14px;
          line-height: 21px;
          @media screen and (max-width: 1330px){
            font-size: 13px;
          }
          @media screen and (max-width: 360px){
            font-size: 12px;
          }
        }
      }
      //!ABOUT COMPANY STRATEGY DESC
      //  ABOUT COMPANY STRATEGY BTN
      .i_about-company-strategy-btn{
        @media screen and (max-width: 395px){
          display: flex;
          justify-content: center;
        }
        button{
          padding: 20px 48px;
          @media screen and (max-width: 1330px){
            padding: 16px 38px;
            font-size: 14px;
          }
          @media screen and (max-width: 395px){
            padding: 12px 22px;
            font-size: 13px;
          }
        }
      }
      //  !ABOUT COMPANY STRATEGY BTN
    }
    //!ABOUT COMPANY STRATEGY
  }
  //!ABOUT COMPANY
  //DIRECTORSHIP
  .i_directorship{
    background-color: var(--bg-second);
    padding: 70px 0;
    //DIRECTORSHIP TITLE
    .i_directorship-title{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      //DIRECTORSHIP TITLE ICON
      .i_directorship-title-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 50px;
        width: 50px;
        height: 50px;
        background-color: var(--color-circles);
        border-radius: 30px;
        svg{
          color: var(--color-circleIcon);
        }
        @media screen and (max-width: 760px){
          width: 40px;
          height: 40px;
          min-width: 40px;
          svg{
            width: 25px;
            height: 25px;
          }
        }
      }
      //!DIRECTORSHIP TITLE ICON
      //DIRECTORSHIP TITLE NAME
      .i_directorship-title-name{
        display: flex;
        justify-content: center;
        span{
          font-size: 32px;
          font-weight: 400;
          @media screen and (max-width: 1330px){
            font-size: 28px;
          }
          @media screen and (max-width: 760px){
            font-size: 26px;
          }
          @media screen and (max-width: 480px){
            font-size: 21px;
          }
        }
        //!DIRECTORSHIP TITLE NAME
      }
    }
    //!DIRECTORSHIP TITLE
    //DIRECTORSHIP BASIC
    .i_directorship-basic{
      //DIRECTORSHIP BASIC BLOCK 1
      .i_directorship-basic-block{
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        .i_directorship-basic-block-desc:before{
          content: ' ';
          min-width: 665px;
          height: 665px;
          width: 43%;
          background-color: var(--bg-block);
          position: absolute;
          z-index: -1;
          top: 50%;
          left: -19%;
          transform: translate(-50%, -50%);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
          border-radius: 50%;
        }
        //DIRECTORSHIP BASIC BLOCK WRAPPER
        .i_directorship-basic-block-wrapper{
          min-width: 665px;
          height: 665px;
          width: 43%;
          background-color: var(--bg-block);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          z-index: 2;
          .i_directorship-basic-block-portrait{
            width: 97%;
            height: 97%;
            img{
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
        }
        //!DIRECTORSHIP BASIC BLOCK WRAPPER
        //DIRECTORSHIP BASIC BLOCK DESC
        .i_directorship-basic-block-desc{
          width: 975px;
          height: 512px;
          background-color: var(--bg-block);
          border-radius: 30px;
          display: flex;
          flex-direction: column;
          position: absolute;
          z-index: 1;
          right: 1.8%;
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
          //align-items: center;
          //DIRECTORSHIP BASIC BLOCK DESC TOP
          .i_directorship-basic-block-desc-top{
            height: 268px;
            display: flex;
            border-radius: 30px 30px 0 0;
            background-color: var(--bg-block);
            flex-direction: column;
            gap: 35px;
            padding: 0 128px 0 170px;
            //DIRECTORSHIP TOP NAME
            .i_directorship-block-desc-top-name{
              display: flex;
              flex-direction: column;
              gap: 15px;
              padding: 40px 0 0 0 ;
              .i_directorship-desc-top-name-name{
                font-size: 24px;
                font-weight: 600;
                color: var(--color-textInfoblock);
                .color-red-top-name{
                  color: var(--color-red);
                  cursor: default
                }
                cursor: default
              }
              .i_directorship-desc-top-name-specification{
                color: var(--color-title);
                font-size: 15px;
                font-family: "Open Sans", sans-serif;
                cursor: default;
              }
            }
            //!DIRECTORSHIP TOP NAME
            //DIRECTORSHIP TOP DEPICTION
            .i_directorship-block-desc-top-depiction{
              display: flex;
              flex-direction: column;
              gap: 35px;
              .i_directorship-desc-top-depiction-name{
                font-size: 16px;
                color: var(----color-textInfoblock);
                cursor: default;
                font-weight: 600;
              }
              .i_directorship-desc-top-depiction-specification{
                display: flex;
                flex-direction: column;
                gap: 10px;
                span{
                  color: var(----color-textInfoblock);
                  font-size: 15px;
                  cursor: default
                }
              }
            }
            //!DIRECTORSHIP TOP DEPICTION
          }
          //!DIRECTORSHIP BASIC BLOCK DESC TOP

          //DIRECTORSHIP BASIC BLOCK DESC BOTTOM
          .i_directorship-basic-block-desc-bottom{
            height: 244px;
            background-color: var(--color-red-block);
            border-radius: 0 0 30px 30px;
            display: flex;
            justify-content: center;
            padding: 0 128px 0 170px;
            .i_directorship-basic-block-desc-bottom-container{
              //min-width: 680px;
              //width: 69%;
              padding: 50px 0 60px 0;
              span{
                color: var(--color-WhiteWhite);
                line-height: 21px;
                font-size: 16px;
                cursor: default;
              }
            }
          }
          //!DIRECTORSHIP BASIC BLOCK DESC BOTTOM
        }
        //!DIRECTORSHIP BASIC BLOCK DESC
      }
      //!DIRECTORSHIP BASIC BLOCK 1
      //DIRECTORSHIP BASIC BLOCK 2
      .i_directorship-basic-block_second{
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        .i_directorship-basic-block-desc_second:before{
          content: ' ';
          min-width: 665px;
          height: 665px;
          width: 43%;
          background-color: var(--bg-block);
          position: absolute;
          z-index: -1;
          top: 50%;
          left: 118%;
          transform: translate(-50%, -50%);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
          border-radius: 50%;
        }
        //DIRECTORSHIP BASIC BLOCK WRAPPER 2
        .i_directorship-basic-block-wrapper_second{
          min-width: 665px;
          height: 665px;
          width: 43%;
          background-color: var(--bg-block);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          z-index: 2;
          right: -54%;
          .i_directorship-basic-block-portrait{
            width: 97%;
            height: 97%;
            img{
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
        }
        //!DIRECTORSHIP BASIC BLOCK WRAPPER 2

        //DIRECTORSHIP BASIC BLOCK DESC 2
        .i_directorship-basic-block-desc_second{
          width: 975px;
          height: 512px;
          background-color: var(--bg-block);
          border-radius: 30px;
          display: flex;
          flex-direction: column;
          position: absolute;
          z-index: 1;
          right: 35.8%;
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
          //align-items: center;
          //DIRECTORSHIP BASIC BLOCK DESC TOP 2
          .i_directorship-basic-block-desc-top_second{
            height: 268px;
            display: flex;
            border-radius: 30px 30px 0 0;
            background-color: var(--bg-block);
            flex-direction: column;
            gap: 35px;
            padding: 0 155px 0 50px;
            //DIRECTORSHIP TOP NAME
            .i_directorship-block-desc-top-name{
              display: flex;
              flex-direction: column;
              gap: 15px;
              padding: 40px 0 0 0 ;
              .i_directorship-desc-top-name-name{
                font-size: 24px;
                font-weight: 600;
                color: var(--color-textInfoblock);
                .color-red-top-name{
                  color: var(--color-red);
                  cursor: default
                }
                cursor: default
              }
              .i_directorship-desc-top-name-specification{
                color: var(--color-title);
                font-size: 15px;
                font-family: "Open Sans", sans-serif;
                cursor: default;
              }
            }
            //!DIRECTORSHIP TOP NAME
            //DIRECTORSHIP TOP DEPICTION
            .i_directorship-block-desc-top-depiction{
              display: flex;
              flex-direction: column;
              gap: 35px;
              .i_directorship-desc-top-depiction-name{
                font-size: 16px;
                color: var(----color-textInfoblock);
                cursor: default;
                font-weight: 600;
              }
              .i_directorship-desc-top-depiction-specification{
                display: flex;
                flex-direction: column;
                gap: 10px;
                span{
                  color: var(----color-textInfoblock);
                  font-size: 15px;
                  cursor: default
                }
              }
            }
            //!DIRECTORSHIP TOP DEPICTION
          }
          //!DIRECTORSHIP BASIC BLOCK DESC TOP 2

          //!DIRECTORSHIP BASIC BLOCK DESC BOTTOM 2
          .i_directorship-basic-block-desc-bottom_second{
            height: 244px;
            background-color: var(--color-grey-block);
            border-radius: 0 0 30px 30px;
            display: flex;
            justify-content: center;
            padding: 0 155px 0 50px;
            .i_directorship-basic-block-desc-bottom-container{
              //min-width: 680px;
              //width: 69%;
              padding: 50px 0 60px 0;
              span{
                color: var(--color-WhiteWhite);
                line-height: 21px;
                font-size: 16px;
                cursor: default;
              }
            }
          }
          //!DIRECTORSHIP BASIC BLOCK DESC BOTTOM 2
        }
        //!DIRECTORSHIP BASIC BLOCK DESC 2
      }
      //!DIRECTORSHIP BASIC BLOCK 2
    }
    //!DIRECTORSHIP BASIC
  }
  //!DIRECTORSHIP
  //TEAM
  .i_team{
    padding: 70px 0;
    //TEAM TITLE
    .i_team-title{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      //TEAM TITLE ICON
      .i_team-title-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 50px;
        width: 50px;
        height: 50px;
        background-color: var(--color-circles);
        border-radius: 30px;
        svg{
          color: var(--color-circleIcon);
        }
        @media screen and (max-width: 760px){
          width: 40px;
          height: 40px;
          min-width: 40px;
          svg{
            width: 25px;
            height: 25px;
          }
        }
      }
      //!TEAM TITLE ICON
      //TEAM TITLE NAME
      .i_team-title-name{
        display: flex;
        justify-content: flex-start;
        span{
          font-size: 32px;
          font-weight: 400;
          @media screen and (max-width: 1330px){
            font-size: 28px;
          }
          @media screen and (max-width: 760px){
            font-size: 26px;
          }
          @media screen and (max-width: 480px){
            font-size: 21px;
          }
        }
      }
      //!TEAM TITLE NAME
    }
    //!TEAM TITLE
    //TEAM PERSONALS
    .i_team-personal{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px 100px;
      padding: 70px 0 0 0;
      //TEAM PERSONAL BLOCK
      .i_team-personal-block:before{
        content: ' ';
        width: 355px;
        height: 355px;
        background-color: var(--bg-block-personal);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
        position: absolute;
        z-index: -1;
        border-radius: 50%;
      }
      .i_team-personal-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 1;

        //TEAM PERSONAL BLOCK PICTURE
        .i_team-personal-block-picture{
          background-color: var(--bg-block-personal);
          border-radius: 50%;
          min-width: 355px;
          width: 355px;
          height: 355px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          z-index: 2;
          .i_team-personal-block-picture-block{
            width: 95%;
            height: 95%;
            img{
              border-radius: 50%;
              width: 100%;
              height: 100%  ;
            }
          }
        }
        //!TEAM PERSONAL BLOCK PICTURE
        //TEAM PERSONAL BLOCK DEPICTION

        .i_team-personal-block-depiction{
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: flex-end;
          position: relative;
          z-index: 1;
          padding: 60px 20px;
          width: 290px;
          height: 665px;
          background-color: var(--bg-block-personal);
          border-radius: 100% 100% 35px 35px;
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
          //TEAM PERSONAL BLOCK DEPICTION GROUP
          .i_team-personal-block-depiction-group{
            display: flex;
            flex-direction: column;
            gap: 30px;
            //TEAM PERSONAL BLOCK DEPICTION GROUP NAME
            .block-depiction-group-name{
              text-align: center;
              span{
                color: var(--color-textInfoblock);
                cursor: default;
                font-size: 28px;
              }
            }
            //!TEAM PERSONAL BLOCK DEPICTION GROUP NAME
            //TEAM PERSONAL BLOCK DEPICTION GROUP TITLE
            .block-depiction-group-title{
              font-size: 15px;
              height: 20px;
              line-height: 18px;
              color: var(--color-title);
              text-align: center;
              cursor: default;
            }
            //!TEAM PERSONAL BLOCK DEPICTION GROUP TITLE
            //TEAM PERSONAL BLOCK DEPICTION GROUP DESC
            .block-depiction-group-desc{
              font-family: "Open Sans", sans-serif;
              font-size: 14px;
              text-align: center;
              line-height: 21px;
              cursor: default;
            }
            //!TEAM PERSONAL BLOCK DEPICTION GROUP DESC
          }
          //!TEAM PERSONAL BLOCK DEPICTION GROUP
        }
        //!TEAM PERSONAL BLOCK DEPICTION
      }
      //!TEAM PERSONAL BLOCK
    }
    //!TEAM PERSONALS
  }
  //!TEAM
  //CERTIFICATES
  .i_certificates{
    background-color: var(--bg-second);
    padding: 70px 0;
    //CERTIFICATES GROUP TITLE
    .i_certificates-group-title{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      //CERTIFICATES GROUP TITLE ICON
      .i_certificates-group-title-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 50px;
        width: 50px;
        height: 50px;
        background-color: var(--color-circles);
        border-radius: 30px;
        svg{
          color: var(--color-circleIcon);
        }
        @media screen and (max-width: 760px){
          width: 40px;
          height: 40px;
          min-width: 40px;
          svg{
            width: 25px;
            height: 25px;
          }
        }
      }
      //!CERTIFICATES GROUP TITLE ICON
      //CERTIFICATES GROUP TITLE NAME
      .i_certificates-group-title-name{
        display: flex;
        justify-content: flex-start;
        span{
          font-size: 32px;
          font-weight: 400;
          @media screen and (max-width: 1330px){
            font-size: 28px;
          }
          @media screen and (max-width: 760px){
            font-size: 26px;
          }
          @media screen and (max-width: 480px){
            font-size: 21px;
          }
        }
      }
      //!CERTIFICATES GROUP TITLE NAME
    }
    //!CERTIFICATES GROUP TITLE
    //CERTIFICATES GROUP BLOCKS
    .i_certificates-group-blocks{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 40px;
      padding: 70px 0 0 0;
      //CERTIFICATES GROUP BLOCKS ITEM
      .i_certificates-group-blocks-item{
        width: 48%;
        height: 122px;
        background-color: var(--bg-block);
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 40px;
        padding: 20px 35px;
        //CERTIFICATES GROUP BLOCKS ITEM BG ICON
        .i_certificates-group-blocks-item-bg_Icon{
          position: absolute;
          z-index: -1;
          top: -40%;
          left: -125px;
          transform: translate(50%);
        }
        //!CERTIFICATES GROUP BLOCKS ITEM BG ICON
        //CERTIFICATES GROUP BLOCKS ITEM ICON
        .i_certificates-group-blocks-item-icon{

        }
        //!CERTIFICATES GROUP BLOCKS ITEM ICON
        //CERTIFICATES GROUP BLOCKS ITEM NAME
        .i_certificates-group-blocks-item-name{
          span{
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            color: var(--color-nochangeThirdIcon);
            cursor: default;
          }
        }
        //!CERTIFICATES GROUP BLOCKS ITEM NAME
      }
      //!CERTIFICATES GROUP BLOCKS ITEM
    }
    //!CERTIFICATES GROUP BLOCKS
  }
  //!CERTIFICATES
}
//! ABOUT US

