.i_about-us .i_about-company:before {
  content: " ";
  background-image: url("../img/svg/bg-image-about-company-Grey.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 100%;
  right: 75%;
  transform: translate(50%, -50%);
  height: 2047.2px;
  min-width: 2047.2px;
  z-index: -1;
}
.i_about-us .i_about-company {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.i_about-us .i_about-company .i_about-company-first {
  position: relative;
  padding: 50px 0;
}
.i_about-us .i_about-company .i_about-company-first .i_about-company-title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
}
.i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 30px;
}
.i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-icon svg {
  color: var(--color-circleIcon);
}
@media screen and (max-width: 760px) {
  .i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
  .i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-icon svg {
    width: 25px;
    height: 25px;
  }
}
.i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-name {
  display: flex;
  justify-content: flex-start;
}
.i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-name span {
  font-size: 32px;
  font-weight: 400;
}
.i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-name span .color-title-name-red {
  color: var(--color-red);
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-name span {
    font-size: 28px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-name span {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-name span {
    font-size: 21px;
  }
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-name {
    width: 50%;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_about-company .i_about-company-first .i_about-company-title .i_about-company-title-name {
    width: unset;
  }
}
.i_about-us .i_about-company .i_about-company-desc {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 0;
  gap: 30px;
}
.i_about-us .i_about-company .i_about-company-desc span {
  color: var(--color-black);
  cursor: text;
  font-size: 14px;
  line-height: 21px;
}
.i_about-us .i_about-company .i_about-company-desc span .color-company-desc {
  color: var(--color-red);
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_about-company .i_about-company-desc span {
    font-size: 13px;
  }
}
@media screen and (max-width: 360px) {
  .i_about-us .i_about-company .i_about-company-desc span {
    font-size: 12px;
  }
}
.i_about-us .i_about-company .i_about-company-desc:before {
  content: " ";
  position: absolute;
  bottom: 0;
  width: calc(100% - 1px);
  background-image: url("../img/svg/doth-vertical_downGrey.svg");
  height: 12px;
  background-size: 10px;
}
.i_about-us .i_about-company .i_about-company-strategy {
  padding: 70px 0;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_about-company .i_about-company-strategy {
    padding: 60px 0;
  }
}
.i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 30px;
}
.i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-icon svg {
  color: var(--color-circleIcon);
}
@media screen and (max-width: 760px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-icon svg {
    width: 25px;
    height: 25px;
  }
}
.i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-name {
  display: flex;
  justify-content: flex-start;
}
.i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-name span {
  font-size: 32px;
  font-weight: 400;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-name span {
    font-size: 28px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-name span {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-title .i_about-company-strategy-title-name span {
    font-size: 21px;
  }
}
.i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-desc {
  padding: 50px 0 80px 0;
}
.i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-desc span {
  color: var(--color-black);
  cursor: text;
  font-size: 14px;
  line-height: 21px;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-desc span {
    font-size: 13px;
  }
}
@media screen and (max-width: 360px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-desc span {
    font-size: 12px;
  }
}
@media screen and (max-width: 395px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-btn {
    display: flex;
    justify-content: center;
  }
}
.i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-btn button {
  padding: 20px 48px;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-btn button {
    padding: 16px 38px;
    font-size: 14px;
  }
}
@media screen and (max-width: 395px) {
  .i_about-us .i_about-company .i_about-company-strategy .i_about-company-strategy-btn button {
    padding: 12px 22px;
    font-size: 13px;
  }
}
.i_about-us .i_directorship:before {
  content: " ";
  background-image: url("../img/svg/bg-image-about-company-White.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 135%;
  right: 25%;
  transform: translate(50%, -50%);
  height: 2047.2px;
  min-width: 2047.2px;
  z-index: -1;
}
.i_about-us .i_directorship:after {
  content: " ";
  background-image: url("../img/svg/bg-image-about-company-White.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0%;
  right: 75%;
  transform: translate(50%, -50%);
  height: 2047.2px;
  min-width: 2047.2px;
  z-index: -1;
}
.i_about-us .i_directorship {
  position: relative;
  z-index: 1;
  background-color: var(--bg-second);
  padding: 70px 0;
  overflow: hidden;
}
.i_about-us .i_directorship .i_directorship-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-title {
    padding: 0 0 165px 0;
  }
}
.i_about-us .i_directorship .i_directorship-title .i_directorship-title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 30px;
}
.i_about-us .i_directorship .i_directorship-title .i_directorship-title-icon svg {
  color: var(--color-circleIcon);
  margin: 0 0 0 2px;
}
@media screen and (max-width: 760px) {
  .i_about-us .i_directorship .i_directorship-title .i_directorship-title-icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
  .i_about-us .i_directorship .i_directorship-title .i_directorship-title-icon svg {
    width: 25px;
    height: 25px;
  }
}
.i_about-us .i_directorship .i_directorship-title .i_directorship-title-name {
  display: flex;
  justify-content: center;
}
.i_about-us .i_directorship .i_directorship-title .i_directorship-title-name span {
  font-size: 32px;
  font-weight: 400;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_directorship .i_directorship-title .i_directorship-title-name span {
    font-size: 28px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_directorship .i_directorship-title .i_directorship-title-name span {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .i_about-us .i_directorship .i_directorship-title .i_directorship-title-name span {
    font-size: 21px;
  }
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block {
    padding: 0 0 255px 0;
  }
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc:before {
  content: " ";
  min-width: 665px;
  height: 665px;
  width: 43%;
  background-color: var(--bg-block);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -19%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc:before {
    min-width: 600px;
    height: 600px;
    left: -18.5%;
  }
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc:before {
    min-width: 290px;
    height: 290px;
    width: 30%;
    left: 14.9%;
    top: -43%;
    transform: translate(-50%, 50%);
  }
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-wrapper {
  min-width: 665px;
  height: 665px;
  width: 43%;
  background-color: var(--bg-block);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-wrapper {
    min-width: 600px;
    height: 600px;
  }
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-wrapper {
    min-width: 290px;
    height: 290px;
    width: 30%;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -38%);
  }
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-wrapper .i_directorship-basic-block-portrait {
  width: 97%;
  height: 97%;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-wrapper .i_directorship-basic-block-portrait img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc {
  width: 975px;
  height: 512px;
  background-color: var(--bg-block);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: 1.8%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc {
    width: 820px;
    height: 500px;
    right: 0%;
  }
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc {
    width: 940px;
    height: 430px;
    border-radius: 100px 30px 30px 30px;
  }
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top {
  height: 268px;
  display: flex;
  border-radius: 30px 30px 0 0;
  background-color: var(--bg-block);
  flex-direction: column;
  gap: 35px;
  padding: 0 128px 0 170px;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top {
    padding: 0 30px 0 180px;
  }
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top {
    padding: 0 80px 0 330px;
    height: 250px;
    border-radius: 100px 30px 0 0;
    gap: 25px;
  }
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-name {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px 0 0 0;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-name .i_directorship-desc-top-name-name {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-textInfoblock);
  cursor: text;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-name .i_directorship-desc-top-name-name .color-red-top-name {
  color: var(--color-red);
  cursor: text;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-name .i_directorship-desc-top-name-specification {
  color: var(--color-title);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  cursor: text;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-depiction {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-depiction {
    gap: 25px;
  }
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-depiction .i_directorship-desc-top-depiction-name {
  font-size: 16px;
  color: var(----color-textInfoblock);
  cursor: text;
  font-weight: 600;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-depiction .i_directorship-desc-top-depiction-specification {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-depiction .i_directorship-desc-top-depiction-specification span {
  color: var(----color-textInfoblock);
  font-size: 15px;
  cursor: text;
  font-family: "Open Sans", sans-serif;
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-top .i_directorship-block-desc-top-depiction .i_directorship-desc-top-depiction-specification span {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-bottom:before {
    content: " ";
    background-image: url("../img/svg/Polygon-red.svg");
    position: absolute;
    z-index: 2;
    width: 241px;
    height: 164px;
    top: -78%;
    left: 0%;
  }
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-bottom {
  height: 244px;
  background-color: var(--color-red-block);
  border-radius: 0 0 30px 30px;
  display: flex;
  justify-content: center;
  padding: 0 128px 0 170px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-bottom {
    padding: 0 30px 0 180px;
  }
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-bottom {
    padding: 0 30px 0 30px;
    height: 180px;
  }
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-bottom .i_directorship-basic-block-desc-bottom-container {
  padding: 50px 0 60px 0;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block .i_directorship-basic-block-desc .i_directorship-basic-block-desc-bottom .i_directorship-basic-block-desc-bottom-container span {
  color: var(--color-WhiteWhite);
  line-height: 21px;
  font-size: 16px;
  cursor: text;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second:before {
  content: " ";
  min-width: 665px;
  height: 665px;
  width: 43%;
  background-color: var(--bg-block);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 118%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second:before {
    min-width: 600px;
    height: 600px;
    left: 117.5%;
  }
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second:before {
    min-width: 290px;
    height: 290px;
    width: 30%;
    left: 84.5%;
    top: -43%;
    transform: translate(-50%, 50%);
  }
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-wrapper_second {
  min-width: 665px;
  height: 665px;
  width: 43%;
  background-color: var(--bg-block);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  right: -54%;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-wrapper_second {
    min-width: 600px;
    height: 600px;
    right: -52%;
  }
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-wrapper_second {
    min-width: 290px;
    height: 290px;
    width: 30%;
    top: 50%;
    right: -53.8%;
    transform: translate(50%, -38%);
  }
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-wrapper_second .i_directorship-basic-block-portrait {
  width: 97%;
  height: 97%;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-wrapper_second .i_directorship-basic-block-portrait img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second {
  width: 975px;
  height: 512px;
  background-color: var(--bg-block);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: 35.8%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second {
    width: 820px;
    height: 500px;
    right: 35.5%;
  }
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second {
    width: 940px;
    height: 430px;
    right: 0;
    border-radius: 30px 100px 30px 30px;
  }
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second {
  height: 268px;
  display: flex;
  border-radius: 30px 30px 0 0;
  background-color: var(--bg-block);
  flex-direction: column;
  gap: 35px;
  padding: 0 155px 0 50px;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second {
    padding: 0 155px 0 30px;
  }
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second {
    padding: 0 330px 0 30px;
    height: 250px;
    border-radius: 30px 100px 0 0;
    gap: 25px;
  }
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-name {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px 0 0 0;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-name .i_directorship-desc-top-name-name {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-textInfoblock);
  cursor: text;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-name .i_directorship-desc-top-name-name .color-red-top-name {
  color: var(--color-red);
  cursor: text;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-name .i_directorship-desc-top-name-specification {
  color: var(--color-title);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  cursor: text;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-depiction {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-depiction {
    gap: 25px;
  }
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-depiction .i_directorship-desc-top-depiction-name {
  font-size: 16px;
  color: var(----color-textInfoblock);
  cursor: text;
  font-weight: 600;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-depiction .i_directorship-desc-top-depiction-specification {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-depiction .i_directorship-desc-top-depiction-specification span {
  color: var(----color-textInfoblock);
  font-size: 15px;
  cursor: text;
  font-family: "Open Sans", sans-serif;
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-top_second .i_directorship-block-desc-top-depiction .i_directorship-desc-top-depiction-specification span {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-bottom_second:before {
    content: " ";
    background-image: url("../img/svg/Polygon-grey.svg");
    position: absolute;
    z-index: 2;
    width: 241px;
    height: 164px;
    top: -78%;
    right: 0%;
  }
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-bottom_second {
  height: 244px;
  background-color: var(--color-grey-block);
  border-radius: 0 0 30px 30px;
  display: flex;
  justify-content: center;
  padding: 0 155px 0 50px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-bottom_second {
    padding: 0 155px 0 30px;
  }
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-bottom_second {
    padding: 0 30px 0 30px;
    height: 180px;
  }
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-bottom_second .i_directorship-basic-block-desc-bottom-container {
  padding: 50px 0 60px 0;
}
.i_about-us .i_directorship .i_directorship-basic .i_directorship-basic-block_second .i_directorship-basic-block-desc_second .i_directorship-basic-block-desc-bottom_second .i_directorship-basic-block-desc-bottom-container span {
  color: var(--color-WhiteWhite);
  line-height: 21px;
  font-size: 16px;
  cursor: text;
}
.i_about-us .i_team:before {
  content: " ";
  background-image: url("../img/svg/bg-image-about-company-Grey.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 124%;
  right: 50%;
  transform: translate(50%, -50%);
  height: 2047.2px;
  min-width: 2047.2px;
  z-index: -1;
}
.i_about-us .i_team {
  padding: 70px 0;
  position: relative;
  z-index: 1;
  padding: 70px 0;
  overflow: hidden;
}
.i_about-us .i_team .i_team-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.i_about-us .i_team .i_team-title .i_team-title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 30px;
}
.i_about-us .i_team .i_team-title .i_team-title-icon svg {
  color: var(--color-circleIcon);
}
@media screen and (max-width: 760px) {
  .i_about-us .i_team .i_team-title .i_team-title-icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
  .i_about-us .i_team .i_team-title .i_team-title-icon svg {
    width: 25px;
    height: 25px;
  }
}
.i_about-us .i_team .i_team-title .i_team-title-name {
  display: flex;
  justify-content: flex-start;
}
.i_about-us .i_team .i_team-title .i_team-title-name span {
  font-size: 32px;
  font-weight: 400;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_team .i_team-title .i_team-title-name span {
    font-size: 28px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_team .i_team-title .i_team-title-name span {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .i_about-us .i_team .i_team-title .i_team-title-name span {
    font-size: 21px;
  }
}
.i_about-us .i_team .i_team-personal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 100px;
  padding: 70px 0 0 0;
}
@media screen and (max-width: 1520px) {
  .i_about-us .i_team .i_team-personal {
    gap: 30px 75px;
  }
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_team .i_team-personal {
    gap: 30px 65px;
  }
}
@media screen and (max-width: 930px) {
  .i_about-us .i_team .i_team-personal {
    gap: 30px 20px;
  }
}
.i_about-us .i_team .i_team-personal .i_team-personal-block:before {
  content: " ";
  width: 355px;
  height: 355px;
  background-color: var(--bg-block-personal);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}
@media screen and (max-width: 1520px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block:before {
    width: 345px;
    height: 345px;
  }
}
@media screen and (max-width: 1510px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block:before {
    width: 295px;
    height: 295px;
  }
}
@media screen and (max-width: 930px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block:before {
    width: 225px;
    height: 225px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block:before {
    width: 150px;
    height: 150px;
  }
}
.i_about-us .i_team .i_team-personal .i_team-personal-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  flex-basis: 20%;
}
@media screen and (max-width: 930px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block {
    flex-basis: 30%;
  }
}
.i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-picture {
  background-color: var(--bg-block-personal);
  border-radius: 50%;
  min-width: 355px;
  width: 355px;
  height: 355px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
}
@media screen and (max-width: 1520px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-picture {
    min-width: 345px;
    width: 345px;
    height: 345px;
  }
}
@media screen and (max-width: 1510px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-picture {
    min-width: 295px;
    width: 295px;
    height: 295px;
  }
}
@media screen and (max-width: 930px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-picture {
    min-width: 225px;
    width: 20%;
    height: 225px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-picture {
    min-width: 150px;
    width: 20%;
    height: 150px;
  }
}
.i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-picture .i_team-personal-block-picture-block {
  width: 95%;
  height: 95%;
}
.i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-picture .i_team-personal-block-picture-block img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-depiction {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
  padding: 60px 20px;
  min-width: 290px;
  width: 90%;
  height: 665px;
  background-color: var(--bg-block-personal);
  border-radius: 100% 100% 35px 35px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1510px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-depiction {
    min-width: 245px;
    height: 575px;
    padding: 30px 20px;
  }
}
@media screen and (max-width: 930px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-depiction {
    min-width: 225px;
    height: 530px;
    padding: 30px 15px;
    border-radius: 110px 110px 35px 35px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-depiction {
    min-width: 150px;
    height: 400px;
    padding: 20px 15px;
    border-radius: 110px 110px 35px 35px;
  }
}
.i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-depiction .i_team-personal-block-depiction-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 760px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-depiction .i_team-personal-block-depiction-group {
    gap: 20px;
  }
}
.i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-depiction .i_team-personal-block-depiction-group .block-depiction-group-name {
  text-align: center;
}
.i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-depiction .i_team-personal-block-depiction-group .block-depiction-group-name span {
  color: var(--color-textInfoblock);
  cursor: text;
  font-size: 28px;
}
@media screen and (max-width: 1510px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-depiction .i_team-personal-block-depiction-group .block-depiction-group-name span {
    font-size: 24px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-depiction .i_team-personal-block-depiction-group .block-depiction-group-name span {
    font-size: 18px;
  }
}
.i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-depiction .i_team-personal-block-depiction-group .block-depiction-group-title {
  font-size: 15px;
  height: 20px;
  line-height: 18px;
  color: var(--color-title);
  text-align: center;
  cursor: text;
}
@media screen and (max-width: 760px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-depiction .i_team-personal-block-depiction-group .block-depiction-group-title {
    font-size: 14px;
  }
}
.i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-depiction .i_team-personal-block-depiction-group .block-depiction-group-desc {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 21px;
  cursor: text;
}
@media screen and (max-width: 1510px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-depiction .i_team-personal-block-depiction-group .block-depiction-group-desc {
    line-height: 18px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_team .i_team-personal .i_team-personal-block .i_team-personal-block-depiction .i_team-personal-block-depiction-group .block-depiction-group-desc {
    line-height: 16px;
    font-size: 12px;
  }
}
.i_about-us .i_certificates {
  background-color: var(--bg-second);
  padding: 70px 0;
}
.i_about-us .i_certificates .i_certificates-group-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.i_about-us .i_certificates .i_certificates-group-title .i_certificates-group-title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 30px;
}
.i_about-us .i_certificates .i_certificates-group-title .i_certificates-group-title-icon svg {
  color: var(--color-circleIcon);
}
@media screen and (max-width: 760px) {
  .i_about-us .i_certificates .i_certificates-group-title .i_certificates-group-title-icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
  .i_about-us .i_certificates .i_certificates-group-title .i_certificates-group-title-icon svg {
    width: 25px;
    height: 25px;
  }
}
.i_about-us .i_certificates .i_certificates-group-title .i_certificates-group-title-name {
  display: flex;
  justify-content: flex-start;
}
.i_about-us .i_certificates .i_certificates-group-title .i_certificates-group-title-name span {
  font-size: 32px;
  font-weight: 400;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_certificates .i_certificates-group-title .i_certificates-group-title-name span {
    font-size: 28px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_certificates .i_certificates-group-title .i_certificates-group-title-name span {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .i_about-us .i_certificates .i_certificates-group-title .i_certificates-group-title-name span {
    font-size: 21px;
  }
}
.i_about-us .i_certificates .i_certificates-group-blocks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 70px 0 0 0;
}
@media screen and (max-width: 1050px) {
  .i_about-us .i_certificates .i_certificates-group-blocks {
    gap: 30px;
  }
}
.i_about-us .i_certificates .i_certificates-group-blocks .i_certificates-group-blocks-item {
  width: 47%;
  height: 122px;
  background-color: var(--bg-block);
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  padding: 20px 35px;
}
@media screen and (max-width: 760px) {
  .i_about-us .i_certificates .i_certificates-group-blocks .i_certificates-group-blocks-item {
    flex-direction: column;
    width: 43%;
    height: 175px;
    gap: 10px;
    padding: 20px 20px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_certificates .i_certificates-group-blocks .i_certificates-group-blocks-item {
    gap: 5px;
    padding: 15px 20px;
  }
}
.i_about-us .i_certificates .i_certificates-group-blocks .i_certificates-group-blocks-item .i_certificates-group-blocks-item-bg_Icon {
  position: absolute;
  z-index: -1;
  top: -40%;
  left: -125px;
  transform: translate(50%);
}
@media screen and (max-width: 760px) {
  .i_about-us .i_certificates .i_certificates-group-blocks .i_certificates-group-blocks-item .i_certificates-group-blocks-item-bg_Icon {
    top: -30%;
  }
}
.i_about-us .i_certificates .i_certificates-group-blocks .i_certificates-group-blocks-item .i_certificates-group-blocks-item-icon {
  min-width: 130px;
}
.i_about-us .i_certificates .i_certificates-group-blocks .i_certificates-group-blocks-item .i_certificates-group-blocks-item-icon img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 760px) {
  .i_about-us .i_certificates .i_certificates-group-blocks .i_certificates-group-blocks-item .i_certificates-group-blocks-item-name {
    text-align: center;
  }
}
.i_about-us .i_certificates .i_certificates-group-blocks .i_certificates-group-blocks-item .i_certificates-group-blocks-item-name span {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: var(--color-nochangeThirdIcon);
  cursor: text;
}
@media screen and (max-width: 760px) {
  .i_about-us .i_certificates .i_certificates-group-blocks .i_certificates-group-blocks-item .i_certificates-group-blocks-item-name span {
    font-size: 14px;
  }
}
@media screen and (max-width: 410px) {
  .i_about-us .i_certificates .i_certificates-group-blocks .i_certificates-group-blocks-item .i_certificates-group-blocks-item-name span {
    font-size: 12px;
  }
}
.i_about-us .i_cloud {
  padding: 70px 0;
}
.i_about-us .i_cloud .i_cloud-group {
  display: flex;
  align-items: center;
  gap: 70px;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_cloud .i_cloud-group {
    gap: 50px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_cloud .i_cloud-group {
    flex-direction: column;
  }
}
.i_about-us .i_cloud .i_cloud-group .i_cloud-group-picture {
  width: 85%;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .i_about-us .i_cloud .i_cloud-group .i_cloud-group-picture {
    padding: 0 0 195px 0;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_cloud .i_cloud-group .i_cloud-group-picture {
    padding: 0;
  }
}
.i_about-us .i_cloud .i_cloud-group .i_cloud-group-picture img {
  width: 100%;
  height: 100%;
}
.i_about-us .i_cloud .i_cloud-group .i_cloud-group-desc {
  display: flex;
  flex-direction: column;
  flex-basis: 140%;
}
@media screen and (max-width: 760px) {
  .i_about-us .i_cloud .i_cloud-group .i_cloud-group-desc .i_cloud-group-desc-name {
    display: flex;
    justify-content: center;
  }
}
.i_about-us .i_cloud .i_cloud-group .i_cloud-group-desc .i_cloud-group-desc-name span {
  font-size: 30px;
  font-weight: 600;
  color: var(--color-black);
  cursor: text;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_cloud .i_cloud-group .i_cloud-group-desc .i_cloud-group-desc-name span {
    font-size: 28px;
  }
}
.i_about-us .i_cloud .i_cloud-group .i_cloud-group-desc .i_cloud-group-desc-name span .i_cloud-desc-name-color {
  color: var(--color-red);
}
.i_about-us .i_cloud .i_cloud-group .i_cloud-group-desc .i_cloud-group-desc-depiction {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 50px 65px 0;
}
@media screen and (max-width: 760px) {
  .i_about-us .i_cloud .i_cloud-group .i_cloud-group-desc .i_cloud-group-desc-depiction {
    padding: 40px 0 65px 0;
  }
}
.i_about-us .i_cloud .i_cloud-group .i_cloud-group-desc .i_cloud-group-desc-depiction .i_cloud-depiction-weight {
  color: var(--color-black);
  font-weight: 600;
  font-size: 18px;
  font-family: "Comfortaa", sans-serif;
  line-height: 25px;
  cursor: text;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_cloud .i_cloud-group .i_cloud-group-desc .i_cloud-group-desc-depiction .i_cloud-depiction-weight {
    font-size: 16px;
  }
}
.i_about-us .i_cloud .i_cloud-group .i_cloud-group-desc .i_cloud-group-desc-depiction span {
  color: var(--color-black);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  cursor: text;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_cloud .i_cloud-group .i_cloud-group-desc .i_cloud-group-desc-depiction span {
    font-size: 14px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_cloud .i_cloud-group .i_cloud-group-desc .i_cloud-group-desc-btn {
    display: flex;
    justify-content: center;
  }
}
.i_about-us .i_cloud .i_cloud-group .i_cloud-group-desc .i_cloud-group-desc-btn button {
  padding: 20px 48px;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_cloud .i_cloud-group .i_cloud-group-desc .i_cloud-group-desc-btn button {
    padding: 16px 38px;
    font-size: 14px;
  }
}
@media screen and (max-width: 395px) {
  .i_about-us .i_cloud .i_cloud-group .i_cloud-group-desc .i_cloud-group-desc-btn button {
    padding: 12px 22px;
    font-size: 13px;
  }
}
.i_about-us .i_work-process {
  padding: 70px 0;
}
.i_about-us .i_work-process .i_container .i_work-process-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.i_about-us .i_work-process .i_container .i_work-process-title .i_work-process-title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 30px;
}
.i_about-us .i_work-process .i_container .i_work-process-title .i_work-process-title-icon svg {
  color: var(--color-circleIcon);
}
@media screen and (max-width: 760px) {
  .i_about-us .i_work-process .i_container .i_work-process-title .i_work-process-title-icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
  .i_about-us .i_work-process .i_container .i_work-process-title .i_work-process-title-icon svg {
    width: 25px;
    height: 25px;
  }
}
.i_about-us .i_work-process .i_container .i_work-process-title .i_work-process-title-name {
  display: flex;
  justify-content: flex-start;
}
.i_about-us .i_work-process .i_container .i_work-process-title .i_work-process-title-name span {
  font-size: 32px;
  font-weight: 400;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_work-process .i_container .i_work-process-title .i_work-process-title-name span {
    font-size: 28px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_work-process .i_container .i_work-process-title .i_work-process-title-name span {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .i_about-us .i_work-process .i_container .i_work-process-title .i_work-process-title-name span {
    font-size: 21px;
  }
}
.i_about-us .i_work-process .i_container .i_work-process-body {
  position: relative;
  z-index: 1;
}
.i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-infographic-light {
  position: absolute;
  z-index: 1;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 40%;
  height: 100%;
}
.i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-infographic-light svg {
  width: 100%;
  height: 100%;
}
.i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-infographic-night {
  display: none;
}
.i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 120px 240px;
  padding: 70px 0;
}
.i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-group .i_work-process-body-group-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 34%;
  height: 170px;
  background-color: var(--color-blockHv);
  padding: 20px 20px 20px 70px;
  border-radius: 35px;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-group .i_work-process-body-group-block {
    padding: 20px 20px 20px 50px;
    width: 29%;
    height: 180px;
    gap: 20px;
  }
}
.i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-group .i_work-process-body-group-block:nth-child(3) {
  margin: 0 230px 0 0;
  padding: 20px 70px 20px 20px;
  align-items: flex-end;
}
.i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-group .i_work-process-body-group-block:nth-child(3) span {
  text-align: right;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-group .i_work-process-body-group-block:nth-child(3) {
    padding: 20px 20px 20px 50px;
  }
}
.i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-group .i_work-process-body-group-block:nth-child(1) {
  padding: 20px 70px 20px 20px;
  align-items: flex-end;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-group .i_work-process-body-group-block:nth-child(1) {
    padding: 20px 20px 20px 50px;
  }
}
.i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-group .i_work-process-body-group-block:nth-child(1) span {
  text-align: right;
}
.i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-group .i_work-process-body-group-block:nth-child(5) {
  padding: 20px 70px 20px 20px;
  align-items: flex-end;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-group .i_work-process-body-group-block:nth-child(5) {
    padding: 20px 20px 20px 50px;
  }
}
.i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-group .i_work-process-body-group-block:nth-child(5) span {
  text-align: right;
}
.i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-group .i_work-process-body-group-block .i_work-process-body-group-block-color {
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-textInfoblock);
  line-height: 27px;
  cursor: text;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-group .i_work-process-body-group-block .i_work-process-body-group-block-color {
    font-size: 16px;
  }
}
.i_about-us .i_work-process .i_container .i_work-process-body .i_work-process-body-group .i_work-process-body-group-block span {
  color: var(--color-textInfoblock);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 18px;
  cursor: text;
}
.i_about-us .i_work-process .i_container .i_work-process-btn {
  display: flex;
  justify-content: center;
}
.i_about-us .i_work-process .i_container .i_work-process-btn button {
  padding: 20px 48px;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_work-process .i_container .i_work-process-btn button {
    padding: 16px 38px;
    font-size: 14px;
  }
}
@media screen and (max-width: 395px) {
  .i_about-us .i_work-process .i_container .i_work-process-btn button {
    padding: 12px 22px;
    font-size: 13px;
  }
}
.i_about-us .i_seo:before {
  content: " ";
  background-image: url("../img/svg/bg-element-light_1-rotate.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 90%;
  right: 5%;
  transform: translate(50%, -50%);
  height: 800px;
  min-width: 800px;
  z-index: -1;
}
.i_about-us .i_seo:after {
  content: " ";
  background-image: url("../img/svg/bg-element-light_1-rotate.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 10%;
  right: 55%;
  transform: translate(-50%, -50%);
  height: 800px;
  min-width: 800px;
  z-index: -1;
}
.i_about-us .i_seo {
  background-color: var(--bg-second);
  padding: 70px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.i_about-us .i_seo .i_seo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.i_about-us .i_seo .i_seo-title .i_seo-title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 30px;
}
.i_about-us .i_seo .i_seo-title .i_seo-title-icon svg {
  color: var(--color-circleIcon);
  margin: 1px 0 0 3px;
}
@media screen and (max-width: 760px) {
  .i_about-us .i_seo .i_seo-title .i_seo-title-icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
  .i_about-us .i_seo .i_seo-title .i_seo-title-icon svg {
    width: 25px;
    height: 25px;
  }
}
.i_about-us .i_seo .i_seo-title .i_seo-title-name {
  display: flex;
  justify-content: flex-start;
}
.i_about-us .i_seo .i_seo-title .i_seo-title-name span {
  font-size: 32px;
  font-weight: 400;
}
@media screen and (max-width: 1330px) {
  .i_about-us .i_seo .i_seo-title .i_seo-title-name span {
    font-size: 28px;
  }
}
@media screen and (max-width: 760px) {
  .i_about-us .i_seo .i_seo-title .i_seo-title-name span {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .i_about-us .i_seo .i_seo-title .i_seo-title-name span {
    font-size: 21px;
  }
}
.i_about-us .i_seo .i_seo-dates:before {
  content: " ";
  position: absolute;
  bottom: 0;
  width: calc(100% - 1px);
  background-image: url("../img/svg/doth-vertical_downGrey.svg");
  height: 10px;
  background-size: 10px;
}
.i_about-us .i_seo .i_seo-dates {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 70px 0 50px 0;
}
.i_about-us .i_seo .i_seo-dates .i_seo-dates-switch {
  width: 96px;
  height: 60px;
  background-color: var(--color-circlesThird);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.i_about-us .i_seo .i_seo-dates .i_seo-dates-switch:hover {
  cursor: pointer;
}
.i_about-us .i_seo .i_seo-dates .i_seo-dates-switch:hover span {
  color: var(--color-red);
}
.i_about-us .i_seo .i_seo-dates .i_seo-dates-switch span {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-black);
}
.i_about-us .i_seo .i_seo-events .i_seo-events-2022 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 70px 0 0 0;
}
.i_about-us .i_seo .i_seo-events .i_seo-events-2022 .i_seo-events-2022-title {
  display: flex;
  justify-content: center;
}
.i_about-us .i_seo .i_seo-events .i_seo-events-2022 .i_seo-events-2022-title span {
  font-size: 20px;
  color: var(--color-black);
  font-weight: 600;
  cursor: text;
}
.i_about-us .i_seo .i_seo-events .i_seo-events-2022 .i_seo-events-2022-title span .i_seo-events-2022-title-color {
  color: var(--color-red);
}
.i_about-us .i_seo .i_seo-events .i_seo-events-2022 .i_seo-events-2022-desc {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.i_about-us .i_seo .i_seo-events .i_seo-events-2022 .i_seo-events-2022-desc .i_seo-events-2022-desc-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.i_about-us .i_seo .i_seo-events .i_seo-events-2022 .i_seo-events-2022-desc .i_seo-events-2022-desc-group:nth-child(3) {
  padding: 20px 0 0 0;
}
.i_about-us .i_seo .i_seo-events .i_seo-events-2022 .i_seo-events-2022-desc .i_seo-events-2022-desc-group:nth-child(3) .i_seo-events-2022-desc-headline-lostWords {
  padding: 20px 0 0 0;
}
.i_about-us .i_seo .i_seo-events .i_seo-events-2022 .i_seo-events-2022-desc .i_seo-events-2022-desc-group .i_seo-events-2022-desc-headline span,
.i_about-us .i_seo .i_seo-events .i_seo-events-2022 .i_seo-events-2022-desc .i_seo-events-2022-desc-group .i_seo-events-2022-desc-headline-lostWords span {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-black);
  cursor: text;
}
.i_about-us .i_seo .i_seo-events .i_seo-events-2022 .i_seo-events-2022-desc .i_seo-events-2022-desc-group .i_seo-events-2022-desc-headline span .i_seo-events-2022-desc-headline-color,
.i_about-us .i_seo .i_seo-events .i_seo-events-2022 .i_seo-events-2022-desc .i_seo-events-2022-desc-group .i_seo-events-2022-desc-headline-lostWords span .i_seo-events-2022-desc-headline-color {
  color: var(--color-red);
}
.i_about-us .i_seo .i_seo-events .i_seo-events-2022 .i_seo-events-2022-desc .i_seo-events-2022-desc-group .i_seo-events-2022-desc-depiction {
  padding: 0 0 0 20px;
}
.i_about-us .i_seo .i_seo-events .i_seo-events-2022 .i_seo-events-2022-desc .i_seo-events-2022-desc-group .i_seo-events-2022-desc-depiction ul li {
  color: var(--color-text-li);
  line-height: 20px;
}
.i_about-us .i_seo .i_seo-events .i_seo-events-2022 .i_seo-events-2022-desc .i_seo-events-2022-desc-group .i_seo-events-2022-desc-depiction ul li span {
  font-size: 15px;
  color: var(--color-black);
  font-family: "Open Sans", sans-serif;
  cursor: text;
}

/*# sourceMappingURL=about-us.css.map */
