.i_blog-page {
  position: relative;
}
.i_blog-page:before {
  content: " ";
  transition: all 0.4s ease;
  background-image: url("../img/svg/bg-element-light_2.svg");
  background-repeat: no-repeat;
  background-position-x: 125%;
  background-position-y: 15%;
  position: absolute;
  width: 800px;
  height: 800px;
  right: -110px;
  z-index: -1;
  top: 10%;
}
.i_blog-page .i_container .i_blog-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 50px 0 50px 0;
}
.i_blog-page .i_container .i_blog-title .i_blog-title-icon {
  width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/svg/our-blog-icon_w.svg");
  background-repeat: no-repeat;
  background-position-x: 65%;
  background-position-y: 50%;
}
.i_blog-page .i_container .i_blog-title .i_blog-title-icon svg {
  color: var(--color-circleIcon);
}
@media screen and (max-width: 760px) {
  .i_blog-page .i_container .i_blog-title .i_blog-title-icon {
    width: 40px;
    height: 40px;
    background-size: 26px;
  }
}
.i_blog-page .i_container .i_blog-title .i_blog-title-name {
  display: flex;
  justify-content: flex-start;
}
.i_blog-page .i_container .i_blog-title .i_blog-title-name span {
  font-size: 32px;
  font-weight: 400;
  color: var(--color-black);
}
@media screen and (max-width: 1330px) {
  .i_blog-page .i_container .i_blog-title .i_blog-title-name span {
    font-size: 28px;
  }
}
@media screen and (max-width: 760px) {
  .i_blog-page .i_container .i_blog-title .i_blog-title-name span {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .i_blog-page .i_container .i_blog-title .i_blog-title-name span {
    font-size: 21px;
  }
}
@media screen and (max-width: 1000px) {
  .i_blog-page .i_container .i_blog-title .i_blog-title-name {
    width: 50%;
  }
}
@media screen and (max-width: 760px) {
  .i_blog-page .i_container .i_blog-title .i_blog-title-name {
    width: unset;
  }
}
.i_blog-page .i_container .bx_sitemap {
  margin: 0;
}
.i_blog-page .i_container .bx_sitemap ul li {
  line-height: unset;
}
@media screen and (max-width: 1330px) {
  .i_blog-page .i_container .bx_sitemap ul li {
    line-height: 0;
  }
}
.i_blog-page .i_container .bx_sitemap ul li .i_blog-dropdown-menu li:nth-child(n) {
  background-color: transparent;
}
.i_blog-page .i_container .bx_sitemap ul li .i_blog-dropdown-menu li:nth-child(n) .bx_sitemap_li_title {
  display: block !important;
}
.i_blog-page .i_container .bx_sitemap ul li .i_blog-dropdown-menu li:nth-child(n) .bx_sitemap_li_title a {
  color: var(--color-black) !important;
}
@media screen and (max-width: 400px) {
  .i_blog-page .i_container .bx_sitemap ul li .i_blog-dropdown-menu li:nth-child(n) .bx_sitemap_li_title a {
    font-size: 14px;
    padding: 0 0 0 10px;
  }
}
.i_blog-page .i_container .bx_sitemap ul li .i_blog-dropdown-menu li:nth-child(n):before {
  background-image: url("../img/svg/blog-icon-2_b.svg") !important;
  background-size: 50px !important;
  background-position: center !important;
  width: 40px !important;
  height: 40px !important;
  background-color: var(--bg-buttonHover) !important;
  border-radius: 30px !important;
}
.i_blog-page .i_container .bx_sitemap ul li .i_blog-dropdown-menu li:nth-child(n).menu-all-articles {
  background-color: var(--bg-buttonHover);
}
.i_blog-page .i_container .bx_sitemap ul li .i_blog-dropdown-menu li:nth-child(n).menu-all-articles:before {
  background-color: var(--bg-fourth) !important;
}
@media screen and (max-width: 480px) {
  .i_blog-page .i_container .bx_sitemap ul li:nth-child(n) {
    display: none;
  }
}
.i_blog-page .i_container .bx_sitemap ul li:nth-child(n):before {
  content: " ";
  background-image: url("../img/svg/blog-icon-2_b.svg");
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  position: absolute;
  background-size: 54px;
  width: 54px;
  height: 54px;
}
.i_blog-page .i_container .bx_sitemap ul .menu-all-articles:before {
  content: " ";
  background-image: url("../img/svg/blog-icon-2_w.svg") !important;
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  position: absolute;
  background-size: 54px;
  width: 54px;
  height: 54px;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1):before {
  content: " ";
  background-image: url("../img/svg/blog-icon_b.svg") !important;
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  position: absolute;
  background-size: 54px;
  width: 54px;
  height: 54px;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1).menu-all-articles:before {
  background-image: url("../img/svg/blog-icon_w.svg") !important;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-dropdown-menu {
  display: none;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-menu {
  background-color: var(--bg-seventh);
}
@media screen and (max-width: 480px) {
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) {
    width: 90vw;
    display: flex !important;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1).menu-all-articles {
    margin: 0;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .bx_sitemap_li_title {
    padding: 0;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .bx_sitemap_li_title a {
    font-size: 16px;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1).i_blog-open-dropdown .i_blog-dropdown-menu {
    transform: translateY(140px);
    opacity: 1;
    visibility: visible;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1).i_blog-open-dropdown .i_blog-menu:after {
    transform: rotate(225deg);
    top: 15px;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-dropdown-menu:before {
    content: " ";
    border: 20px solid transparent;
    border-bottom: 20px solid var(--color-circlesThird);
    position: absolute;
    top: -10%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-dropdown-menu {
    position: absolute;
    background-color: var(--color-circlesThird);
    max-width: 90vw;
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    gap: 10px;
    padding: 15px;
    box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.11);
    transform: translateY(70px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-dropdown-menu li:nth-child(n) {
    display: flex;
    width: 80vw;
    height: 40px;
    align-items: center;
    margin: 0;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-dropdown-menu li:nth-child(n):before {
    content: " ";
    background-image: url("../img/svg/blog-icon-2_b.svg") !important;
    background-repeat: no-repeat;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
    background-size: 54px;
    width: 54px;
    height: 54px;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-dropdown-menu li:nth-child(n):after {
    content: none;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-dropdown-menu li:nth-child(n).menu-all-articles {
    background-color: var(--bg-fourth);
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-dropdown-menu li:nth-child(n).menu-all-articles .bx_sitemap_li_title a {
    color: var(--color-red-b) !important;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-dropdown-menu li:nth-child(n) .bx_sitemap_li_title a {
    color: var(--color-black);
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-menu {
    width: 90vw;
    display: flex !important;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--color-circlesFourth);
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-menu:before {
    content: " ";
    background-image: url("../img/svg/blog-icon_w.svg") !important;
    background-repeat: no-repeat;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
    background-size: 54px;
    width: 54px;
    height: 54px;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-menu:after {
    content: " ";
    position: absolute;
    z-index: 1;
    top: 35%;
    right: 6%;
    border: solid var(--color-White);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    transition: all 0.4s ease;
  }
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul .menu-all-articles {
  background-color: var(--color-circles);
  margin: 20px 20px 0 0;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul .menu-all-articles .bx_sitemap_li_title {
  line-height: unset;
  margin: 0;
  padding: 20px 30px 20px 50px;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul .menu-all-articles .bx_sitemap_li_title a {
  color: var(--color-White);
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li {
  list-style-type: none;
  background-color: var(--color-circlesSecond);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.02);
  position: relative;
  border-radius: 30px;
  margin: 20px 20px 0 0;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:hover {
  cursor: pointer;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:hover .bx_sitemap_li_title a {
  transition: all 0.4s ease;
  color: var(--color-red);
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li .bx_sitemap_li_title {
  font-size: 20px;
  line-height: unset;
  margin: 0;
  padding: 20px 30px 20px 50px;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li .bx_sitemap_li_title a {
  text-decoration: none;
  font-size: 20px;
  color: var(--color-black);
}
@media screen and (max-width: 1600px) {
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li .bx_sitemap_li_title a {
    font-size: 18px;
  }
}
@media screen and (max-width: 1330px) {
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li .bx_sitemap_li_title a {
    font-size: 14px;
  }
}
.i_blog-page .i_container .catalog-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 70px 0 70px 0;
}
.i_blog-page .i_container .catalog-section .product-item-small-card .row {
  display: flex;
}
.i_blog-page .i_container .catalog-section .product-item-small-card .row .product-item-big-card .row {
  gap: 0;
}
@media screen and (max-width: 1270px) {
  .i_blog-page .i_container .catalog-section {
    gap: 0px;
  }
  .i_blog-page .i_container .catalog-section .product-item-small-card .row {
    display: flex;
    flex-direction: column;
  }
  .i_blog-page .i_container .catalog-section .product-item-small-card .row .product-item-big-card {
    width: 100%;
    max-width: 1235px;
    display: flex;
  }
  .i_blog-page .i_container .catalog-section .product-item-small-card .row .product-item-big-card .row {
    padding: 0 0 30px 0;
  }
}
.i_blog-page .i_container .catalog-section .col-md-12 {
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (max-width: 480px) {
  .i_blog-page .i_container .catalog-section .col-md-12 {
    padding: 0 10px 0 10px;
  }
}
.i_blog-page .i_container .catalog-section .product-item-container {
  display: flex;
  gap: 30px;
}
.i_blog-page .i_container .catalog-section .product-item-container .product-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 745px;
  width: 100%;
  height: max-content;
  border-radius: 30px;
  padding: 30px;
  background-color: var(--color-blockHv);
}
@media screen and (max-width: 1520px) {
  .i_blog-page .i_container .catalog-section .product-item-container .product-item {
    min-height: 380px;
  }
}
@media screen and (max-width: 1270px) {
  .i_blog-page .i_container .catalog-section .product-item-container .product-item {
    min-height: unset;
    width: 100%;
    max-width: 1235px;
  }
}
@media screen and (max-width: 1080px) {
  .i_blog-page .i_container .catalog-section .product-item-container .product-item {
    max-width: 1020px;
    width: 100%;
  }
}
@media screen and (max-width: 590px) {
  .i_blog-page .i_container .catalog-section .product-item-container .product-item {
    display: none;
  }
}
.i_blog-page .i_container .catalog-section .product-item-container .product-item:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.4s ease;
  background-color: #f9f9f9;
}
.i_blog-page .i_container .catalog-section .product-item-container .product-item:hover .product-item-right .product-item-content .product-item-name span {
  color: var(--color-red);
}
.i_blog-page .i_container .catalog-section .product-item-container .product-item .product-item-left {
  width: 40%;
}
@media screen and (max-width: 1270px) {
  .i_blog-page .i_container .catalog-section .product-item-container .product-item .product-item-left {
    width: 25%;
  }
}
.i_blog-page .i_container .catalog-section .product-item-container .product-item .product-item-left .product-item-img {
  max-width: 290px;
  width: 100%;
  height: auto;
}
.i_blog-page .i_container .catalog-section .product-item-container .product-item .product-item-left .product-item-img img {
  width: 100%;
  height: 100%;
}
.i_blog-page .i_container .catalog-section .product-item-container .product-item .product-item-right {
  width: 49%;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 50px;
}
@media screen and (max-width: 1270px) {
  .i_blog-page .i_container .catalog-section .product-item-container .product-item .product-item-right {
    width: 65%;
  }
}
.i_blog-page .i_container .catalog-section .product-item-container .product-item .product-item-right .product-item-top {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.i_blog-page .i_container .catalog-section .product-item-container .product-item .product-item-right .product-item-top .product-item-date {
  width: max-content;
}
.i_blog-page .i_container .catalog-section .product-item-container .product-item .product-item-right .product-item-top .product-item-date span {
  font-size: 13px;
  font-weight: 600;
  color: #7c7c7c;
}
.i_blog-page .i_container .catalog-section .product-item-container .product-item .product-item-right .product-item-top .product-item-topic {
  width: 50%;
  min-width: 186px;
  background-color: var(--color-bg-sticker);
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 12px;
}
.i_blog-page .i_container .catalog-section .product-item-container .product-item .product-item-right .product-item-top .product-item-topic span {
  color: var(--color-WhiteWhite);
}
.i_blog-page .i_container .catalog-section .product-item-container .product-item .product-item-right .product-item-content {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.i_blog-page .i_container .catalog-section .product-item-container .product-item .product-item-right .product-item-content .product-item-name span {
  font-size: 18px;
  line-height: 22px;
  color: var(--color-textInfoblock);
}
.i_blog-page .i_container .catalog-section .product-item-container .product-item .product-item-right .product-item-content .product-item-title {
  overflow: hidden;
  margin-bottom: 15px;
  text-overflow: ellipsis;
  white-space: wrap;
}
@media screen and (max-width: 590px) {
  .i_blog-page .i_container .catalog-section .product-item-container .product-item .product-item-right .product-item-content .product-item-title {
    display: none;
  }
}
.i_blog-page .i_container .catalog-section .product-item-container .product-item .product-item-right .product-item-content .product-item-title span {
  line-height: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  cursor: text;
  color: var(--color-textInfoblock);
}
.i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second {
  display: none;
}
@media screen and (max-width: 590px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second {
    display: flex;
    max-width: 530px;
    width: 100%;
    height: max-content;
    border-radius: 30px;
    padding: 30px;
    background-color: var(--color-blockHv);
    flex-direction: column;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second {
    padding: 20px;
  }
}
@media screen and (max-width: 590px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.4s ease;
    background-color: #f9f9f9;
  }
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second:hover .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-name span {
    color: var(--color-red);
  }
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top {
    display: none;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-left {
    display: block;
    width: 36%;
  }
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-left .i_vacantion-img {
    max-width: 290px;
    width: 100%;
    height: auto;
  }
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-left .i_vacantion-img img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right {
    padding: 0 0 0 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) and (max-width: 360px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right {
    padding: 0 0 0 15px;
    gap: 15px;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .product-item-date {
    width: max-content;
  }
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .product-item-date span {
    font-size: 13px;
    font-weight: 600;
    color: #7c7c7c;
  }
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-topic {
    width: 100%;
    max-width: 200px;
    min-width: 186px;
    background-color: var(--color-bg-sticker);
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 12px;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) and (max-width: 360px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-topic {
    min-width: 160px;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-topic span {
    font-size: 13px;
    color: var(--color-WhiteWhite);
    cursor: text;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) and (max-width: 360px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-topic span {
    font-size: 11px;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-name span {
    font-size: 16px;
    line-height: 18px;
    color: var(--color-textInfoblock);
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) and (max-width: 360px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-name span {
    font-size: 14px;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-title {
    display: none;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-title span {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    cursor: text;
    color: var(--color-textInfoblock);
    line-height: 16px;
  }
}
@media screen and (max-width: 590px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacantion-item-right.second {
    display: none;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacantion-item-right.second {
    display: flex;
    padding: 30px 0 0 0;
    width: 100%;
  }
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacantion-item-right.second .i_vacantion-item-title {
    display: flex;
    font-family: "Open Sans", sans-serif;
  }
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacantion-item-right.second .i_vacantion-item-title span {
    line-height: 16px;
    color: var(--color-textInfoblock);
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacantion-item-right.second .i_vacantion-item-title span {
    font-size: 14px;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 360px) {
  .i_blog-page .i_container .catalog-section .product-item-container .i_vacantion-item.second .i_vacantion-item-right.second .i_vacantion-item-title span {
    font-size: 12px;
  }
}
.i_blog-page .i_container .i_blog-btn {
  display: flex;
  justify-content: center;
}
.i_blog-page .i_container .i_blog-btn button {
  padding: 16px 44px;
}
@media screen and (max-width: 760px) {
  .i_blog-page .i_container .i_blog-btn button {
    font-size: 14px;
  }
}
@media screen and (max-width: 360px) {
  .i_blog-page .i_container .i_blog-btn button {
    padding: 12px 38px;
  }
}

/*# sourceMappingURL=blog.css.map */
