.i_contacts{
  //CONTACTS TITLE
  .i_contacts-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 50px 0 70px 0;
    //CONTACTS TITLE ICON
    .i_contacts-title-icon{
      width: 50px;
      height: 50px;
      background-color: var(--color-circles);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("../img/svg/contacts-icon_w.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50px;
      @media screen and (max-width: 760px){
        width: 40px;
        height: 40px;
        background-size: 40px;
      }
    }
    //!CONTACTS TITLE ICON
    //CONTACTS TITLE NAME
    .i_contacts-title-name{
      display: flex;
      justify-content: flex-start;
      span{
        font-size: 32px;
        font-weight: 400;
        color: var(--color-black);
        @media screen and (max-width: 1330px){
          font-size: 28px;
        }
        @media screen and (max-width: 760px){
          font-size: 26px;
        }
        @media screen and (max-width: 480px){
          font-size: 21px;
        }
      }
      @media screen and (max-width: 1000px){
        width: 50%;
      }
      @media screen and (max-width: 760px){
        width: unset;
      }

    }
    //!CONTACTS TITLE NAME
  }
  //!CONTACTS TITLE
  //CONTACTS CONTENT
  .i_contacts-content{
    display: flex;
    overflow: hidden;
    border-radius: 30px;
    margin: 0 0 70px 0;
    @media screen and (max-width: 750px){
      flex-direction: column;
    }
    //CONTACTS CONTENT MAP
    .i_contacts-map{
      max-width: 1130px;
      width: 70%;
      @media screen and (max-width: 1330px){
        max-width: 900px;
        width: 70%;
      }
      @media screen and (max-width: 1000px){
        max-width: 625px;
        width: 66%;
      }
      @media screen and (max-width: 750px){
        max-width: 480px;

      }
    }
    //!CONTACTS CONTENT MAP
    //CONTACTS CONTENT INFO
    .i_contacts-info{
      display: flex;
      flex-direction: column;
      background-color: var(--bg-second);
      width: 100%;
      min-width: 238px;
      //CONTACTS INFO TITLE
      .i_contacts-info-title{
        //CONTACTS INFO TITLE ICON
        .i_contacts-info-icon{
          padding: 40px 30px;
          border-bottom: 5px dotted #666666;
          @media screen and (max-width: 980px){
            padding: 30px 20px;
          }
          //CONTACTS INFO ITEM ICON PIC
          .i_contacts-info-pic{
            background-image: url("../img/svg/logo-exsolcome-icon_b.svg");
            background-repeat: no-repeat;
            background-size: 270px;
            max-width: 270px;
            width: 100%;
            min-height: 50px;
            height: 100%;
            @media screen and (max-width: 1330px){
              min-height: 40px;
              background-size: 215px;
            }
            @media screen and (max-width: 980px){
              min-height: 40px;
              background-size: 180px;
              width: 90%;
            }
          }
          //!CONTACTS INFO ITEM ICON PIC
        }
        //!CONTACTS INFO TITLE ICON
        //CONTACTS INFO TITLE DESC
        .i_contacts-info-desc{
          display: flex;
          flex-direction: column;
          padding: 40px 30px;
          gap: 20px;
          @media screen and (max-width: 980px){
            padding: 40px 20px;
          }
          @media screen and (max-width: 500px){
            gap: 0;
          }
          //CONTACTS INFO TITLE DESC ITEM ADDRESS
          .i_contacts-info-item.address{
            display: flex;
            gap: 20px;
            align-items: flex-start;
            padding: 0 0 40px 0;
            @media screen and (max-width: 750px){
              gap: 15px;
            }
            //CONTACTS INFO ITEM ICON
            .i_contacts-info-item-icon{
              min-width: 50px;
              height: 50px;
              background-color: var(--color-circles);
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              background-image: url("../img/svg/contacts-icon_w.svg");
              background-repeat: no-repeat;
              background-position: center;
              background-size: 50px;
              @media screen and (max-width: 1330px){
                min-width: 40px;
                height: 40px;
                background-size: 40px;
              }
              &:hover{
                transition: all .4s ease;
                background-color: var(--color-circlesThird);
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
                background-image: url("../img/svg/contacts-icon_r.svg");
              }
            }
            //!CONTACTS INFO ITEM ICON
            //CONTACTS INFO ITEM NAME
            .i_contacts-info-item-name{
              .family-text{
                font-family: "Open Sans", sans-serif;
                font-size: 13px;
                color: var(--color-black);
              }

              a{
                text-decoration: none;
              }
            }
            //!CONTACTS INFO ITEM NAME
          }
          //!CONTACTS INFO TITLE DESC ITEM ADDRESS
          .i_contact-items{
            display: flex;
            flex-direction: column;
            gap: 20px;
            @media screen and (max-width: 750px){
              flex-direction: row;
              justify-content: space-between;
              gap: 30px;
            }
            @media screen and (max-width: 500px){
              flex-direction: column;
              gap: 30px;
            }
            //CONTACTS INFO TITLE DESC ITEM
            .i_contacts-info-item{
              display: flex;
              gap: 20px;
              align-items: center;
              @media screen and (max-width: 750px){
                gap: 15px;
              }
              //CONTACTS INFO ITEM ICON
              .i_contacts-info-item-icon,
              .i_contacts-info-item-icon_wht,
              .i_contacts-info-item-icon_em{
                min-width: 50px;
                height: 50px;
                background-color: var(--color-circles);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: url("../img/svg/contacts-icon_w.svg");
                background-repeat: no-repeat;
                background-position-x: 65%;
                background-position-y: 50%;
                @media screen and (max-width: 1330px){
                  min-width: 40px;
                  height: 40px;
                  background-size: 40px !important;
                }
              }
              .i_contacts-info-item-icon_wht{
                background-image: url("../img/svg/whatsapp-icon_w.svg");
                background-size: 55px;
                &:hover{
                  transition: all .4s ease;
                  background-color: var(--color-circlesThird);
                  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
                  background-image: url("../img/svg/whatsapp-icon_r.svg");
                }
              }
              .i_contacts-info-item-icon_em{
                background-image: url("../img/svg/email-icon_w.svg");
                background-size: 50px;
                background-position: center;
                &:hover{
                  transition: all .4s ease;
                  background-color: var(--color-circlesThird);
                  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
                  background-image: url("../img/svg/email-icon_r.svg");
                }
              }
              //!CONTACTS INFO ITEM ICON
              //CONTACTS INFO ITEM NAME
              .i_contacts-info-item-name{
                .family-text{
                  font-family: "Open Sans", sans-serif;
                  font-size: 13x;
                  color: var(--color-black);
                }
                a{
                  text-wrap: nowrap;
                  text-decoration: none;
                }
              }
              //!CONTACTS INFO ITEM NAME
            }
            //!CONTACTS INFO TITLE DESC ITEM
          }
        }
        //!CONTACTS INFO TITLE DESC
        //CONTACTS INFO TITLE BTN
        .i_contacts-btn{
          display: flex;
          padding: 0 30px;
          @media screen and (max-width: 980px){
            padding: 0 20px;
          }
          @media screen and (max-width: 750px){
            justify-content: center;
            padding: 30px 0 30px 0;
          }
          button{
            padding: 16px 44px;
            @media screen and (max-width: 1000px){
              width: 100%;
            }
            @media screen and (max-width: 980px){
              font-size: 14px;
              padding: 12px 22px;
            }
            @media screen and (max-width: 750px){
              width: 100%;
              max-width: 200px;
            }
            @media screen and (max-width: 360px){
              padding: 12px 38px;
            }
            &:hover{
              background-color: var(--color-WhiteWhite);
            }
          }
        }
        //!CONTACTS INFO TITLE BTN
      }
      //!CONTACTS INFO TITLE
    }
    //!CONTACTS CONTENT INFO
  }
  //!CONTACTS CONTENT
}
