html[data-theme=dark] .i_modal .i_modal-content .i_snippet.important-info .i_snippet.binary-vertical-table .i_snippet-top .i_footer-left-icons-item .i_footer-left-icons-item-circles {
  background-image: url(../img/svg/whatsapp-icon_b.svg);
  background-repeat: no-repeat;
  background-size: 55px;
  background-position-x: 65%;
  background-position-y: 50%;
}
html[data-theme=dark] .i_modal .i_modal-content .i_snippet.important-info .i_snippet.binary-vertical-table .i_snippet-top .i_footer-left-icons-item .i_footer-left-icons-item-circles:hover {
  background-color: var(--color-circlesHover);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  background-image: url(../img/svg/whatsapp-icon_r.svg);
  background-repeat: no-repeat;
  background-size: 55px;
  background-position-x: 65%;
  background-position-y: 50%;
}
@media screen and (max-width: 1330px) {
  html[data-theme=dark] .i_modal .i_modal-content .i_snippet.important-info .i_snippet.binary-vertical-table .i_snippet-top .i_footer-left-icons-item .i_footer-left-icons-item-circles:hover {
    background-size: 48px;
  }
}
@media screen and (max-width: 1330px) {
  html[data-theme=dark] .i_modal .i_modal-content .i_snippet.important-info .i_snippet.binary-vertical-table .i_snippet-top .i_footer-left-icons-item .i_footer-left-icons-item-circles {
    background-size: 48px;
  }
}
html[data-theme=dark] .i_submit .i_submit-close,
html[data-theme=dark] .i_form-kp .i_submit-close {
  background-image: url("../img/svg/closeModal-white.svg");
}
html[data-theme=dark] .i_side-menu .i_side-menu-close {
  background-image: url("../img/svg/closeModal-white.svg");
}
html[data-theme=dark] .i_side-menu .left-menu li:nth-child(1) .menu-img {
  background-image: url("../img/svg/programm-products_b.svg");
}
html[data-theme=dark] .i_side-menu .left-menu li:nth-child(2) .menu-img {
  background-image: url("../img/svg/our-cases_b.svg");
}
html[data-theme=dark] .i_side-menu .left-menu li:nth-child(3) .menu-img {
  background-image: url("../img/svg/projects-icon_b.svg");
}
html[data-theme=dark] .i_side-menu .left-menu li:nth-child(4) .menu-img {
  background-image: url("../img/svg/our-services-b.svg");
}
html[data-theme=dark] .i_side-menu .left-menu li:nth-child(5) .menu-img {
  background-image: url("../img/svg/pairs-icon_b.svg");
}
html[data-theme=dark] .i_side-menu .left-menu li:nth-child(6) .menu-img {
  background-image: url("../img/svg/vacantion-icon_b.svg");
}
html[data-theme=dark] .i_side-menu .left-menu li:nth-child(7) .menu-img {
  background-image: url("../img/svg/about-company-icon_b.svg");
}
html[data-theme=dark] .i_side-menu .left-menu li:nth-child(8) .menu-img {
  background-image: url("../img/svg/contact-icon-b.svg");
}
html[data-theme=dark] .i_header-bottom .i_container .i_banner-group_social .i_banner-night_sun_item {
  background-image: url("../img/svg/icon-chage-team/day-icon_b.svg") !important;
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1330px) {
  html[data-theme=dark] .i_header-bottom .i_container .i_banner-group_social .i_banner-night_sun_item {
    background-size: 35px;
  }
}
html[data-theme=dark] .i_header .i_header-more .i_search-wrapper {
  background-image: url("../img/svg/lupa-icon_b.svg") !important;
}
html[data-theme=dark] .i_header .i_header-more .i_search-wrapper:hover {
  background-image: url("../img/svg/lupa-icon_w.svg") !important;
}
html[data-theme=dark] .i_header .i_header-more #myCircles.wide .close_hide_menu {
  background-image: url("../img/svg/close-iconNight.svg") !important;
}
html[data-theme=dark] .i_header .i_header-more #title-search .i_search-close {
  background-image: url("../img/svg/close-iconNight.svg") !important;
}
html[data-theme=dark] .i_header .i_search-container #title-search .i_search-close {
  background-image: url("../img/svg/close-iconNight.svg") !important;
}
html[data-theme=dark] .i_header .i_search-container #title-search .i_search-close:hover {
  background-image: url("../img/svg/close-iconLight.svg") !important;
}
html[data-theme=dark] .i_header .i_search-container #title-search .i_search-submit {
  background-image: url("../img/svg/lupa-icon-white.svg");
}
html[data-theme=dark] .i_header .i_search-container #title-search .i_search-submit:hover {
  background-image: url("../img/svg/lupa-icon_r.svg");
}
html[data-theme=dark] .i_main .i_products .swiper-slide:hover:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  height: 200%;
  background-image: url("../img/svg/slider-hover-products-dark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  border-radius: 50%;
}
html[data-theme=dark] .i_main .i_projects .swiper.projects-swiper .swiper-slide .swiper-slide:hover {
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.2);
  background-color: var(--bg-blockSliderProjectHover);
}
html[data-theme=dark] .i_main .i_projects .swiper.projects-swiper .swiper-slide .swiper-slide:hover:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  height: 200%;
  background-image: url("../img/svg/slider-hover-projects-dark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  border-radius: 50%;
}
html[data-theme=dark] .i_main .i_partners .i_partners-title .i_partners-title-icon {
  background-image: url("../img/svg/partners-icon_b.svg");
}
html[data-theme=dark] .i_main .i_partners .partners-list .partners-item:hover:before {
  background-image: url("../img/svg/hover-programm-products-b-night.svg");
}
html[data-theme=dark] .i_main .i_contacts .i_contacts-title .i_contacts-title-icon {
  background-image: url("../img/svg/contacts-icon_b.svg");
}
html[data-theme=dark] .i_main .i_contacts .i_contacts-content .i_contacts-info .i_contacts-info-title .i_contacts-info-icon .i_contacts-info-pic {
  background-image: url("../img/svg/logo-exsolcome-icon_w.svg");
}
html[data-theme=dark] .i_main .i_contacts .i_contacts-content .i_contacts-info .i_contacts-info-title .i_contacts-info-desc .i_contacts-info-item.address .i_contacts-info-item-icon {
  background-image: url("../img/svg/contacts-icon_b.svg");
}
html[data-theme=dark] .i_main .i_contacts .i_contacts-content .i_contacts-info .i_contacts-info-title .i_contacts-info-desc .i_contacts-info-item.address .i_contacts-info-item-icon:hover {
  background-image: url("../img/svg/contacts-icon_r.svg");
}
html[data-theme=dark] .i_main .i_contacts .i_contacts-content .i_contacts-info .i_contacts-info-title .i_contacts-info-desc .i_contact-items .i_contacts-info-item .i_contacts-info-item-icon_wht {
  background-image: url("../img/svg/whatsapp-icon_b.svg");
}
html[data-theme=dark] .i_main .i_contacts .i_contacts-content .i_contacts-info .i_contacts-info-title .i_contacts-info-desc .i_contact-items .i_contacts-info-item .i_contacts-info-item-icon_wht:hover {
  background-image: url("../img/svg/whatsapp-icon_r.svg");
}
html[data-theme=dark] .i_main .i_contacts .i_contacts-content .i_contacts-info .i_contacts-info-title .i_contacts-info-desc .i_contact-items .i_contacts-info-item .i_contacts-info-item-icon_em {
  background-image: url("../img/svg/email-icon_b.svg");
}
html[data-theme=dark] .i_main .i_contacts .i_contacts-content .i_contacts-info .i_contacts-info-title .i_contacts-info-desc .i_contact-items .i_contacts-info-item .i_contacts-info-item-icon_em:hover {
  background-image: url("../img/svg/email-icon_r.svg");
}
html[data-theme=dark] .i_main .i_programms .i_programms-title .i_programms-title-icon {
  width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/svg/programm-products_b.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position-x: 65%;
  background-position-y: 50%;
}
@media screen and (max-width: 760px) {
  html[data-theme=dark] .i_main .i_programms .i_programms-title .i_programms-title-icon {
    width: 40px;
    height: 40px;
    background-size: 40px;
  }
}
html[data-theme=dark] .i_main .i_services .i_projects-title .i_projects-title-icon {
  background-image: url("../img/svg/projects-icon_b.svg");
}
@media screen and (max-width: 760px) {
  html[data-theme=dark] .i_main .i_services .i_projects-title .i_projects-title-icon {
    width: 40px;
    height: 40px;
    background-size: 36px;
  }
}
html[data-theme=dark] .i_main .i_services .i_projects-section .i_projects-section__item a:hover:before {
  background-image: url("../img/svg/slider-hover-products-dark.svg");
}
html[data-theme=dark] .i_main .i_services .i_services-title .i_services-title-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/svg/our-services-b.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position-x: 65%;
  background-position-y: 50%;
}
@media screen and (max-width: 760px) {
  html[data-theme=dark] .i_main .i_services .i_services-title .i_services-title-icon {
    width: 40px;
    height: 40px;
    background-size: 40px;
  }
}
html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles_1 {
  background-image: url("../img/svg/group-banner-icons/banner-icon_1_w.svg");
}
html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles_2 {
  background-image: url("../img/svg/group-banner-icons/banner-icon_2_w.svg");
}
html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles_3 {
  background-image: url("../img/svg/group-banner-icons/banner-icon_3_w.svg");
}
html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles_4 {
  background-image: url("../img/svg/group-banner-icons/banner-icon_4_w.svg");
}
html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles_1,
html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles_2,
html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles_3,
html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles_4 {
  background-color: var(--color-circlesSecond);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position-x: 65%;
  background-position-y: 50%;
}
@media screen and (max-width: 1330px) {
  html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles_1,
  html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles_2,
  html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles_3,
  html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles_4 {
    width: 40px;
    height: 40px;
    background-color: var(--color-circlesSecond);
    background-size: 40px;
  }
}
@media screen and (max-width: 1330px) {
  html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles_1,
  html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles_2,
  html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles_3,
  html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles_4 {
    background-color: var(--color-red);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: 65%;
    background-position-y: 50%;
  }
  html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles_1 svg,
  html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles_2 svg,
  html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles_3 svg,
  html[data-theme=dark] .i_main .i_banner .i_banner-container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles_4 svg {
    color: var(--color-nochangeSecondIcon);
  }
}
@media screen and (max-width: 480px) {
  html[data-theme=dark] .i_main .i_infoblock:before {
    content: " ";
    background-image: url("../img/svg/bg-element-dark_2.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 54%;
    right: 90%;
    transform: translate(50%, 50%);
    height: 800px;
    min-width: 800px;
    z-index: -1;
  }
}
html[data-theme=dark] .i_main .i_cases .i_cases-title .i_cases-title-icon {
  background-image: url("../img/svg/our-cases_b.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 65%;
  background-position-y: 50%;
}
html[data-theme=dark] .i_main .i_cases .i_projects-section .i_projects-section__item a:hover:before {
  background-image: url("../img/svg/slider-hover-products-dark.svg");
}
html[data-theme=dark] .i_main .i_blog .i_blog-title .i_blog-title-icon {
  background-image: url("../img/svg/our-blog-icon_b.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 65%;
  background-position-y: 50%;
}
html[data-theme=dark] .i_main .i_blog .bx_sitemap {
  margin: 0;
}
html[data-theme=dark] .i_main .i_blog .bx_sitemap ul li:nth-child(n):before {
  content: " ";
  background-image: url("../img/svg/blog-icon-2_w.svg");
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  position: absolute;
  background-size: 54px;
  width: 54px;
  height: 54px;
}
@media screen and (max-width: 1330px) {
  html[data-theme=dark] .i_main .i_blog .bx_sitemap ul li:nth-child(n):before {
    background-size: 40px;
  }
}
html[data-theme=dark] .i_main .i_blog .bx_sitemap ul .menu-all-articles:before {
  content: " ";
  background-image: url("../img/svg/blog-icon-2_b.svg") !important;
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  position: absolute;
  background-size: 54px;
  width: 54px;
  height: 54px;
}
@media screen and (max-width: 1330px) {
  html[data-theme=dark] .i_main .i_blog .bx_sitemap ul .menu-all-articles:before {
    background-size: 40px;
  }
}
html[data-theme=dark] .i_main .i_blog .bx_sitemap .bx_sitemap_ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
html[data-theme=dark] .i_main .i_blog .bx_sitemap .bx_sitemap_ul li:nth-child(1):before {
  background-image: url("../img/svg/blog-icon_w.svg") !important;
}
html[data-theme=dark] .i_main .i_blog .bx_sitemap .bx_sitemap_ul li:nth-child(1).menu-all-articles:before {
  background-image: url("../img/svg/blog-icon_b.svg") !important;
}
html[data-theme=dark] .i_main .i_news-page {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url(../img/svg/bg-element-dark_2.svg);
  background-repeat: no-repeat;
  background-position-x: 125%;
  background-position-y: 15%;
}
html[data-theme=dark] .i_main .i_about-us .i_about-company:before {
  content: " ";
  background-image: url("../img/svg/bg-image-about-company-White-dark_second.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 100%;
  right: 75%;
  transform: translate(50%, -50%);
  height: 2047.2px;
  min-width: 2047.2px;
  z-index: -1;
}
html[data-theme=dark] .i_main .i_about-us .i_directorship:before {
  content: " ";
  background-image: url("../img/svg/bg-image-about-company-Grey-dark_second.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 135%;
  right: 25%;
  transform: translate(50%, -50%);
  height: 2047.2px;
  min-width: 2047.2px;
  z-index: -1;
}
html[data-theme=dark] .i_main .i_about-us .i_directorship:after {
  content: " ";
  background-image: url("../img/svg/bg-image-about-company-Grey-dark_second.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0%;
  right: 75%;
  transform: translate(50%, -50%);
  height: 2047.2px;
  min-width: 2047.2px;
  z-index: -1;
}
html[data-theme=dark] .i_main .i_about-us .i_team:before {
  content: " ";
  background-image: url("../img/svg/bg-image-about-company-White-dark_second.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 124%;
  right: 50%;
  transform: translate(50%, -50%);
  height: 2047.2px;
  min-width: 2047.2px;
  z-index: -1;
}
html[data-theme=dark] .i_main .i_about-us .i_seo:before {
  content: " ";
  background-image: url("../img/svg/bg-element-dark_1-rotate.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 90%;
  right: 5%;
  transform: translate(50%, -50%);
  height: 800px;
  min-width: 800px;
  z-index: -1;
}
html[data-theme=dark] .i_main .i_about-us .i_seo:after {
  content: " ";
  background-image: url("../img/svg/bg-element-dark_1-rotate.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 10%;
  right: 55%;
  transform: translate(-50%, -50%);
  height: 800px;
  min-width: 800px;
  z-index: -1;
}
html[data-theme=dark] .i_main .i_about-us .i_work-process .i_work-process-body .i_work-process-body-infographic-light {
  display: none;
}
html[data-theme=dark] .i_main .i_about-us .i_work-process .i_work-process-body .i_work-process-body-infographic-night {
  display: block;
  position: absolute;
  z-index: 1;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 40%;
  height: 100%;
}
@media screen and (max-width: 1330px) {
  html[data-theme=dark] .i_main .i_about-us .i_work-process .i_work-process-body .i_work-process-body-infographic-night {
    width: 45%;
  }
}
@media screen and (max-width: 877px) {
  html[data-theme=dark] .i_main .i_about-us .i_work-process .i_work-process-body .i_work-process-body-infographic-night {
    display: none;
  }
}
html[data-theme=dark] .i_main .i_about-us .i_work-process .i_work-process-body .i_work-process-body-infographic-night svg {
  width: 100%;
  height: 100%;
}
html[data-theme=dark] .i_footer .i_footer-left .i_footer-left-icons-item #myCircles2.wide .close_hide_menu2 {
  background-image: url("../img/svg/close-iconNight.svg") !important;
}
html[data-theme=dark] .i_footer .i_footer-right .i_footer-right-groupMore .i_footer-right-moreGroup .i_footer-right-more .i_search-container2 #title-search2 .i_search-close2 {
  background-image: url("../img/svg/close-iconNight.svg") !important;
}
html[data-theme=dark] .i_footer .i_footer-right .i_footer-right-groupMore .i_footer-right-moreGroup .i_footer-right-more .i_search-container2 #title-search2 .i_search-close2:hover {
  background-image: url("../img/svg/close-iconLight.svg") !important;
}
html[data-theme=dark] .i_footer .i_footer-right .i_footer-right-groupMore .i_footer-right-moreGroup .i_footer-right-more .i_footer-right-icons #myCircles3.wide .close_hide_menu3 {
  background-image: url("../img/svg/close-iconNight.svg") !important;
}
html[data-theme=dark] .i_our-services {
  background-image: url("../img/svg/bg-element-dark_1.svg");
}
html[data-theme=dark] .i_personal {
  background-image: url("../img/svg/bg-element-dark_2.svg");
}
html[data-theme=dark] .i_infoblock {
  background-image: url("../img/svg/bg-element-dark_2.svg");
}
html[data-theme=dark] .i_banner .i_container .i_banner-left .i_banner-group_social .i_banner-night_sun .i_banner-night_sun_item {
  background-image: url("../img/svg/icon-chage-team/day-icon_b.svg");
  background-position: center;
  background-size: 35px;
  background-repeat: no-repeat;
}
html[data-theme=dark] .i_banner .i_banner-bg {
  display: none;
}
html[data-theme=dark] .i_banner .i_banner-bg_2 {
  display: block;
  position: absolute;
  top: 68%;
  transform: translateY(-50%);
  left: 32%;
  z-index: 1;
  width: 36%;
  height: auto;
}
html[data-theme=dark] .i_banner .i_banner-bg_2 img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1330px) {
  html[data-theme=dark] .i_banner .i_banner-bg_2 {
    width: 33%;
    left: 34%;
  }
}
@media screen and (max-width: 1100px) {
  html[data-theme=dark] .i_banner .i_banner-bg_2 {
    position: absolute;
    top: 69%;
    left: 0%;
    z-index: 1;
    width: 48%;
  }
}
@media screen and (max-width: 760px) {
  html[data-theme=dark] .i_banner .i_banner-bg_2 {
    position: absolute;
    top: 69%;
    left: unset;
    z-index: 1;
    width: 46%;
  }
}
@media screen and (max-width: 760px) and (max-width: 700px) {
  html[data-theme=dark] .i_banner .i_banner-bg_2 {
    position: absolute;
    top: 57%;
    left: unset;
    z-index: 1;
    width: 40%;
  }
}
@media screen and (max-width: 760px) and (max-width: 620px) {
  html[data-theme=dark] .i_banner .i_banner-bg_2 {
    position: absolute;
    top: 54%;
    left: unset;
    z-index: 1;
    width: 34%;
  }
}
@media screen and (max-width: 680px) {
  html[data-theme=dark] .i_banner .i_banner-bg_2 {
    position: relative;
    width: 88%;
    left: unset;
    top: 50%;
    right: 45%;
    transform: translateX(50%);
  }
}
@media screen and (max-width: 360px) {
  html[data-theme=dark] .i_banner .i_banner-bg_2 {
    position: relative;
    width: 318px;
    height: 318px;
    left: unset;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
  }
}
html[data-theme=dark] .i_banner .i_banner-container .i_banner-right .i_banner-group_social .i_banner-night_sun .i_banner-night_sun_item {
  background-image: url("../img/svg/icon-chage-team/day-icon_b.svg");
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1330px) {
  html[data-theme=dark] .i_banner .i_banner-container .i_banner-right .i_banner-group_social .i_banner-night_sun .i_banner-night_sun_item {
    background-size: 35px;
  }
}

/*# sourceMappingURL=datk-theme.css.map */
