html[data-theme='dark']{
  .i_header{
    .i_header-more{
      #myCircles{
        &.wide {
          .close_hide_menu {
            background-image: url("../img/svg/close-iconNight.svg") !important;
          }
        }
      }
      #title-search{
        .i_search-close{
          background-image: url("../img/svg/close-iconNight.svg") !important;
        }
      }
    }

  }
  .i_main{
      //INFOBLOCK (main page)
    @media screen and (max-width: 480px){
      .i_infoblock:before{
        content: ' ';
        background-image: url("../img/svg/bg-element-dark_2.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 54%;
        right: 90%;
        transform: translate(50%, 50%);
        height: 800px;
        min-width: 800px;
        z-index: -1;
      }
    }
      //!INFOBLOCK (main page)
    .i_about-us{
      //ABOUT COMPANY
      .i_about-company:before{
        content: ' ';
        background-image: url("../img/svg/bg-image-about-company-Grey-dark.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 100%;
        right: 75%;
        transform: translate(50%, -50%);
        height: 2047.2px;
        min-width: 2047.2px;
        z-index: -1;
      }
      //!ABOUT COMPANY
      //DIRECTORSHIP
      .i_directorship:before{
        content: ' ';
        background-image: url("../img/svg/bg-image-about-company-White-dark.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 135%;
        right: 25%;
        transform: translate(50%, -50%);
        height: 2047.2px;
        min-width: 2047.2px;
        z-index: -1;
      }
      .i_directorship:after{
        content: ' ';
        background-image: url("../img/svg/bg-image-about-company-White-dark.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 0%;
        right: 75%;
        transform: translate(50%, -50%);
        height: 2047.2px;
        min-width: 2047.2px;
        z-index: -1;
      }
      //!DIRECTORSHIP
      //TEAM
      .i_team:before{
        content: ' ';
        background-image: url("../img/svg/bg-image-about-company-Grey-dark.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 124%;
        right: 50%;
        transform: translate(50%, -50%);
        height: 2047.2px;
        min-width: 2047.2px;
        z-index: -1;
      }
      //!TEAM
      //SEO
      .i_seo:before{
        content: ' ';
        background-image: url("../img/svg/bg-element-dark_1-rotate.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 90%;
        right: 5%;
        transform: translate(50%, -50%);
        height: 800px;
        min-width: 800px;
        z-index: -1;
      }
      .i_seo:after{
        content: ' ';
        background-image: url("../img/svg/bg-element-dark_1-rotate.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 10%;
        right: 55%;
        transform: translate(-50%, -50%);
        height: 800px;
        min-width: 800px;
        z-index: -1;
      }
      //!SEO
      .i_work-process{
        .i_work-process-body{
          .i_work-process-body-infographic-light{
            display: none;
          }
          .i_work-process-body-infographic-night{
            display: block;
            position: absolute;
            z-index: 1;
            top: -50%;
            left: 50%;
            transform: translate(-50%, 50%);
            width: 40%;
            height: 100%;
            svg{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .i_footer{
    .i_footer-left{
      .i_footer-left-icons-item{
        #myCircles2{
          &.wide{
            .close_hide_menu2{
              background-image: url("../img/svg/close-iconNight.svg") !important;
            }
          }
        }
      }
    }
    .i_footer-right{
      .i_footer-right-groupMore{
        .i_footer-right-moreGroup{
          .i_footer-right-more{
            .i_footer-right-icons{
              #myCircles3{
                &.wide{
                  .close_hide_menu3{
                    background-image: url("../img/svg/close-iconNight.svg") !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .i_our-services{
    background-image: url("../img/svg/bg-element-dark_1.svg") ;
  }
  .i_personal{
    background-image: url("../img/svg/bg-element-dark_2.svg");
  }
  .i_infoblock{
    background-image: url("../img/svg/bg-element-dark_2.svg");
  }
  .i_banner{
    .i_banner-bg{
      display: none;
    }
    .i_banner-bg_2{
      display: block;
      position: absolute;
      top: 68%;
      transform: translateY(-50%);
      left: 32%;
      z-index: 1;
      width: 36%;
      height: auto;
      img{
        width: 100%;
        height: 100%;
      }
      @media screen and (max-width: 1330px){
        width: 33%;
        left: 34%;
      }
      @media screen and (max-width: 1100px){
        position: absolute;
        top: 69%;
        left: 0%;
        z-index: 1;
        width: 48%;
      }
      @media screen and (max-width: 760px){
        position: absolute;
        top: 69%;
        left: unset;
        z-index: 1;
        width: 46%;
        @media screen and (max-width: 700px){
          position: absolute;
          top: 57%;
          left: unset;
          z-index: 1;
          width: 40%;
        }
        @media screen and (max-width: 620px){
          position: absolute;
          top: 54%;
          left: unset;
          z-index: 1;
          width: 34%;
        }
      }
      @media screen and (max-width: 680px){
        position: relative;
        width: 88%;
        left: unset;
        top: 50%;
        right: 45%;
        transform: translateX(50%);
      }
      @media screen and (max-width: 360px){
        position: relative;
        width: 318px;
        height: 318px;
        left: unset;
        top: 50%;
        right: 50%;
        transform: translateX(50%);
      }
    }
    .i_banner-container .i_banner-right .i_banner-group_social .i_banner-night_sun{
      .i_banner-sun_item{
        display: flex;
        align-items: center;
        justify-content: center;
        svg{

        }
      }
      .i_banner-night_item{

      }
    }
  }
}

