html[data-theme='dark']{
  .i_header{
    .i_header-more{
      #myCircles{
        &.wide {
          .close_hide_menu {
            background-image: url("../img/svg/close-iconNight.svg") !important;
          }
        }
      }
    }
  }

  .i_our-services{
    background-image: url("../img/svg/bg-element-dark_1.svg") ;
  }
  .i_personal{
    background-image: url("../img/svg/bg-element-dark_2.svg");
  }
  .i_infoblock{
    background-image: url("../img/svg/bg-element-dark_2.svg");
  }
  .i_banner{
    .i_banner-bg{
      display: none;
    }
    .i_banner-bg_2{
      display: block;
      position: absolute;
      top: 68%;
      transform: translateY(-50%);
      left: 32%;
      z-index: 1;
      width: 36%;
      height: auto;
      img{
        width: 100%;
        height: 100%;
      }
      @media screen and (max-width: 1330px){
        width: 33%;
        left: 34%;
      }
      @media screen and (max-width: 1100px){
        position: absolute;
        top: 69%;
        left: 0%;
        z-index: 1;
        width: 48%;
      }
      @media screen and (max-width: 760px){
        position: absolute;
        top: 69%;
        left: unset;
        z-index: 1;
        width: 46%;
        @media screen and (max-width: 700px){
          position: absolute;
          top: 57%;
          left: unset;
          z-index: 1;
          width: 40%;
        }
        @media screen and (max-width: 620px){
          position: absolute;
          top: 54%;
          left: unset;
          z-index: 1;
          width: 34%;
        }
      }
      @media screen and (max-width: 680px){
        position: relative;
        width: 88%;
        left: unset;
        top: 50%;
        right: 45%;
        transform: translateX(50%);
      }
      @media screen and (max-width: 360px){
        position: relative;
        width: 318px;
        height: 318px;
        left: unset;
        top: 50%;
        right: 50%;
        transform: translateX(50%);
      }
    }
    .i_banner-container .i_banner-right .i_banner-group_social .i_banner-night_sun{
      .i_banner-sun_item{
        display: flex;
        align-items: center;
        justify-content: center;
        svg{

        }
      }
      .i_banner-night_item{

      }
    }
  }
}

