html[data-theme='dark']{
  .i_modal{
    .i_modal-content{
      .i_snippet.important-info{
        .i_snippet.binary-vertical-table{
          .i_snippet-top{
            .i_footer-left-icons-item{
              .i_footer-left-icons-item-circles{
                background-image: url(../img/svg/whatsapp-icon_b.svg);
                background-repeat: no-repeat;
                background-size: 55px;
                background-position-x: 65%;
                background-position-y: 50%;
                &:hover{
                  background-color: var(--color-circlesHover);
                  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
                  background-image: url(../img/svg/whatsapp-icon_r.svg);
                  background-repeat: no-repeat;
                  background-size: 55px;
                  background-position-x: 65%;
                  background-position-y: 50%;
                  @media screen and (max-width: 1330px){
                    background-size: 48px;
                  }
                }
                @media screen and (max-width: 1330px){
                  background-size: 48px;
                }
              }
            }
          }
        }
      }
    }
  }


  .i_header{
    .i_header-more{
      #myCircles{
        &.wide {
          .close_hide_menu {
            background-image: url("../img/svg/close-iconNight.svg") !important;
          }
        }
      }
      #title-search{
        .i_search-close{
          background-image: url("../img/svg/close-iconNight.svg") !important;
        }
      }
    }

  }
  .i_main{
    //PROGRAMMS
    .i_programms {
      //PROGRAMMS TITLE
      .i_programms-title {
        .i_programms-title-icon {
          width: 50px;
          height: 50px;
          background-color: var(--color-circles);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-image: url("../img/svg/programm-products_b.svg");
          background-repeat: no-repeat;
          background-size: 50px;
          background-position-x: 65%;
          background-position-y: 50%;
          @media screen and (max-width: 760px) {
            width: 40px;
            height: 40px;
            background-size: 40px;
          }
        }
      }
    }
    //!PROGRAMMS
    //SERVICES
    .i_services {
      .i_services-title {
        .i_services-title-icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-image: url("../img/svg/our-services-b.svg");
          background-repeat: no-repeat;
          background-size: 50px;
          background-position-x: 65%;
          background-position-y: 50%;
          @media screen and (max-width: 760px) {
            width: 40px;
            height: 40px;
            background-size: 40px;
          }
        }
      }
    }
    //!SERVICES
    //BANNER
    .i_banner{
      .i_banner-container{
        .i_banner-right{
          .i_banner-skills{
            .i_banner-item{
              &:hover{
                .i_banner-circles_1{
                  background-image: url("../img/svg/group-banner-icons/banner-icon_1_w.svg");
                }
                .i_banner-circles_2{
                  background-image: url("../img/svg/group-banner-icons/banner-icon_2_w.svg");
                }
                .i_banner-circles_3{
                  background-image: url("../img/svg/group-banner-icons/banner-icon_3_w.svg");
                }
                .i_banner-circles_4{
                  background-image: url("../img/svg/group-banner-icons/banner-icon_4_w.svg");
                }

                .i_banner-circles_1,
                .i_banner-circles_2,
                .i_banner-circles_3,
                .i_banner-circles_4{
                  background-color: var(--color-circlesSecond);
                  background-repeat: no-repeat;
                  background-size: 50px;
                  background-position-x: 65%;
                  background-position-y: 50%;
                }
                @media screen and (max-width: 1330px){
                  .i_banner-circles_1,
                  .i_banner-circles_2,
                  .i_banner-circles_3,
                  .i_banner-circles_4{
                    width: 40px;
                    height: 40px;
                    background-color: var(--color-circlesSecond);
                    background-size: 40px;
                  }
                }
              }
              @media screen and (max-width: 1330px){
                .i_banner-circles_1,
                .i_banner-circles_2,
                .i_banner-circles_3,
                .i_banner-circles_4{
                  background-color: var(--color-red);
                  border-radius: 25px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-repeat: no-repeat;
                  background-size: 40px;
                  background-position-x: 65%;
                  background-position-y: 50%;
                  svg {
                    color: var(--color-nochangeSecondIcon);
                  }
                }
              }
            }
          }
        }
      }
    }
    //!BANNER

    //INFOBLOCK (main page)
    @media screen and (max-width: 480px){
      .i_infoblock:before{
        content: ' ';
        background-image: url("../img/svg/bg-element-dark_2.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 54%;
        right: 90%;
        transform: translate(50%, 50%);
        height: 800px;
        min-width: 800px;
        z-index: -1;
      }
    }
    //!INFOBLOCK (main page)

    //BLOG
    .i_blog{
      //BLOG TITLE
      .i_blog-title{
        .i_blog-title-icon{
          background-image: url("../img/svg/our-blog-icon_b.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-position-x: 65%;
          background-position-y: 50%;
        }
      }
      //BLOG TITLE
      // BX SITE MAP
      .bx_sitemap{
        margin: 0;
        ul{
          //WRAPPER LI  BEFORE
          li:nth-child(n){
            &:before{
              content: ' ';
              background-image: url("../img/svg/blog-icon-2_w.svg");
              background-repeat: no-repeat;
              left: 0;
              top: 50%;
              transform: translate(0%, -50%);
              position: absolute;
              background-size: 54px;
              width: 54px;
              height: 54px;
            }
          }
          //!WRAPPER LI  BEFORE
          .menu-all-articles{
            &:before{
              content: ' ';
              background-image: url("../img/svg/blog-icon-2_b.svg") !important;
              background-repeat: no-repeat;
              left: 0;
              top: 50%;
              transform: translate(0%, -50%);
              position: absolute;
              background-size: 54px;
              width: 54px;
              height: 54px;
            }
          }
        }
        .bx_sitemap_ul{
          display: flex;
          flex-wrap: wrap;
          margin: 0;
          //WRAPPER LI BEFORE
          li:nth-child(1){
            &:before{
              background-image: url("../img/svg/blog-icon_w.svg")!important;
            }
            &.menu-all-articles{
              &:before{
                background-image: url("../img/svg/blog-icon_b.svg")!important;
              }
            }
          }
          //!WRAPPER LI BEFORE

        }
      }
      // !BX SITE MAP
    }
    //!BLOG
    //NEWS PAGE
    .i_news-page{
      padding-top: 70px;
      padding-bottom: 70px;
      background-image: url(../img/svg/bg-element-dark_2.svg);
      background-repeat: no-repeat;
      background-position-x: 125%;
      background-position-y: 15%;
    }
    //!NEWS PAGE
    .i_about-us{
      //ABOUT COMPANY
      .i_about-company:before{
        content: ' ';
        background-image: url("../img/svg/bg-image-about-company-White-dark_second.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 100%;
        right: 75%;
        transform: translate(50%, -50%);
        height: 2047.2px;
        min-width: 2047.2px;
        z-index: -1;
      }
      //!ABOUT COMPANY
      //DIRECTORSHIP
      .i_directorship:before{
        content: ' ';
        background-image: url("../img/svg/bg-image-about-company-Grey-dark_second.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 135%;
        right: 25%;
        transform: translate(50%, -50%);
        height: 2047.2px;
        min-width: 2047.2px;
        z-index: -1;
      }
      .i_directorship:after{
        content: ' ';
        background-image: url("../img/svg/bg-image-about-company-Grey-dark_second.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 0%;
        right: 75%;
        transform: translate(50%, -50%);
        height: 2047.2px;
        min-width: 2047.2px;
        z-index: -1;
      }
      //!DIRECTORSHIP
      //TEAM
      .i_team:before{
        content: ' ';
        background-image: url("../img/svg/bg-image-about-company-White-dark_second.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 124%;
        right: 50%;
        transform: translate(50%, -50%);
        height: 2047.2px;
        min-width: 2047.2px;
        z-index: -1;
      }
      //!TEAM
      //SEO
      .i_seo:before{
        content: ' ';
        background-image: url("../img/svg/bg-element-dark_1-rotate.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 90%;
        right: 5%;
        transform: translate(50%, -50%);
        height: 800px;
        min-width: 800px;
        z-index: -1;
      }
      .i_seo:after{
        content: ' ';
        background-image: url("../img/svg/bg-element-dark_1-rotate.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 10%;
        right: 55%;
        transform: translate(-50%, -50%);
        height: 800px;
        min-width: 800px;
        z-index: -1;
      }
      //!SEO
      .i_work-process{
        .i_work-process-body{
          .i_work-process-body-infographic-light{
            display: none;
          }
          .i_work-process-body-infographic-night{
            display: block;
            position: absolute;
            z-index: 1;
            top: -50%;
            left: 50%;
            transform: translate(-50%, 50%);
            width: 40%;
            height: 100%;
            @media screen and (max-width: 1330px){
              width: 45%;
            }
            //WORK PROCESS MOBILE 789px
            @media screen and (max-width: 877px){
              display: none;
            }
            //!WORK PROCESS MOBILE 789px
            svg{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .i_footer{
    .i_footer-left{
      .i_footer-left-icons-item{
        #myCircles2{
          &.wide{
            .close_hide_menu2{
              background-image: url("../img/svg/close-iconNight.svg") !important;
            }
          }
        }
      }
    }
    .i_footer-right{
      .i_footer-right-groupMore{
        .i_footer-right-moreGroup{
          .i_footer-right-more{
            .i_footer-right-icons{
              #myCircles3{
                &.wide{
                  .close_hide_menu3{
                    background-image: url("../img/svg/close-iconNight.svg") !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .i_our-services{
    background-image: url("../img/svg/bg-element-dark_1.svg") ;
  }
  .i_personal{
    background-image: url("../img/svg/bg-element-dark_2.svg");
  }
  .i_infoblock{
    background-image: url("../img/svg/bg-element-dark_2.svg");
  }
  .i_banner{
    .i_banner-bg{
      display: none;
    }
    .i_banner-bg_2{
      display: block;
      position: absolute;
      top: 68%;
      transform: translateY(-50%);
      left: 32%;
      z-index: 1;
      width: 36%;
      height: auto;
      img{
        width: 100%;
        height: 100%;
      }
      @media screen and (max-width: 1330px){
        width: 33%;
        left: 34%;
      }
      @media screen and (max-width: 1100px){
        position: absolute;
        top: 69%;
        left: 0%;
        z-index: 1;
        width: 48%;
      }
      @media screen and (max-width: 760px){
        position: absolute;
        top: 69%;
        left: unset;
        z-index: 1;
        width: 46%;
        @media screen and (max-width: 700px){
          position: absolute;
          top: 57%;
          left: unset;
          z-index: 1;
          width: 40%;
        }
        @media screen and (max-width: 620px){
          position: absolute;
          top: 54%;
          left: unset;
          z-index: 1;
          width: 34%;
        }
      }
      @media screen and (max-width: 680px){
        position: relative;
        width: 88%;
        left: unset;
        top: 50%;
        right: 45%;
        transform: translateX(50%);
      }
      @media screen and (max-width: 360px){
        position: relative;
        width: 318px;
        height: 318px;
        left: unset;
        top: 50%;
        right: 50%;
        transform: translateX(50%);
      }
    }
    .i_banner-container .i_banner-right .i_banner-group_social .i_banner-night_sun{
      .i_banner-sun_item{
        display: flex;
        align-items: center;
        justify-content: center;
        svg{

        }
      }
      .i_banner-night_item{

      }
    }
  }
}

