//SUBMIT FORM
.i_submit,
.i_form-kp,
.i_form-vc{
  background-color: var(--bg-third);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -190%);
  z-index: 991;
  //padding: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  max-width: 670px;
  width: 90%;
  height: max-content;
  border-radius: 35px;


  &.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
  }

  .i_submit-close,
  .i_form-vc-close{
    position: absolute;
    top: 30px;
    z-index: 10;
    right: 30px;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 40px;
    height: 40px;
    background: var(--bg-fourth);
    display: flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    background-image: url("../img/svg/closeModal-dark.svg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    @media screen and (max-width: 480px){
      right: 20px;
      top: 20px;
    }
    @media screen and (max-width: 480px){
      right: 15px;
      top: 15px;
    }

    img{
      width: 30px;
      height: 30px;
    }

    &:hover {
      color: var(--color-red);
    }
  }

  //SUBMIT HEADER BEFORE
  .i_submit-header:before{
    content: " ";
    position: absolute;
    bottom: 0;
    width: calc(100% - 0px);
    background-image: url("/local/templates/exsolcom/ilab/css/../img/svg/doth-vertical_downGrey.svg");
    height: 8px;
    right: 50%;
    transform: translateX(50%);
    background-size: 10px;
    background-position-y: -5px;
  }
  //!SUBMIT HEADER BEFORE
  //SUBMIT HEADER
  .i_submit-header{
    display: flex;
    justify-content: center;
    padding: 40px 70px 40px 40px;
    position: relative;
    @media screen and (max-width: 480px){
      padding: 30px 35px 30px 20px;
    }
    @media screen and (max-width: 400px){
      padding: 30px 50px 25px 15px;
    }
    //border-bottom: 5px dotted #666666;
    span{
      color: var(--color-black);
      font-size: 1.5em;
      text-align: center;
      @media screen and (max-width: 530px){
        font-size: 1.375rem;
      }
      @media screen and (max-width: 480px){
        font-size: 1.125rem;
      }
      @media screen and (max-width: 380px){
        font-size: 1rem;
      }
    }
  }
  //!SUBMIT HEADER
  //SUBMIT CONTENT
  .i_submit-content{
    .b24-form{
      //SUBMIT CONTENT WRAPPER
      .b24-form-wrapper{
        border-radius: 100px;
        background-color: var(--bg-third);
        //FORM HEADER BEFORE
        .b24-form-header:before{
          content: " ";
          background-image: url("../img/svg/doth-vertical_downGrey.svg");
          width: calc(100% - 1px);
          bottom: 0;
          right: 50%;
          transform: translateX(50%);
          height: 12px;
          background-size: 12px;
          position: absolute;
        }
        //!FORM HEADER BEFORE
        //FORM HEADER
        .b24-form-header{
          display: flex;
          justify-content: center;
          padding: 40px 70px 40px 40px;
          &.b24-form-padding-side{
            display: none;
          }
          //border-bottom: 5px dotted #666666;
          position: relative;
          @media screen and (max-width: 480px){
            padding: 30px 20px 30px 20px;
          }
          @media screen and (max-width: 440px){
            padding: 20px 85px 10px 85px;
          }
          .b24-form-header-title{
            font-family: "Comfortaa", sans-serif;
            color: var(--color-black);
          }
        }
        //!FORM HEADER

        //SUBMIT CONTENT HEADER PADDING
        .b24-form-header-padding{
          padding: 0px;
        }
        //!SUBMIT CONTENT HEADER PADDING
        //SUBMIT CONTENT FORM CONTENT
        .b24-form-content{
          padding: 30px 30px 30px 30px;
          @media screen and (max-width: 480px){
            padding: 20px 20px 30px 20px;
          }
          @media screen and (max-width: 400px){
            padding: 10px 15px 20px 15px;
          }
          //SUBMIT CONTENT FORM
          form{
            //SUBMIT CONTENT FORM FIELD
            .b24-form-field {
              border-radius: 50px;
              background-color: #f1f1f1;
              //SUBMIT CONTENT FORM CONTROL CONTAINER BEFORE
              .b24-form-control-container:has(input[autocomplete]):before {
                content: "\002A";
                color: red;
                font-size: 30px;
                position: absolute;
                right: 0;
                top: -5px;
                display: flex;
                width: 20px;
                height: 20px;
                background-color: var(--bg-third);
                border-radius: 30px;
                justify-content: center;
              }

              //!SUBMIT CONTENT FORM CONTROL CONTAINER BEFORE
              //SUBMIT CONTENT FORM CONTROL CONTAINER
              .b24-form-control-container {

                input {
                  outline: none;
                  color: #000000;
                  background-color: #f1f1f1;
                  border-radius: 30px;
                  //border: 1px solid rgb(233 233 233);
                  padding: 17px 20px 0;
                  --b24-primary-color: none;
                }

                //SUBMIT CONTENT FORM CONTROL TEXTAREA
                .b24-form-control {
                  border-radius: 30px;
                  background-color: #f1f1f1;
                  padding: 27px 20px 0;
                  margin: 0 0 -5px 0;
                  //height: 63px;
                }

                //!SUBMIT CONTENT FORM CONTROL TEXTAREA

                //SUBMIT CONTENT FORM CONTROL LABEL
                .b24-form-control-label {
                  font-family: "Comfortaa", sans-serif;
                  color: #000000;
                  font-size: 15px;
                  padding-left: 20px;
                  opacity: 1;
                  //SUBMIT CONTENT FORM CONTROL REQUIRED
                  .b24-form-control-required {
                    color: transparent;
                  }

                  //!SUBMIT CONTENT FORM CONTROL REQUIRED
                }

                //!SUBMIT CONTENT FORM CONTROL LABEL
              }

              //!SUBMIT CONTENT FORM CONTROL CONTAINER
            }
            //!SUBMIT CONTENT FORM FIELD
          }
          //!SUBMIT CONTENT FORM

          //SUBMIT CONTENT CONTAINER
          .b24-form-btn-container{
            //SUBMIT FORM BTN BLOCK
            .b24-form-btn-block{
              display: flex;
              justify-content: center;
              //SUBMIT FORM BTN
              .b24-form-btn{
                background-color: #FF161F;
                width: 70%;
                border-radius: 30px;
                font-family: "Comfortaa", sans-serif;
                font-size: 0.9em;
                &:hover{
                  transition: all .4s ease;
                  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.17);
                  color: var(--color-red);
                  background-color: var(--bg-buttonHoverFirst);
                }
              }
              //!SUBMIT FORM BTN
            }
            //!SUBMIT FORM BTN BLOCK
          }
          //!SUBMIT CONTENT CONTAINER

          //SUBMIT CONTENT PADDING SIDE
          &.b24-form-padding-side{

          }
          //!SUBMIT CONTENT PADDING SIDE
        }
        //!SUBMIT CONTENT FORM CONTENT

        //SUBMIT CONTENT FORM SIGN
        .b24-form-sign{
          display: none;
        }
        //!SUBMIT CONTENT FORM SIGN

        //SUBMIT BORDER BOTTOM
        &.b24-form-border-bottom{
          border-bottom: transparent;
        }
        //!SUBMIT BORDER BOTTOM
      }
      //!SUBMIT CONTENT WRAPPER
    }
  }
  //!SUBMIT CONTENT
}