@charset "UTF-8";
button {
  border-radius: 50px;
  background-color: var(--color-red);
  color: var(--color-buttonText);
  font-size: 16px;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  outline-style: none;
}
@media screen and (max-width: 1330px) {
  button {
    font-size: 14px;
  }
}
button:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  color: var(--color-red);
  background-color: var(--bg-buttonHover);
}
button:hover a {
  color: var(--color-red) !important;
}
button:hover svg {
  color: var(--color-red) !important;
}

.color-red {
  color: var(--color-red) !important;
}

span {
  transition: all 0.4s ease;
  color: var(--color-black);
}
span:hover {
  cursor: pointer;
  color: var(--color-red);
}

a {
  cursor: pointer !important;
}

.idn {
  display: none !important;
}

.text-weight {
  font-weight: 600 !important;
}

.news-item,
.news-page-item {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.4s ease;
}
.news-item:hover,
.news-page-item:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.news-item:hover a b,
.news-page-item:hover a b {
  color: var(--color-red);
}
.news-item a b,
.news-page-item a b {
  color: var(--color-textInfoblock);
}
.news-item span,
.news-page-item span {
  color: var(--color-textInfoblock);
  height: 42px;
  font-size: 21px;
  text-align: center;
  font-weight: 600;
}
@media screen and (max-width: 1330px) {
  .news-item span,
  .news-page-item span {
    font-size: 18px;
    height: 42px;
  }
}
@media screen and (max-width: 480px) {
  .news-item span,
  .news-page-item span {
    font-size: 16px;
    height: 32px;
  }
}
@media screen and (max-width: 360px) {
  .news-item span,
  .news-page-item span {
    font-size: 15px;
    height: 45px;
  }
}

.blog-item {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.4s ease;
}
.blog-item:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.blog-item:hover a b {
  color: var(--color-red);
}
.blog-item a b {
  color: var(--color-textInfoblock);
}

.i_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.i_overlay.active {
  opacity: 1;
  visibility: visible;
}

*::-webkit-scrollbar {
  background-color: #e7e7e7; /* Цвет бегунка */
  border-radius: 30px; /* Округление бегунка */
  width: 9px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-red);
  border-radius: 30px;
}

.i_modal {
  background-color: var(--bg-block);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -190%);
  z-index: 991;
  padding: 20px 20px 20px 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  width: 95%;
  height: 90%;
  border-radius: 35px;
}
@media screen and (max-width: 1330px) {
  .i_modal {
    padding: 20px 15px 20px 0;
  }
}
@media screen and (max-width: 760px) {
  .i_modal {
    padding: 20px 10px 20px 0;
  }
}
.i_modal .i_container {
  margin: 10px 5px;
  padding: 0 10%;
  width: unset;
  overflow-y: auto;
  height: calc(100% - 45px);
  padding-bottom: 90px;
}
@media screen and (max-width: 1330px) {
  .i_modal .i_container {
    margin: 25px 2%;
    padding: 0 5%;
  }
}
@media screen and (max-width: 760px) {
  .i_modal .i_container {
    margin: 10px 2%;
    padding: 0 0%;
  }
}
.i_modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}
.i_modal .i_modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
  width: 40px;
  height: 40px;
  background: var(--color-Grey);
  display: flex;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  z-index: 101;
}
@media screen and (max-width: 1330px) {
  .i_modal .i_modal-close {
    top: 10px;
    right: 26px;
  }
}
.i_modal .i_modal-close img {
  width: 30px;
  height: 30px;
}
.i_modal .i_modal-close:hover {
  color: var(--color-red);
}
.i_modal .i_modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 60px;
}
@media screen and (max-width: 840px) {
  .i_modal .i_modal-header {
    flex-direction: column;
    gap: 15px;
  }
}
@media screen and (max-width: 480px) {
  .i_modal .i_modal-header {
    flex-direction: column;
  }
}
.i_modal .i_modal-header .i_modal-header-container {
  display: flex;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .i_modal .i_modal-header .i_modal-header-container {
    flex-direction: column;
  }
}
.i_modal .i_modal-header .i_modal-header-bottom {
  display: none;
}
@media screen and (max-width: 840px) {
  .i_modal .i_modal-header .i_modal-header-bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .i_modal .i_modal-header .i_modal-header-bottom .i_modal-preview-content {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-textInfoblock);
    font-family: "Open Sans", sans-serif;
    cursor: text;
    line-height: normal;
  }
}
@media screen and (max-width: 840px) and (max-width: 480px) {
  .i_modal .i_modal-header .i_modal-header-bottom .i_modal-preview-content {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 840px) {
  .i_modal .i_modal-header .i_modal-header-bottom .i_modal-preview-ending {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-textInfoblock);
    cursor: text;
  }
}
@media screen and (max-width: 840px) and (max-width: 480px) {
  .i_modal .i_modal-header .i_modal-header-bottom .i_modal-preview-ending {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 840px) {
  .i_modal .i_modal-header .i_modal-header-bottom .i_modal-preview-ending span {
    cursor: text;
  }
}
.i_modal .i_modal-header .i_modal-img {
  width: 45%;
}
@media screen and (max-width: 760px) {
  .i_modal .i_modal-header .i_modal-img {
    width: 60%;
  }
}
@media screen and (max-width: 480px) {
  .i_modal .i_modal-header .i_modal-img {
    width: 99%;
  }
}
.i_modal .i_modal-header .i_modal-img img {
  height: auto;
  width: 100%;
}
.i_modal .i_modal-header .i_modal-header-content {
  width: 65%;
}
@media screen and (max-width: 480px) {
  .i_modal .i_modal-header .i_modal-header-content {
    width: 99%;
  }
}
.i_modal .i_modal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--bg-block);
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -4px 14px 0px rgba(34, 60, 80, 0.18);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.i_modal .i_modal-footer .i_modal-footer-btn button {
  padding: 18px 44px;
}
@media screen and (max-width: 1330px) {
  .i_modal .i_modal-footer .i_modal-footer-btn button {
    padding: 14px 34px;
  }
}
@media screen and (max-width: 480px) {
  .i_modal .i_modal-footer .i_modal-footer-btn button {
    font-size: 12px;
    padding: 10px 25px;
  }
}

.i_modal-preview {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 840px) {
  .i_modal-preview {
    gap: 15px;
  }
  .i_modal-preview .i_modal-preview-content,
  .i_modal-preview .i_modal-preview-ending {
    display: none;
  }
}
.i_modal-preview .i_modal-preview-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  cursor: text;
  color: var(--color-textInfoblock);
}
.i_modal-preview .i_modal-preview-title span {
  cursor: text;
}
@media screen and (max-width: 760px) {
  .i_modal-preview .i_modal-preview-title {
    font-size: 21px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .i_modal-preview .i_modal-preview-title {
    font-size: 21px;
    line-height: 25px;
    text-align: center;
  }
}
.i_modal-preview .i_modal-preview-subtitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-textInfoblock);
  cursor: text;
  line-height: normal;
}
@media screen and (max-width: 760px) {
  .i_modal-preview .i_modal-preview-subtitle {
    font-size: 17px;
    line-height: 22px;
  }
}
@media screen and (max-width: 480px) {
  .i_modal-preview .i_modal-preview-subtitle {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}
.i_modal-preview .i_modal-preview-content {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-textInfoblock);
  font-family: "Open Sans", sans-serif;
  cursor: text;
}
@media screen and (max-width: 1000px) {
  .i_modal-preview .i_modal-preview-content {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .i_modal-preview .i_modal-preview-content {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
  }
}
.i_modal-preview .i_modal-preview-ending {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-textInfoblock);
  cursor: text;
}
@media screen and (max-width: 1000px) {
  .i_modal-preview .i_modal-preview-ending {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .i_modal-preview .i_modal-preview-ending {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }
}
.i_modal-preview .i_modal-preview-ending span {
  cursor: text;
}

.i_modal-content {
  padding-top: 10px;
}

.i_modal-kp {
  background-color: var(--bg-block);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -190%);
  z-index: 991;
  padding: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  width: 95%;
  height: 90%;
  border-radius: 35px;
}
@media screen and (max-width: 930px) {
  .i_modal-kp {
    padding: 15px;
  }
}
@media screen and (max-width: 480px) {
  .i_modal-kp {
    padding: 25px 5px;
  }
}
.i_modal-kp .i_container {
  margin: 25px 5%;
  width: unset;
  overflow-y: auto;
  height: calc(100% - 45px);
  padding: 0 10% 90px 20%;
}
@media screen and (max-width: 1630px) {
  .i_modal-kp .i_container {
    padding: 0 5%;
    padding: 0 10% 90px 22%;
  }
}
@media screen and (max-width: 1330px) {
  .i_modal-kp .i_container {
    padding: 0 3%;
    margin: 25px 2%;
    padding: 0 10% 90px 27%;
  }
}
@media screen and (max-width: 1270px) {
  .i_modal-kp .i_container {
    padding: 0 3%;
    margin: 25px 3%;
    padding: 0 5% 90px 30%;
  }
}
@media screen and (max-width: 620px) {
  .i_modal-kp .i_container {
    padding: 0 0% 90px 0%;
    margin: 25px 5%;
  }
}
@media screen and (max-width: 620px) {
  .i_modal-kp .i_modal-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.i_modal-kp .i_modal-box .i_modal-content .i_modal-preview .i_modal-preview-content,
.i_modal-kp .i_modal-box .i_modal-content .i_modal-preview .i_modal-preview-ending {
  display: block;
}
.i_modal-kp .i_modal-img {
  position: absolute;
  left: 5%;
  max-width: 300px;
}
@media screen and (max-width: 1740px) {
  .i_modal-kp .i_modal-img {
    max-width: 280px;
  }
}
@media screen and (max-width: 1550px) {
  .i_modal-kp .i_modal-img {
    max-width: 260px;
  }
}
@media screen and (max-width: 1330px) {
  .i_modal-kp .i_modal-img {
    max-width: 240px;
  }
}
@media screen and (max-width: 1000px) {
  .i_modal-kp .i_modal-img {
    max-width: 215px;
  }
}
@media screen and (max-width: 890px) {
  .i_modal-kp .i_modal-img {
    max-width: 190px;
  }
}
@media screen and (max-width: 780px) {
  .i_modal-kp .i_modal-img {
    max-width: 180px;
  }
}
@media screen and (max-width: 710px) {
  .i_modal-kp .i_modal-img {
    max-width: 150px;
  }
}
@media screen and (max-width: 620px) {
  .i_modal-kp .i_modal-img {
    position: relative;
  }
}
.i_modal-kp .i_modal-img img {
  width: 100%;
}
.i_modal-kp.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}
.i_modal-kp .i_modal-close {
  position: absolute;
  top: 30px;
  right: 32px;
  cursor: pointer;
  transition: all 0.4s ease;
  width: 40px;
  height: 40px;
  background: var(--color-Grey);
  display: flex;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  z-index: 101;
}
@media screen and (max-width: 1330px) {
  .i_modal-kp .i_modal-close {
    top: 10px;
    right: 26px;
  }
}
@media screen and (max-width: 480px) {
  .i_modal-kp .i_modal-close {
    top: 10px;
    right: 10px;
  }
}
.i_modal-kp .i_modal-close img {
  width: 30px;
  height: 30px;
}
.i_modal-kp .i_modal-close:hover {
  color: var(--color-red);
}
.i_modal-kp .i_modal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--bg-block);
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -4px 14px 0px rgba(34, 60, 80, 0.18);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  gap: 40px;
}
.i_modal-kp .i_modal-footer .i_modal-footer-price {
  background-color: var(--color-red);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 40px 0 60px;
}
.i_modal-kp .i_modal-footer .i_modal-footer-price span {
  color: var(--color-WhiteWhite);
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 2.25rem;
}
.i_modal-kp .i_modal-footer .i_modal-footer-price span .text {
  text-align: right;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
}
.i_modal-kp .i_modal-footer .i_modal-footer-btn button {
  padding: 18px 44px;
}
@media screen and (max-width: 1330px) {
  .i_modal-kp .i_modal-footer .i_modal-footer-btn button {
    padding: 14px 34px;
  }
}
@media screen and (max-width: 480px) {
  .i_modal-kp .i_modal-footer .i_modal-footer-btn button {
    font-size: 12px;
    padding: 10px 25px;
  }
}

.detail-item {
  margin-top: 40px;
  min-height: 400px;
  position: relative;
}
.detail-item .detail-item-img {
  position: absolute;
  left: 20px;
}
.detail-item .detail-item-footer {
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-item .detail-item-footer button {
  padding: 18px 44px;
}
.detail-item .detail-item-content {
  padding-bottom: 100px;
  padding-left: 30%;
}

p {
  display: inline !important;
}

.i_programms .product-item-container .product-item .product-item-detail .product-item-detail-price {
  position: relative;
  z-index: 1;
}
.i_programms .product-item-container .product-item .product-item-detail .product-item-detail-price span {
  color: var(--color-textInfoblock);
  font-size: 1.125rem;
}
.i_programms .product-item-container .product-item .product-item-detail .product-item-detail-price span .text {
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
}

.programm-container,
.i_programm-container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.programm-container .bx_sitemap .bx_sitemap_ul,
.i_programm-container .bx_sitemap .bx_sitemap_ul {
  /* стили для активного состояния чекбокса (при нажатии на него) */
}
.programm-container .bx_sitemap .bx_sitemap_ul li,
.i_programm-container .bx_sitemap .bx_sitemap_ul li {
  line-height: unset;
}
.programm-container .bx_sitemap .bx_sitemap_ul li:before,
.i_programm-container .bx_sitemap .bx_sitemap_ul li:before {
  content: "";
  top: 50%;
  left: 60%;
  position: absolute;
  transform: translate(-820%, -50%);
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #d9d9d9;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;
  background-size: 50% 50%;
}
.programm-container .bx_sitemap .bx_sitemap_ul li,
.i_programm-container .bx_sitemap .bx_sitemap_ul li {
  list-style-type: none;
  background-color: var(--color-circlesSecond);
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.02);
  position: relative;
  border-radius: 30px;
  max-width: 340px;
  width: 170%;
  height: 50px;
  margin: 20px 20px 0 0;
  border: 1px solid #ededed;
}
.programm-container .bx_sitemap .bx_sitemap_ul li.menu-all-articles,
.i_programm-container .bx_sitemap .bx_sitemap_ul li.menu-all-articles {
  background-color: var(--color-circles);
}
.programm-container .bx_sitemap .bx_sitemap_ul li.menu-all-articles:before,
.i_programm-container .bx_sitemap .bx_sitemap_ul li.menu-all-articles:before {
  background-image: url("../img/svg/active-checkbox.svg");
  background-size: 14px;
  background-color: #191A1A;
  border: 1px solid #3b3b3b;
}
.programm-container .bx_sitemap .bx_sitemap_ul li.menu-all-articles .bx_sitemap_li_title a,
.i_programm-container .bx_sitemap .bx_sitemap_ul li.menu-all-articles .bx_sitemap_li_title a {
  transition: all 0.4s ease;
  color: var(--color-WhiteWhite);
}
.programm-container .bx_sitemap .bx_sitemap_ul li:hover,
.i_programm-container .bx_sitemap .bx_sitemap_ul li:hover {
  cursor: pointer;
}
.programm-container .bx_sitemap .bx_sitemap_ul li:hover .bx_sitemap_li_title a,
.i_programm-container .bx_sitemap .bx_sitemap_ul li:hover .bx_sitemap_li_title a {
  transition: all 0.4s ease;
  color: var(--color-red);
}
.programm-container .bx_sitemap .bx_sitemap_ul li .bx_sitemap_li_title a,
.i_programm-container .bx_sitemap .bx_sitemap_ul li .bx_sitemap_li_title a {
  text-decoration: none;
}
.programm-container .bx_sitemap .bx_sitemap_ul li .bx_sitemap_li_title,
.i_programm-container .bx_sitemap .bx_sitemap_ul li .bx_sitemap_li_title {
  font-size: 20px;
  line-height: unset;
  margin: 0;
  padding: 0px 0px 0px 60px;
}
.programm-container .bx_sitemap .bx_sitemap_ul li .bx_sitemap_li_title a,
.i_programm-container .bx_sitemap .bx_sitemap_ul li .bx_sitemap_li_title a {
  font-size: 17px;
  color: var(--color-black);
}

.i_blog-page .i_container .bx_sitemap {
  margin: 0;
}
.i_blog-page .i_container .bx_sitemap ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .i_blog-page .i_container .bx_sitemap ul li:nth-child(n) {
    display: none;
  }
}
.i_blog-page .i_container .bx_sitemap ul li:nth-child(n):before {
  content: " ";
  background-image: url("../img/svg/blog-icon-2_b.svg");
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  position: absolute;
  background-size: 54px;
  background-position: center;
  width: 54px;
  height: 54px;
}
@media screen and (max-width: 1330px) {
  .i_blog-page .i_container .bx_sitemap ul li:nth-child(n):before {
    background-size: 40px;
  }
}
.i_blog-page .i_container .bx_sitemap ul .menu-all-articles:before {
  content: " ";
  background-image: url("../img/svg/blog-icon-2_w.svg") !important;
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  position: absolute;
  background-size: 54px;
  width: 54px;
  height: 54px;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1):before {
  content: " ";
  background-image: url("../img/svg/blog-icon_b.svg") !important;
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  position: absolute;
  background-size: 54px;
  background-position: center;
  width: 54px;
  height: 54px;
}
@media screen and (max-width: 1330px) {
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1):before {
    background-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .bx_sitemap_li_title {
    display: none;
  }
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1).menu-all-articles:before {
  background-image: url("../img/svg/blog-icon_w.svg") !important;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-dropdown-menu {
  display: none;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-menu {
  display: none;
  background-color: var(--color-circlesFourth);
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-menu .bx_sitemap_li_title.second {
  display: block;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-menu .bx_sitemap_li_title.second a {
  color: var(--color-WhiteWhite);
}
@media screen and (max-width: 480px) {
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-menu {
    background-color: var(--color-circles);
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-menu:before {
    content: " ";
    background-image: url("../img/svg/blog-icon_b.svg") !important;
    background-repeat: no-repeat;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
    background-size: 54px;
    width: 54px;
    height: 54px;
  }
}
@media screen and (max-width: 480px) {
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) {
    width: 90vw;
    display: flex !important;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1).menu-all-articles {
    margin: 0;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .bx_sitemap_li_title {
    padding: 0;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .bx_sitemap_li_title a {
    font-size: 16px;
    color: var(--color-White);
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1).i_blog-open-dropdown .i_blog-dropdown-menu {
    transform: translateY(140px);
    opacity: 1;
    visibility: visible;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1).i_blog-open-dropdown .i_blog-menu:after {
    transform: rotate(225deg);
    top: 15px;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-dropdown-menu:before {
    content: " ";
    border: 20px solid transparent;
    border-bottom: 20px solid var(--color-circlesThird);
    position: absolute;
    top: -10%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-dropdown-menu {
    position: absolute;
    background-color: var(--color-circlesThird);
    max-width: 90vw;
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    gap: 10px;
    padding: 15px;
    box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.11);
    transform: translateY(70px);
    opacity: 0;
    visibility: hidden;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-dropdown-menu li:nth-child(n) {
    display: flex;
    width: 80vw;
    height: 40px;
    align-items: center;
    margin: 0;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-dropdown-menu li:nth-child(n):before {
    content: " ";
    background-image: url("../img/svg/blog-icon-2_b.svg") !important;
    background-repeat: no-repeat;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
    background-size: 54px;
    width: 54px;
    height: 54px;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-dropdown-menu li:nth-child(n):after {
    content: none;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-dropdown-menu li:nth-child(n) .bx_sitemap_li_title a {
    color: var(--color-black);
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-menu {
    width: 90vw;
    display: flex !important;
    height: 42px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--color-circlesFourth);
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-menu:before {
    content: " ";
    background-image: url("../img/svg/blog-icon_w.svg") !important;
    background-repeat: no-repeat;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
    background-size: 54px;
    width: 54px;
    height: 54px;
  }
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:nth-child(1) .i_blog-menu:after {
    content: " ";
    position: absolute;
    z-index: 1;
    top: 35%;
    right: 6%;
    border: solid var(--color-WhiteWhite);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
  }
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul .menu-all-articles {
  background-color: var(--color-circles);
  margin: 20px 20px 0 0;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul .menu-all-articles .bx_sitemap_li_title {
  line-height: unset;
  margin: 0;
  padding: 20px 30px 20px 50px;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul .menu-all-articles .bx_sitemap_li_title a {
  color: var(--color-White);
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li {
  list-style-type: none;
  background-color: var(--color-circlesSecond);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.02);
  position: relative;
  border-radius: 30px;
  margin: 20px 20px 0 0;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:hover {
  cursor: pointer;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li:hover .bx_sitemap_li_title a {
  transition: all 0.4s ease;
  color: var(--color-red);
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li .bx_sitemap_li_title {
  font-size: 20px;
  line-height: unset;
  margin: 0;
  padding: 20px 30px 20px 50px;
}
.i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li .bx_sitemap_li_title a {
  font-size: 20px;
  color: var(--color-black);
}
@media screen and (max-width: 1600px) {
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li .bx_sitemap_li_title a {
    font-size: 18px;
  }
}
@media screen and (max-width: 1330px) {
  .i_blog-page .i_container .bx_sitemap .bx_sitemap_ul li .bx_sitemap_li_title a {
    font-size: 14px;
  }
}
.i_blog-page .i_container .bx_sitemap .catalog-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 70px 0 70px 0;
}
@media screen and (max-width: 1270px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section {
    gap: 0px;
  }
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-small-card .product-item-big-card {
    width: 100%;
    max-width: 1235px;
    display: flex;
  }
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-small-card .product-item-big-card .row {
    padding: 0 0 30px 0;
  }
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container {
  display: flex;
  gap: 30px;
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 745px;
  width: 100%;
  height: max-content;
  border-radius: 30px;
  padding: 30px;
  background-color: var(--color-blockHv);
}
@media screen and (max-width: 1520px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item {
    min-height: 380px;
  }
}
@media screen and (max-width: 1270px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item {
    min-height: unset;
    width: 100%;
    max-width: 1235px;
  }
}
@media screen and (max-width: 1080px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item {
    max-width: 1020px;
    width: 100%;
  }
}
@media screen and (max-width: 590px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item {
    display: none;
  }
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.4s ease;
  background-color: #f9f9f9;
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item:hover .product-item-right .product-item-content .product-item-name span {
  color: var(--color-red);
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item .product-item-left {
  width: 40%;
}
@media screen and (max-width: 1270px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item .product-item-left {
    width: 25%;
  }
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item .product-item-left .product-item-img {
  max-width: 290px;
  width: 100%;
  height: auto;
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item .product-item-left .product-item-img img {
  width: 100%;
  height: 100%;
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item .product-item-right {
  width: 49%;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 50px;
}
@media screen and (max-width: 1270px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item .product-item-right {
    width: 65%;
  }
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item .product-item-right .product-item-top {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item .product-item-right .product-item-top .product-item-date {
  width: max-content;
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item .product-item-right .product-item-top .product-item-date span {
  font-size: 13px;
  font-weight: 600;
  color: #7c7c7c;
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item .product-item-right .product-item-top .product-item-topic {
  width: 50%;
  min-width: 186px;
  background-color: var(--color-bg-sticker);
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 12px;
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item .product-item-right .product-item-top .product-item-topic span {
  color: var(--color-WhiteWhite);
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item .product-item-right .product-item-content {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item .product-item-right .product-item-content .product-item-name span {
  font-size: 18px;
  line-height: 22px;
  color: var(--color-textInfoblock);
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item .product-item-right .product-item-content .product-item-title {
  overflow: hidden;
  margin-bottom: 15px;
  text-overflow: ellipsis;
  white-space: wrap;
}
@media screen and (max-width: 590px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item .product-item-right .product-item-content .product-item-title {
    display: none;
  }
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .product-item .product-item-right .product-item-content .product-item-title span {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  cursor: text;
  color: var(--color-textInfoblock);
}
.i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second {
  display: none;
}
@media screen and (max-width: 590px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second {
    display: flex;
    max-width: 530px;
    width: 100%;
    height: max-content;
    border-radius: 30px;
    padding: 30px;
    background-color: var(--color-blockHv);
    flex-direction: column;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second {
    padding: 20px;
  }
}
@media screen and (max-width: 590px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.4s ease;
    background-color: #f9f9f9;
  }
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second:hover .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-name span {
    color: var(--color-red);
  }
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top {
    display: none;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-left {
    display: block;
    width: 36%;
  }
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-left .i_vacantion-img {
    max-width: 290px;
    width: 100%;
    height: auto;
  }
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-left .i_vacantion-img img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right {
    padding: 0 0 0 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) and (max-width: 360px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right {
    padding: 0 0 0 15px;
    gap: 15px;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .product-item-date {
    width: max-content;
  }
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .product-item-date span {
    font-size: 13px;
    font-weight: 600;
    color: #7c7c7c;
  }
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-topic {
    width: 100%;
    max-width: 200px;
    min-width: 186px;
    background-color: var(--color-bg-sticker);
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 12px;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) and (max-width: 360px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-topic {
    min-width: 160px;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-topic span {
    font-size: 13px;
    color: var(--color-WhiteWhite);
    cursor: text;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) and (max-width: 360px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-topic span {
    font-size: 11px;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-name span {
    font-size: 16px;
    line-height: 18px;
    color: var(--color-textInfoblock);
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) and (max-width: 360px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-name span {
    font-size: 14px;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-title {
    display: none;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacation-item-top .i_vacantion-item-right .i_vacantion-item-title span {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    cursor: text;
    color: var(--color-textInfoblock);
  }
}
@media screen and (max-width: 590px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacantion-item-right.second {
    display: none;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacantion-item-right.second {
    display: flex;
    padding: 30px 0 0 0;
    width: 100%;
  }
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacantion-item-right.second .i_vacantion-item-title {
    display: flex;
  }
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacantion-item-right.second .i_vacantion-item-title span {
    color: var(--color-textInfoblock);
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 590px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacantion-item-right.second .i_vacantion-item-title span {
    font-size: 14px;
  }
}
@media screen and (max-width: 590px) and (max-width: 590px) and (max-width: 360px) {
  .i_blog-page .i_container .bx_sitemap .catalog-section .product-item-container .i_vacantion-item.second .i_vacantion-item-right.second .i_vacantion-item-title span {
    font-size: 12px;
  }
}

/*# sourceMappingURL=general.css.map */
