button{
  border-radius: 50px;
  background-color: var(--color-red);
  color: var(--color-buttonText);
  font-size: 16px;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  transition: all .4s ease;
  &:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.03);
    color: var(--color-red);
    background-color: var(--bg-buttonHover);
  }
}

span{
  transition: all .4s ease;
  &:hover{
    cursor: pointer;
    color: var(--color-red);
  }
}

.news-item{
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  transition: all .4s ease;
  &:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    a{
      b{
        color: var(--color-red);
      }
    }
  }
  a{
    b{
      color: var(--color-textInfoblock);
    }
  }
}
.blog-item{
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  transition: all .4s ease;
  &:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    a{
      b{
        color: var(--color-red);
      }
    }
  }
  a{
    b{
      color: var(--color-textInfoblock);
    }
  }
}