button {
  border-radius: 50px;
  background-color: var(--color-red);
  color: var(--color-buttonText);
  font-size: 16px;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  transition: all .4s ease;
  @media screen and (max-width: 1330px){
    font-size: 14px;
  }

  &:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    color: var(--color-red);
    background-color: var(--bg-buttonHover);
    svg{
      color: var(--color-red) !important;
    }
  }
}

span {
  transition: all .4s ease;
  color: var(--color-black);

  &:hover {
    cursor: pointer;
    color: var(--color-red);
  }
}

.color-red{
  color: var(--color-red) !important;
}

.text-weight{
  font-weight: 600 !important;
}

.news-item,
.news-page-item {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all .4s ease;

  &:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);

    a {
      b {
        color: var(--color-red);
      }
    }
  }

  a {
    b {
      color: var(--color-textInfoblock);
    }
  }
}

.blog-item {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all .4s ease;

  &:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);

    a {
      b {
        color: var(--color-red);
      }
    }
  }

  a {
    b {
      color: var(--color-textInfoblock);
    }
  }
}

.i_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

*{
  &::-webkit-scrollbar {
    background-color: #e7e7e7; /* Цвет бегунка */
    border-radius: 30px; /* Округление бегунка */
    width: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-red);
    border-radius: 30px;
  }
}

.i_modal {
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -190%);
  z-index: 991;
  padding: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  width: 95%;
  height: 90%;
  border-radius: 35px;

  .i_container{
    margin: 25px 5%;
    padding: 0 10%;
    width: unset;
    overflow-y: auto;
    height: calc(100% - 45px);
    @media screen and (max-width: 1630px){
      padding: 0 5%;
    }
    @media screen and (max-width: 1330px){
      padding: 0 3%;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
  }

  .i_modal-close {
    position: absolute;
    top: 30px;
    right: 32px;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 40px;
    height: 40px;
    background: var(--bg-second);
    display: flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;

    img{
      width: 30px;
      height: 30px;
    }

    &:hover {
      color: var(--color-red);
    }
  }

  .i_modal-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 60px;

    .i_modal-img{
      width: 35%;
      img{
        width: 100%;
      }
    }

    .i_modal-header-content{
      width: 65%;
    }
    .i_modal-preview{
      display: flex;
      flex-direction: column;
      gap: 20px;
      .i_modal-preview-title{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 10px;
        text-transform: uppercase;
        cursor: text;
        color: var(--color-textInfoblock);
        span{
          cursor: text;
        }
      }
      .i_modal-preview-subtitle{
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--color-textInfoblock);
        cursor: text;
      }
      .i_modal-preview-content{
        font-size: 1rem;
        font-weight: 400;
        color: var(--color-textInfoblock);
        font-family: "Open Sans", sans-serif;
        cursor: text;
      }
      .i_modal-preview-ending{
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--color-textInfoblock);
        cursor: text;
        span{
          cursor: text;
        }
      }
    }

  }
}

// BLOG
.i_blog{
  .i_container{
    .bx_sitemap{
      margin: 0;
      .bx_sitemap_ul{
        display: flex;
        flex-wrap: wrap;
        //gap: 25px;
        margin: 0;

        //WRAPPER LI menu-all-articles BEFORE
        .menu-all-articles:before{
          content: ' ';
          background-image: url("../img/svg/menu-blog-icon_w.svg");
          background-repeat: no-repeat;
          left: 0%;
          top: 50%;
          transform: translate(150%, -50%);
          position: absolute;
          background-size: 14px;
          width: 14px;
          height: 14px;
        }
        //!WRAPPER LI menu-all-articles BEFORE
        //WRAPPER LI menu-all-articles
        .menu-all-articles{
          background-color: var(--color-circles);
          margin: 20px 20px 0 0;
          //PROPERTIES H2
          .bx_sitemap_li_title{
            font-size: 20px;
            line-height: unset;
            margin: 0;
            padding: 20px 30px 20px 50px;
            a{
              font-size: 20px;
              color: var(--color-White);
            }
          }
          //!PROPERTIES H2
        }
        //!WRAPPER LI menu-all-articles
        //WRAPPER LI BEFORE
        li:before{
          content: ' ';
          background-image: url("../img/svg/menu-blog-icon_b.svg");
          background-repeat: no-repeat;
          left: 0%;
          top: 50%;
          transform: translate(150%, -50%);
          position: absolute;
          background-size: 14px;
          width: 14px;
          height: 14px;
        }
        //!WRAPPER LI BEFORE
        //WRAPPER LI
        li{
          list-style-type: none;
          background-color: var(--color-circlesSecond);
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.02);
          //border: solid 2px black;
          position: relative;
          border-radius: 30px;
          margin: 20px 20px 0 0;
          &:hover{
            cursor: pointer;
            //PROPERTIES H2
            .bx_sitemap_li_title{
              a{
                transition: all .4s ease;
                color: var(--color-red);
              }
            }
            //!PROPERTIES H2
          }
          //PROPERTIES H2
          .bx_sitemap_li_title{
            font-size: 20px;
            line-height: unset;
            margin: 0;
            padding: 20px 30px 20px 50px;
            a{
              font-size: 20px;
              color: var(--color-black);
            }
          }
          //!PROPERTIES H2
        }
        //!WRAPPER LI
      }
    }
  }
}
// !BLOG