@charset "UTF-8";
button {
  border-radius: 50px;
  background-color: var(--color-red);
  color: var(--color-buttonText);
  font-size: 16px;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
button:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  color: var(--color-red);
  background-color: var(--bg-buttonHover);
}
button:hover svg {
  color: var(--color-red) !important;
}

span {
  transition: all 0.4s ease;
  color: var(--color-black);
}
span:hover {
  cursor: pointer;
  color: var(--color-red);
}

.color-red {
  color: var(--color-red) !important;
}

.text-weight {
  font-weight: 600 !important;
}

.news-item,
.news-page-item {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.4s ease;
}
.news-item:hover,
.news-page-item:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.news-item:hover a b,
.news-page-item:hover a b {
  color: var(--color-red);
}
.news-item a b,
.news-page-item a b {
  color: var(--color-textInfoblock);
}

.blog-item {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.4s ease;
}
.blog-item:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.blog-item:hover a b {
  color: var(--color-red);
}
.blog-item a b {
  color: var(--color-textInfoblock);
}

.i_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.i_overlay.active {
  opacity: 1;
  visibility: visible;
}

*::-webkit-scrollbar {
  background-color: #e7e7e7; /* Цвет бегунка */
  border-radius: 30px; /* Округление бегунка */
  width: 9px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-red);
  border-radius: 30px;
}

.i_modal {
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -190%);
  z-index: 991;
  padding: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  width: 95%;
  height: 90%;
  border-radius: 35px;
}
.i_modal .i_container {
  margin: 25px 5%;
  padding: 0 10%;
  width: unset;
  overflow-y: auto;
  height: calc(100% - 45px);
}
.i_modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}
.i_modal .i_modal-close {
  position: absolute;
  top: 30px;
  right: 32px;
  cursor: pointer;
  transition: all 0.4s ease;
  width: 40px;
  height: 40px;
  background: var(--bg-second);
  display: flex;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
}
.i_modal .i_modal-close img {
  width: 30px;
  height: 30px;
}
.i_modal .i_modal-close:hover {
  color: var(--color-red);
}
.i_modal .i_modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 60px;
}
.i_modal .i_modal-header .i_modal-img {
  width: 35%;
}
.i_modal .i_modal-header .i_modal-img img {
  width: 100%;
}
.i_modal .i_modal-header .i_modal-header-content {
  width: 65%;
}
.i_modal .i_modal-header .i_modal-preview {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.i_modal .i_modal-header .i_modal-preview .i_modal-preview-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  cursor: text;
  color: var(--color-textInfoblock);
}
.i_modal .i_modal-header .i_modal-preview .i_modal-preview-title span {
  cursor: text;
}
.i_modal .i_modal-header .i_modal-preview .i_modal-preview-subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-textInfoblock);
  cursor: text;
}
.i_modal .i_modal-header .i_modal-preview .i_modal-preview-content {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-textInfoblock);
  font-family: "Open Sans", sans-serif;
  cursor: text;
}
.i_modal .i_modal-header .i_modal-preview .i_modal-preview-ending {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-textInfoblock);
  cursor: text;
}
.i_modal .i_modal-header .i_modal-preview .i_modal-preview-ending span {
  cursor: text;
}

/*# sourceMappingURL=general.css.map */
