@font-face {
  font-family: 'Comfortaa'; /* Имя шрифта, которое вы будете использовать в CSS */
  src: url('../fonts/Comfortaa-VariableFont_wght.ttf') format('truetype'); /* Путь к шрифту и формат */
  font-weight: normal; /* Вес шрифта, например, normal или bold */
  font-style: normal; /* Стиль шрифта, например, normal или italic */
}

body{
  font-family: 'Comfortaa', sans-serif; /* Укажите имя шрифта */
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.i_container {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  width: 1520px;
  padding-bottom: 235px;
  @media screen and (max-width: 1520px){
    width: 100%;
    margin: 0 30px;
  }
}

//HEADER/
.i_header {
  display: flex;
  .i_container {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 74px;
    height: 114px;
    //HEADER LEFT
    .i_header-left {
      display: flex;
      gap: 20px;

      //HEADER BURGER
      .i_header-burger {
        width: 50px;
        height: 50px;
        background-color: #000000;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          color: white;
        }
      }
      //!HEADER BURGER

      //HEADER MENU
      .i_header-menu {
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 26px;
        li {
          list-style-type: none;
        }
        .i_header-menu-item a {
          color: black;
          font-size: 15px;
          font-weight: bold;
          font-style: normal;
          font-optical-sizing: auto;
          text-decoration: none;
          transition: all .3s ease;
          &:hover {
            color: #FF161F;
          }
          &:focus {
            color: #FF161F;
            background-color: #f5f5f5;
            border-radius: 25px;
            padding: 2vh 4vh;
          }
        }
      }
      //!HEADER MENU
    }
    //!HEADER LEFT

    //HEADER RIGHT
    .i_header-right {
      display: flex;
      gap: 50px;

      //HEADER BLOG
      .i_header-blog {
        width: 120px;
        height: 50px;
        background-color: #FF161F;
        border-radius: 25px;
        border: none;
        color: white;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-optical-sizing: auto;
        cursor: pointer;
        &:hover {
          color: #FF161F;
          font-weight: bold;
          background-color: #f5f5f5;
        }
      }

      //!HEADER BLOG

      //HEADER MORE
      .i_header-more {
        display: flex;
        gap: 10px;

        .i_header-circles {
          width: 50px;
          height: 50px;
          background-color: #000000;
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;

          //RU
          span {
            margin-top: 2px;
            color: white;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-optical-sizing: auto;
          }

          &:hover {
            color: black;
            background: #f5f5f5;
            transition: 0.3s ease;
            cursor: pointer;

            span {
              color: #FF161F;
              font-weight: bold;
            }
          }

          //!RU

          //SEARCH ICON
          .search-icon {
            color: #ffffff;
          }

          &:hover {
            background: #f5f5f5;
            transition: 0.3s ease;
            cursor: pointer;

            .search-icon {
              color: #FF161F;
            }
          }

          //!SEARCH ICON

          //WHATSAPP EMAIL
          svg {
            color: white;
          }

          &:hover {
            background: #f5f5f5;
            transition: 0.3s ease;
            cursor: pointer;

            svg {
              color: #FF161F;
            }
          }

          //!WHATSAPP EMAIL


        }

      }

      //!HEADER MORE
    }
    //!HEADER RIGHT
  }
}
//!HEADER

//MAIN
.i_main {

  //MAIN BANNER
  .i_banner  {
    display: flex;
    justify-content: space-between;
    position: relative;
    .i_banner-bg{
      position: absolute;
      top: 50%;
      transform: translateY(calc(-50%));
      left: 32%;
      z-index: 1;
      width: 40%;
      height: auto;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .i_container {
      display: flex;
      justify-content: space-between;
      position: relative;
      //BANNER LEFT
      .i_banner-left {
        display: flex;
        flex-direction: column;
        .i_banner-group_social{
          display: none;
        }

        //BANNER HEADLINE
        .i_banner-logo svg{
          color: black;
          margin-top: 82px;
          margin-bottom: 85px;
        }
        //!BANNER HEADLINE

        //BANNER HEADLINE
        .i_banner-headline {
          display: flex;
          margin-bottom: 30px;
          span {
            font-size: 42px;
            font-weight: bold;
            text-transform: uppercase;
            color: #FF161F;
          }
          p {
            font-size: 42px;
            font-weight: bold;
            text-transform: uppercase;
            color: black;
          }
        }
        //!BANNERHEADLINE

        //BANNER ПРОДАЖА И ВНЕДРЕНИЕ
        span {
          font-size: 24px;
          font-weight: bold;
          color: black;
        }
        //!BANNER ПРОДАЖА И ВНЕДРЕНИЕ

        //BANNER BTN APPLY
        .i_banner-btn-apply {
          width: 330px;
          height: 60px;
          border-radius: 50px;
          border: none;
          background-color: #FF161F;
          color: white;
          font-size: 16px;
          font-weight: bold;
          margin-top: 80px;
          cursor: pointer;
          &:hover {
            transition: 0.3s ease;
            color: #FF161F;
            background-color: #f5f5f5;
          }
        }
        //!BANNER BTN APPLY

      }
      //!MAIN LEFT

      //!BANNER RIGHT
      .i_banner-right {
        display: flex;
        flex-direction: column;
        gap: 110px;
        //MAIN GROUP SOCIAL
        .i_banner-group_social {
          display: flex;
          justify-content: space-between;
          gap: 60px;
          margin-top: 30px;
          //MAIN SOCIAL
          .i_banner-social {
            display: flex;
            flex-direction: row;
            gap: 10px;
            color: #FF161F;
            //HOVER MAIN SOCIAL ITEM
            .i_banner-social_item {
              width: 50px;
              height: 50px;
              background-color: #f5f5f5;
              border-radius: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              .i_banner-social_link {
                svg{
                  color: black;
                }
              }
              &:hover {
                transition: 0.3s ease;
                cursor: pointer;
                .i_banner-social_link {
                  svg{
                    color: #FF161F;
                  }
                }
              }
            }
            //!HOVER MAIN SOCIAL ITEM

            li {
              list-style-type: none;
            }  /* Удаляет точки-декорацию */
          }
          //!MAIN SOCIAL

          //MAIN NIGHT SUN
          .i_banner-night_sun_item {
            width: 50px;
            height: 50px;
            background-color: black;
            border-radius: 25px;
            display: flex;
            outline: none;
            align-items: center;
            border: 0;
            justify-content: center;
            //HOVER NIGHT SUN
            .i_banner-icon-nightSun {
              margin-bottom: 5px;
              margin-right: 5px;
              color: white;
              svg{
                color: white;
              }
            }
            &:focus {
              background-color: #f5f5f5;
              transition: 0.3s ease;
              cursor: pointer;
              border: none;
              .i_banner-icon-nightSun {
                margin-bottom: 5px;
                margin-right: 5px;
                color: black;
              }
            }
            //!HOVER NIGHT SUN
          }
          //!MAIN NIGHT SUN
        }
        //!MAIN GROUP SOCIAL

        //MAIN SKILLS
        .i_banner-skills {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .i_banner-item {
            display: flex;
            align-items: center;
            gap: 20px;
            &:hover {
              background-color: #f5f5f5;
              border-radius: 50px;
              transition: 0.3s ease;
              cursor: pointer;
              .i_banner-circles {
                width: 50px;
                height: 50px;
                background-color: #f5f5f5;
                svg {
                  color: black;
                }
              }
              p {
                color: #FF161F;
              }
            }
            .i_banner-circles {
              width: 50px;
              height: 50px;
              background-color: #FF161F;
              border-radius: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              svg {
                color: white;
              }
            }
            p{
              font-size: 17px;
              font-weight: 600;
              color: black;
            }
          }

        }
        //!MAIN SKILLS
        .i_banner-btn-apply{
          display: none;
        }
      }
      //!BANNER RIGHT
    }


  }
  //!MAIN BANNER

  //MAIN OUR SERVICES
  .i_our-services {
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    .i_container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 70px;
      padding-bottom: 70px;
      img{
        width: 800px;
        height: 800px;
        position: absolute;
        z-index: 1;
        top: 6%;
        left: 14%;
        opacity: 0.6;
      }
      //Группа наши услуги
      .i_our-services-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
        position: relative;
        z-index: 2;
        //Группа заголовок
        .i_our-services-headline {
          display: flex;
          align-items: center;
          gap: 20px;
          //Группа иконка
          .i_our-services-circles {
            width: 50px;
            height: 50px;
            background-color: black;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
              color: white;
            }
          }
          //!Группа иконка
          span{
            font-size: 32px;
            font-weight: bold;
            color: black;
            text-transform: uppercase;
            &:hover{
              transition: 0.3s ease;
              cursor: pointer;
              color: #FF161F;
            }
          }
        }
        //!Группа заголовок

        //Группа анонсы
        .i_our-services-preview {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 30px;
          .i_our-services-block{
            width: 32%;
            height: 240px;
            border-radius: 30px;
            background-color: white;
            background-image: url("../img/main/notice_Our-services.png");
            background-repeat: no-repeat;
            background-position-x: 100%;
            background-position-y: 100%;
            display: flex;
            flex-direction: column;
            padding: 30px 30px;
            gap: 25px;
            span{
              font-size: 20px;
              font-weight: bold;
            }
            p{
              font-family: 'Open Sans';
              font-size: 14px;
              font-weight: 600;
              line-height: 1.5;
              width: 222px;
            }
            &:hover{
              cursor: pointer;
              background-color: #f9f9f9;
              transition: 0.3s ease;
              span{
                color: #FF161F;
              }
            }
          }
        }
        //!Группа анонсы

        //Кнопка Запросить коммерческое предложение
        .i_our-services-btn-request{
          width: 440px;
          height: 60px;
          background-color: #FF161F;
          border-radius: 50px;
          border: 0;
          outline-style: none;
          color: white;
          font-family: "Comfortaa", sans-serif;
          font-size: 16px;
          font-weight: bold;
          &:hover {
            transition: 0.3s ease;
            color: #FF161F;
            background-color: white;
            cursor: pointer;
          }
        }
        //!Кнопка Запросить коммерческое предложение
      }
      //!Группа наши услуги
    }

  }
  //!MAIN OUR SERVICES

  //MAIN SOFTWARE
  .i_software{
    background-color: #f5f5f5;
    .i_container{
    padding-top: 25px;
      padding-bottom: 35px;
      //Software Иконка с 1С
      .i_software-corporate{
        display: flex;
        gap: 40px;
        align-items: center;

        //Software Icon Img
        .i_software-iconAnnounce{
          display: flex;
          position: relative;
          svg{
          }
          //Изображение 1С
          .i_software-im{
            width: 205px;
            height: 205px;
            background-color: white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            img{
              width: 160px;
              height: auto;
            }
          }
          //Изображение 1С
        }
        //Software Icon Img
        //Software Текст с кнопкой
        .i_software-group-textBtn{
          display: flex;
          flex-direction: column;
          gap: 40px;
          //Software text
          .i_software-group-text{
            display: flex;
            flex-direction: column;
            gap: 40px;
            //Software Headline
            .i_software-headline{
              font-size: 30px;
              font-weight: bold;
            }
            //Software Headline
            //Software Description
            .i_software-desc{
              font-size: 16px;
              font-family: "Open Sans";
              font-weight: 600;
              width: 99%;
            }
            //Software Description
          }
          //Software text
          //Software Button
          .i_software-btn {
            width: 334px;
            height: 60px;
            background-color: #FF161F;
            border-radius: 50px;
            font-size: 16px;
            font-weight: bold;
            color: white;
            border: 0;
          }
          //Software Button
        }
        //Software Текст с кнопкой
      }
      //Software Иконка с 1С

    }
  }
  //!MAIN SOFTWARE

}
//!MAIN


//HEADER MEDIA ADAPTIVE 1330
@media screen and (max-width: 1330px) {
  //Header
  .i_header {
    .i_container {
      margin: 0 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      height: 100px;
      //Header Left
      .i_header-left{
        //Header Burger
        .i_header-burger{
          width: 40px;
          height: 40px;
          svg{
            width: 12px;
            height: 12px;
          }
        }
        //!Header Burger
        //Header Menu
        .i_header-menu{
          gap: 24px;
          .i_header-menu-item a {
            color: black;
            font-size: 13px;
            font-weight: bold;
          }
        }
        //!Header Menu
      }
      //!Header Left
      //Header Right
      .i_header-right{
        gap: 30px;
        //Header Blog
        .i_header-blog{
          width: 95px;
          height: 40px;
          font-size: 12px;
        }
        //!Header Blog
        //Header More
        .i_header-more{
          //Header Circles
          .i_header-circles{
            width: 40px;
            height: 40px;
            span{
              font-size: 12px;
            }
            .lupa-icon{
              width: 14px;
              height: 16px;
            }
            .whatsapp-icon{
              width: 14px;
              height: 14px;
            }
            .email-icon{
              width: 14px;
              height: 12px;
            }
          }
          //!Header Circles
        }
        //!Header More
      }
      //!Header Right
    }
  }
  //!Header

  //Main
  .i_main {
    //Banner
    .i_banner{
      .i_container{
        //Фоновая картинка
        .i_banner-bg{
          width: 460px;
          height: 400px;
        }
        //!Фоновая картинка
        //Левая часть баннера
        .i_banner-left{
          //Логотип ExSol.com
          .i_banner-logo svg{
            width: 336px;
            height: 63px;
            margin-top: 88px;
            margin-bottom: 60px;
          }
          //!Логотип ExSol.com
          //Заголовок
          .i_banner-headline{
            margin-bottom: 25px;
            span{
              font-size: 34px;
              text-transform: uppercase;
            }
            p{
              font-size: 34px;
              text-transform: uppercase;
            }
          }
          //!Заголовок
          //Подзаголовок
          span{
            font-size: 20px;
          }
          //!Подзаголовок
          //Кнопка Оставить Заявку
          .i_banner-btn-apply{
            width: 272px;
            height: 50px;
            margin-top: 70px;
            font-size: 14px;
          }
          //!Кнопка Оставить Заявку
        }
        //!Левая часть баннера
        //Правая часть баннера
        .i_banner-right{
          gap: 112px;
          //Группа Соц-сетей и ДеньНочь
          .i_banner-group_social{
            gap: 30px;
            //Группа Соц-сети
            .i_banner-social{
              .i_banner-social_item{
                  width: 40px;
                  height: 40px;
                .instagram-icon{
                    width: 16px;
                    height: 16px;
                  }
                .facebook-icon{
                  width: 9px;
                  height: 16px;
                }
                .youtube-icon{
                  width: 16px;
                  height: 16px;
                }
                .telegram-icon{
                  width: 18px;
                  height: 16px;
                }
                .linkedin-icon{
                  width: 18px;
                  height: 16px;
                }
                }
            }
            //!Группа Соц-сети
            //Группа ДеньНочь
            .i_banner-night_sun{
              .i_banner-night_sun_item{
                width: 40px;
                height: 40px;
                svg{
                  width: 22px;
                  height: 22px;
                }
              }
            }
            //Группа ДеньНочь
          }
          //!Группа Соц-сетей и ДеньНочь
          //Группа Навыки
          .i_banner-skills{
            .i_banner-item{
              gap: 10px;
              &:hover{
                .i_banner-circles {
                  width: 40px;
                  height: 40px;
                  background-color: #f5f5f5;
                }
              }
              .i_banner-circles{
                width: 40px;
                height: 40px;
                .banner-icon_1{
                  width: 22px;
                  height: 22px;
                }
                .banner-icon_2{
                  width: 18px;
                  height: 16px;
                }
                .banner-icon_3{
                  width: 22px;
                  height: 22px;
                }
                .banner-icon_4{
                  width: 18px;
                  height: 12px;
                }
              }
              p{
                font-size: 14px;
              }
            }
          }
          //!Группа Навыки

        }
        //!Правая часть баннера
      }
    }
    //!Banner
    //Our Services
    .i_our-services{
      .i_container{

      }
        //Группа наши услуги
        .i_our-services-group{
          //Группа Headline
          .i_our-services-headline{
            .i_our-services-circles{
              width: 40px;
              height: 40px;
              svg{
                width: 30px;
                height: 33px;
              }
            }
            span{
              font-size: 28px;
            }
          }
          //!Группа Headline
          //Группа Preview
          .i_our-services-preview{
            justify-content: center;
            .i_our-services-block{
              width: 394px;
              height: 235px;
              gap: 20px;
              background-size: 200px 150px;
              padding: 30px 20px;
              p{
                font-size: 12px;
                width: 177px;
              }
            }
          }
          //!Группа Preview
          //Группа Btn request
          .i_our-services-btn-request{
            width: 350px;
            height: 48px;
            font-size: 14px;
          }
          //!Группа Btn request
        }
        //!Группа наши услуги
      }
    }
    //!Our Services

  }
  //!Main

//!HEADER MEDIA ADAPTIVE 1330

//HEADER MEDIA ADAPTIVE 1000
@media screen and (max-width: 1000px) {
  //Header
  .i_header {
    .i_container {
      display: flex;
      justify-content: end;
      margin: 0 30px;
      gap: 10px;
      height: 100px;
      //Header Left
      .i_header-left{
        //Header Burger
        .i_header-burger{
          width: 40px;
          height: 40px;
          svg{
            width: 12px;
            height: 12px;
          }
        }
        //!Header Burger
        //Header Menu
        .i_header-menu{
          display: none;
        }
        //!Header Menu
      }
      //!Header Left
      //Header Right
      .i_header-right{
        gap: 10px;
        //Header Blog
        .i_header-blog{
          width: 95px;
          height: 40px;
          font-size: 12px;
        }
        //!Header Blog
        //Header More
        .i_header-more{
          //Header Circles
          .i_header-circles{
            width: 40px;
            height: 40px;
            span{
              font-size: 12px;
            }
            .lupa-icon{
              width: 14px;
              height: 16px;
            }
            .whatsapp-icon{
              width: 14px;
              height: 14px;
            }
            .email-icon{
              width: 14px;
              height: 12px;
            }
          }
          //!Header Circles
        }
        //!Header More
      }
      //!Header Right
    }
  }
  //!Header

  //Main
  .i_main {
    //Banner
    .i_banner{
      .i_container{
        padding-bottom: 80px;
        //Фоновая картинка
        .i_banner-bg{
          position: absolute;
          top: 59%;
          left: 8%;
          z-index: 1;
          width: 435px;
          height: 380px;
        }
        //!Фоновая картинка
        //Левая часть баннера
        .i_banner-left{
          position: absolute;
          top: -100px;
          z-index: 2;
          //Логотип ExSol.com
          .i_banner-logo svg{
            width: 215px;
            height: 40px;
            margin-top: 30px;
            margin-bottom: 60px;
          }
          //!Логотип ExSol.com
          //Заголовок
          .i_banner-headline{
            margin-bottom: 30px;
            span{
              font-size: 28px;
              text-transform: uppercase;
            }
            p{
              font-size: 28px;
              text-transform: uppercase;
            }
          }
          //!Заголовок
          //Подзаголовок
          span{
            font-size: 16px;
          }
          //!Подзаголовок
          //Кнопка Оставить Заявку
          .i_banner-btn-apply{
           display: none;
          }
          //!Кнопка Оставить Заявку
        }
        //!Левая часть баннера
        //Правая часть баннера
        .i_banner-right{
          position: relative;
          top: -5%;
          left: 63%;
          gap: 70px;
          //Группа Соц-сетей и ДеньНочь
          .i_banner-group_social{
            gap: 60px;
            //Группа Соц-сети
            .i_banner-social{
              .i_banner-social_item{
                width: 40px;
                height: 40px;
                .instagram-icon{
                  width: 16px;
                  height: 16px;
                }
                .facebook-icon{
                  width: 9px;
                  height: 16px;
                }
                .youtube-icon{
                  width: 16px;
                  height: 16px;
                }
                .telegram-icon{
                  width: 18px;
                  height: 16px;
                }
                .linkedin-icon{
                  width: 18px;
                  height: 16px;
                }
              }
            }
            //!Группа Соц-сети
            //Группа ДеньНочь
            .i_banner-night_sun{
              .i_banner-night_sun_item{
                width: 40px;
                height: 40px;
                svg{
                  width: 22px;
                  height: 22px;
                }
              }
            }
            //Группа ДеньНочь
          }
          //!Группа Соц-сетей и ДеньНочь
          //Группа Навыки
          .i_banner-skills{
            .i_banner-item{
              gap: 10px;
              &:hover{
                .i_banner-circles {
                  width: 40px;
                  height: 40px;
                  background-color: #f5f5f5;
                }
              }
              .i_banner-circles{
                width: 40px;
                height: 40px;
                .banner-icon_1{
                  width: 22px;
                  height: 22px;
                }
                .banner-icon_2{
                  width: 18px;
                  height: 16px;
                }
                .banner-icon_3{
                  width: 22px;
                  height: 22px;
                }
                .banner-icon_4{
                  width: 18px;
                  height: 12px;
                }
              }
              p{
                font-size: 14px;
              }
            }
          }
          //!Группа Навыки
          //Кнопка Оставить заявку
          .i_banner-btn-apply{
            display: block;
            width: 268px;
            height: 50px;
            border-radius: 50px;
            border: none;
            background-color: #FF161F;
            color: white;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
          }
          //!Кнопка Оставить заявку
        }
        //!Правая часть баннера
      }
    }
    //!Banner
    //Our Services
    .i_our-services{
      .i_container{
        //Группа наши услуги
        .i_our-services-group{
          //Группа Headline
          .i_our-services-headline{}
          //!Группа Headline
          //Группа Preview
          .i_our-services-preview{
            justify-content: center;
            .i_our-services-block{
              width: 440px;
              height: 196px;
              gap: 20px;
              background-size: 200px 150px;
              padding: 30px 20px;
              p{
                width: 226px;
              }
            }
          }
          //!Группа Preview
          //Группа Btn request
          .i_our-services-btn-request{
            width: 350px;
            height: 48px;
            font-size: 14px;
          }
          //!Группа Btn request
        }
        //!Группа наши услуги
      }
    }
    //!Our Services
  }
  //!Main
}
//!HEADER MEDIA ADAPTIVE 1000

//HEADER MEDIA ADAPTIVE 760
@media screen and (max-width: 760px) {
  //Header
  .i_header {
    .i_container {
      margin: 0 20px;
      gap: 10px;
      height: 80px;
      //Header Left
      .i_header-left{
        //Header Burger
        .i_header-burger{
          width: 40px;
          height: 40px;
          svg{
            width: 12px;
            height: 12px;
          }
        }
        //!Header Burger
        //Header Menu
        .i_header-menu{
          display: none;
        }
        //!Header Menu
      }
      //!Header Left
      //Header Right
      .i_header-right{
        gap: 10px;
        //Header Blog
        .i_header-blog{
          width: 95px;
          height: 40px;
          font-size: 12px;
        }
        //!Header Blog
        //Header More
        .i_header-more{
          //Header Circles
          .i_header-circles{
            width: 40px;
            height: 40px;
            span{
              font-size: 12px;
            }
            .lupa-icon{
              width: 14px;
              height: 16px;
            }
            .whatsapp-icon{
              width: 14px;
              height: 14px;
            }
            .email-icon{
              width: 14px;
              height: 12px;
            }
          }
          //!Header Circles
        }
        //!Header More
      }
      //!Header Right
    }
  }
  //!Header

  //Main
  .i_main {
    //Banner
    .i_banner{
      .i_container{
        margin: 0 20px;
        padding-bottom: 60px;
        //Фоновая картинка
        .i_banner-bg{
          position: absolute;
          top: 59%;
          left: unset;
          z-index: 1;
          width: 330px;
          height: 285px;
        }
        //!Фоновая картинка
        //Левая часть баннера
        .i_banner-left{
          position: absolute;
          top: -100px;
          //Логотип ExSol.com
          .i_banner-logo svg{
            width: 215px;
            height: 40px;
            margin-top: 30px;
            margin-bottom: 50px;
          }
          //!Логотип ExSol.com
          //Заголовок
          .i_banner-headline{
            margin-bottom: 30px;
            span{
              font-size: 26px;
              text-transform: uppercase;
            }
            p{
              font-size: 26px;
              text-transform: uppercase;
            }
          }
          //!Заголовок
          //Подзаголовок
          span{
            font-size: 14px;
          }
          //!Подзаголовок
          //Кнопка Оставить Заявку
          .i_banner-btn-apply{
            display: none;
          }
          //!Кнопка Оставить Заявку
        }
        //!Левая часть баннера 760
        //Правая часть баннера 760
        .i_banner-right{
          position: relative;
          top: -5%;
          left: 50%;
          gap: 60px;
          //Группа Соц-сетей и ДеньНочь
          .i_banner-group_social{
            margin-top: 20px;
            gap: 80px;
            //Группа Соц-сети
            .i_banner-social{
              .i_banner-social_item{
                width: 40px;
                height: 40px;
                .instagram-icon{
                  width: 16px;
                  height: 16px;
                }
                .facebook-icon{
                  width: 9px;
                  height: 16px;
                }
                .youtube-icon{
                  width: 16px;
                  height: 16px;
                }
                .telegram-icon{
                  width: 18px;
                  height: 16px;
                }
                .linkedin-icon{
                  width: 18px;
                  height: 16px;
                }
              }
            }
            //!Группа Соц-сети
            //Группа ДеньНочь
            .i_banner-night_sun{
              .i_banner-night_sun_item{
                width: 40px;
                height: 40px;
                svg{
                  width: 22px;
                  height: 22px;
                }
              }
            }
            //Группа ДеньНочь
          }
          //!Группа Соц-сетей и ДеньНочь
          //Группа Навыки
          .i_banner-skills{
            .i_banner-item{
              gap: 10px;
              &:hover{
                .i_banner-circles {
                  width: 40px;
                  height: 40px;
                  background-color: #f5f5f5;
                }
              }
              .i_banner-circles{
                width: 40px;
                height: 40px;
                .banner-icon_1{
                  width: 22px;
                  height: 22px;
                }
                .banner-icon_2{
                  width: 18px;
                  height: 16px;
                }
                .banner-icon_3{
                  width: 22px;
                  height: 22px;
                }
                .banner-icon_4{
                  width: 18px;
                  height: 12px;
                }
              }
              p{
                font-size: 14px;
              }
            }
          }
          //!Группа Навыки

          .i_banner-btn-apply{
            display: block;
            width: 248px;
            height: 50px;
            border-radius: 50px;
            border: none;
            background-color: #FF161F;
            color: white;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
          }

        }
        //!Правая часть баннера
      }
    }
    //!Banner
    //Our Services
    .i_our-services{
      .i_container{
        padding-top: 60px;
        padding-bottom: 60px;
        //Группа наши услуги
        .i_our-services-group{
          gap: 60px;
          //Группа Headline
          .i_our-services-headline{
            span{
              font-size: 26px;
            }
          }
          //!Группа Headline
          //Группа Preview
          .i_our-services-preview{
            gap: 20px;
            .i_our-services-block{
              width: 340px;
              height: 220px;
              gap: 20px;
              background-size: 143px auto;
              padding: 30px 20px;
              span{
                font-size: 18px;
              }
              p{
                font-size: 13px;
                width: 172px;
              }
            }
          }
          //!Группа Preview
          //Группа Btn request
          .i_our-services-btn-request{
            width: 350px;
            height: 48px;
            font-size: 14px;
          }
          //!Группа Btn request
        }
        //!Группа наши услуги
      }
    }
    //!Our Services
  }
  //!Main
}
//!HEADER MEDIA APAPTIVE 760

//HEADER MEDIA APAPTIVE 480
@media screen and (max-width: 480px) {
  //Header
  .i_header {
    .i_container {
      margin: 0 20px;
      gap: 10px;
      height: 100px;
      //Header Left
      .i_header-left{
        //Header Burger
        .i_header-burger{
          width: 40px;
          height: 40px;
          svg{
            width: 12px;
            height: 12px;
          }
        }
        //!Header Burger
        //Header Menu
        .i_header-menu{
          display: none;
        }
        //!Header Menu
      }
      //!Header Left
      //Header Right
      .i_header-right{
        gap: 10px;
        //Header Blog
        .i_header-blog{
          width: 186px;
          height: 40px;
          font-size: 12px;
        }
        //!Header Blog
        //Header More
        .i_header-more{
          position: relative;
          //Header Circles
          .i_header-circles{
            width: 40px;
            height: 40px;
            span{
              font-size: 12px;
            }
            .lupa-icon{
              width: 14px;
              height: 16px;
            }
            .whatsapp-icon{
              width: 14px;
              height: 14px;
            }
            .email-icon{
              width: 14px;
              height: 12px;
            }
          }
          //!Header Circles
        }
        //!Header More
      }
      //!Header Right
    }
  }
  //!Header

  //Main
  .i_main {
    //Banner
    .i_banner{
      .i_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        padding-bottom: 60px;
        //Фоновая картинка
        .i_banner-bg{
          position: relative;
          width: 385px;
          height: 332px;
          left: unset;
          top: 50%;
          right: 45%;
          transform: translateX(50%);
        }
        //!Фоновая картинка
        //Левая часть баннера
        .i_banner-left{
          position: relative;
          top: 10px ;
          left: unset;
          display: flex;
          align-items: center;
          //Группа Соц-сетей и ДеньНочь
          .i_banner-group_social{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 155px;
            .i_banner-social{
              display: flex;
              gap: 10px;
              .i_banner-social_item{
                width: 40px;
                height: 40px;
                background-color: #f5f5f5;
                border-radius: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                .i_banner-social_link {
                  svg{
                    color: black;
                  }
                }
                &:hover {
                  transition: 0.3s ease;
                  cursor: pointer;
                  .i_banner-social_link {
                    svg{
                      color: #FF161F;
                    }
                  }
                }
                .instagram-icon{
                  width: 16px;
                  height: 16px;
                  margin: 0;
                }
                .facebook-icon{
                  width: 9px;
                  height: 16px;
                  margin: 0;
                }
                .youtube-icon{
                  width: 16px;
                  height: 16px;
                  margin: 0;
                }
                .telegram-icon{
                  width: 18px;
                  height: 16px;
                  margin: 0;
                }
                .linkedin-icon{
                  width: 18px;
                  height: 16px;
                  margin: 0;
                }
                li {
                  list-style: none;
                }
              }
            }
            //Группа ДеньНочь
            .i_banner-night_sun{
              .i_banner-night_sun_item{
                width: 40px;
                height: 40px;
                background-color: black;
                border-radius: 25px;
                display: flex;
                outline: none;
                align-items: center;
                border: 0;
                justify-content: center;
                //HOVER NIGHT SUN
                &:focus {
                  background-color: #f5f5f5;
                  transition: 0.3s ease;
                  cursor: pointer;
                  border: none;
                  .i_banner-icon-nightSun {
                    color: black;
                    margin-bottom: 3px;
                    margin-right: 3px;
                  }
                }
                .i_banner-icon-nightSun{
                  color: white;
                  width: 22px;
                  height: 22px;
                  margin-bottom: 3px;
                  margin-right: 3px;
                }
              }
            }
            //Группа ДеньНочь
          }
          //Группа Соц-сетей и ДеньНочь
          //Логотип ExSol.com
          .i_banner-logo svg{
            width: 216px;
            height: 40px;
            margin-top: 40px;
            margin-bottom: 40px;
          }
          //!Логотип ExSol.com
          //Заголовок
          .i_banner-headline{
            margin-bottom: 30px;
            span{
              font-size: 24px;
              text-transform: uppercase;
            }
            p{
              font-size: 24px;
              text-transform: uppercase;
            }
          }
          //!Заголовок
          //Подзаголовок
          span{
            font-size: 14px;
          }
          //!Подзаголовок
          //Кнопка Оставить Заявку
          .i_banner-btn-apply{
            display: none;
          }
          //!Кнопка Оставить Заявку
        }
        //!Левая часть баннера
        //Правая часть баннера
        .i_banner-right{
          display: flex;
          align-items: center;
          position: relative;
          gap: 60px;
          left: unset;
          //Группа Соц-сетей и ДеньНочь NONE
          .i_banner-group_social{
            display: none;
            }
            //!Группа Соц-сети
            //Группа ДеньНочь
            .i_banner-night_sun{
              .i_banner-night_sun_item{
                width: 40px;
                height: 40px;
                background-color: black;
                border-radius: 25px;
                display: flex;
                outline: none;
                align-items: center;
                border: 0;
                justify-content: center;
                //HOVER NIGHT SUN
                &:focus {
                  background-color: #f5f5f5;
                  transition: 0.3s ease;
                  cursor: pointer;
                  border: none;
                  svg {
                    color: black;
                    margin-bottom: 5px;
                    margin-right: 5px;
                  }
                }
                svg{
                  color: white;
                  margin-bottom: 5px;
                  margin-right: 5px;
                  width: 22px;
                  height: 22px;
                }
              }
            }
            //Группа ДеньНочь
          }
          //!Группа Соц-сетей и ДеньНочь NONE
          //Группа Навыки
          .i_banner-skills{
            .i_banner-item{
              gap: 10px;
              &:hover{
                .i_banner-circles {
                  width: 40px;
                  height: 40px;
                  background-color: #f5f5f5;
                }
              }
              .i_banner-circles{
                width: 40px;
                height: 40px;
                .banner-icon_1{
                  width: 22px;
                  height: 22px;
                }
                .banner-icon_2{
                  width: 18px;
                  height: 16px;
                }
                .banner-icon_3{
                  width: 22px;
                  height: 22px;
                }
                .banner-icon_4{
                  width: 18px;
                  height: 12px;
                }
              }
              p{
                font-size: 14px;
              }
            }
          }
          //!Группа Навыки
          //Кнопка Оставить заявку
          .i_banner-btn-apply{
            display: block;
            width: 208px;
            height: 40px;
            border-radius: 50px;
            border: none;
            background-color: #FF161F;
            color: white;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
          }
          //!Кнопка Оставить заявку
        }
        //!Правая часть баннера
      }
    //!Banner
    //Our Services
    .i_our-services{
      .i_container{
        padding-top: 60px;
        padding-bottom: 60px;
        //Группа наши услуги
        .i_our-services-group{
          gap: 60px;
          //Группа Headline
          .i_our-services-headline{
            span{
              font-size: 21px;
            }
          }
          //!Группа Headline
          //Группа Preview
          .i_our-services-preview{
            gap: 20px;
            .i_our-services-block{
              width: 198px;
              height: 333px;
              gap: 20px;
              background-size: 143px auto;
              padding: 30px 20px;
              background-position-x: center;
              span{
                font-size: 18px;
              }
              p{
                font-size: 13px;
                width: 172px;
              }
            }
          }
          //!Группа Preview
          //Группа Btn request
          .i_our-services-btn-request{
            width: 350px;
            height: 48px;
            font-size: 14px;
          }
          //!Группа Btn request
        }
        //!Группа наши услуги
      }
    }
    //!Our Services
    }

  }
  //!Main
//!HEADER MEDIA APAPTIVE 480

//HEADER MEDIA APAPTIVE 360
@media screen and (max-width: 360px) {
  //Header
  .i_header {
    .i_container {
      margin: 0 16px;
      gap: 10px;
      height: 100px;
      //Header Left
      .i_header-left{
        //Header Burger
        .i_header-burger{
          width: 40px;
          height: 40px;
          svg{
            width: 12px;
            height: 12px;
          }
        }
        //!Header Burger
        //Header Menu
        .i_header-menu{
          display: none;
        }
        //!Header Menu
      }
      //!Header Left
      //Header Right
      .i_header-right{
        gap: 10px;
        //Header Blog
        .i_header-blog{
          width: 75px;
          height: 40px;
          font-size: 12px;
        }
        //!Header Blog
        //Header More
        .i_header-more{
          position: relative;
          //Header Circles
          .i_header-circles{
            width: 40px;
            height: 40px;
            span{
              font-size: 12px;
            }
            .lupa-icon{
              width: 14px;
              height: 16px;
            }
            .whatsapp-icon{
              width: 14px;
              height: 14px;
            }
            .email-icon{
              width: 14px;
              height: 12px;
            }
          }
          //!Header Circles
        }
        //!Header More
      }
      //!Header Right
    }
  }
  //!Header

  //Main
  .i_main {
    //Banner
    .i_banner{
      .i_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
        //Фоновая картинка
        .i_banner-bg{
          position: relative;
          width: 318px;
          height: 276px;
          left: unset;
          top: 50%;
          right: 50%;
          transform: translateX(50%);
        }
        //!Фоновая картинка
        //Левая часть баннера
        .i_banner-left{
          position: relative;
          top: 10px ;
          left: unset;
          display: flex;
          align-items: center;
          //Группа Соц-сетей и ДеньНочь
          .i_banner-group_social{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 40px;
            .i_banner-social{
              display: flex;
              gap: 10px;
              .i_banner-social_item{
                width: 40px;
                height: 40px;
                background-color: #f5f5f5;
                border-radius: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                .i_banner-social_link {
                  svg{
                    color: black;
                  }
                }
                &:hover {
                  transition: 0.3s ease;
                  cursor: pointer;
                  .i_banner-social_link {
                    svg{
                      color: #FF161F;
                    }
                  }
                }
                .instagram-icon{
                  width: 16px;
                  height: 16px;
                  margin: 0;
                }
                .facebook-icon{
                  width: 9px;
                  height: 16px;
                  margin: 0;
                }
                .youtube-icon{
                  width: 16px;
                  height: 16px;
                  margin: 0;
                }
                .telegram-icon{
                  width: 18px;
                  height: 16px;
                  margin: 0;
                }
                .linkedin-icon{
                  width: 18px;
                  height: 16px;
                  margin: 0;
                }
                li {
                  list-style: none;
                }
              }
            }
            //Группа ДеньНочь
            .i_banner-night_sun{
              .i_banner-night_sun_item{
                width: 40px;
                height: 40px;
                background-color: black;
                border-radius: 25px;
                display: flex;
                outline: none;
                align-items: center;
                border: 0;
                justify-content: center;
                //HOVER NIGHT SUN
                &:focus {
                  background-color: #f5f5f5;
                  transition: 0.3s ease;
                  cursor: pointer;
                  border: none;
                  .i_banner-icon-nightSun {
                    color: black;
                    margin-bottom: 3px;
                    margin-right: 3px;
                  }
                }
                .i_banner-icon-nightSun{
                  color: white;
                  width: 22px;
                  height: 22px;
                  margin-bottom: 3px;
                  margin-right: 3px;
                }
              }
            }
            //Группа ДеньНочь
          }
          //Группа Соц-сетей и ДеньНочь
          //Логотип ExSol.com

          .i_banner-logo svg{
            width: 216px;
            height: 40px;
            margin-top: 40px;
            margin-bottom: 36px;
          }

          //!Логотип ExSol.com
          //Заголовок
          .i_banner-headline{
            margin-bottom: 30px;
            span{
              font-size: 24px;
              text-transform: uppercase;
            }
            p{
              font-size: 24px;
              text-transform: uppercase;
            }
          }
          //!Заголовок
          //Подзаголовок
          span{
            font-size: 14px;
          }
          //!Подзаголовок
          //Кнопка Оставить Заявку
          .i_banner-btn-apply{
            display: none;
          }
          //!Кнопка Оставить Заявку
        }
        //!Левая часть баннера
        //Правая часть баннера
        .i_banner-right{
          position: relative;
          gap: 60px;
          left: unset;
          //Группа Соц-сетей и ДеньНочь NONE
          .i_banner-group_social {
            display: none;
          }
            //Группа ДеньНочь
            .i_banner-night_sun{
              .i_banner-night_sun_item{
                width: 40px;
                height: 40px;
                background-color: black;
                border-radius: 25px;
                display: flex;
                outline: none;
                align-items: center;
                border: 0;
                justify-content: center;
                //HOVER NIGHT SUN
                &:focus {
                  background-color: #f5f5f5;
                  transition: 0.3s ease;
                  cursor: pointer;
                  border: none;
                  svg {
                    color: black;
                    margin-bottom: 5px;
                    margin-right: 5px;
                  }
                }
                svg{
                  color: white;
                  margin-bottom: 5px;
                  margin-right: 5px;
                  width: 22px;
                  height: 22px;
                }
              }
            }
            //Группа ДеньНочь
          }
          //!Группа Соц-сетей и ДеньНочь NONE
          //Группа Навыки
          .i_banner-skills{
            .i_banner-item{
              gap: 10px;
              &:hover{
                .i_banner-circles {
                  width: 40px;
                  height: 40px;
                  background-color: #f5f5f5;
                }
              }
              .i_banner-circles{
                width: 40px;
                height: 40px;
                .banner-icon_1{
                  width: 22px;
                  height: 22px;
                }
                .banner-icon_2{
                  width: 18px;
                  height: 16px;
                }
                .banner-icon_3{
                  width: 22px;
                  height: 22px;
                }
                .banner-icon_4{
                  width: 18px;
                  height: 12px;
                }
              }
              p{
                font-size: 14px;
              }
            }
          }
          //!Группа Навыки
          //Кнопка Оставить заявку
          .i_banner-btn-apply{
            display: block;
            width: 330px;
            height: 60px;
            border-radius: 50px;
            border: none;
            background-color: #FF161F;
            color: white;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
          }
          //!Кнопка Оставить заявку
        }
        //!Правая часть баннера
      }
    //!Banner

    //Our Services
    .i_our-services{
      .i_container{
        padding-top: 60px;
        padding-bottom: 60px;
        //Группа наши услуги
        .i_our-services-group{
          gap: 60px;
          //Группа Headline
          .i_our-services-headline{
            display: flex;
            justify-content: center;
            span{
              width: 50%;
              font-size: 21px;
            }
          }
          //!Группа Headline
          //Группа Preview
          .i_our-services-preview{
            gap: 20px;
            .i_our-services-block{
              width: 149px;
              height: 333px;
              gap: 20px;
              background-size: 143px auto;
              padding: 22px 8px;
              background-position-x: center;
              span{
                font-size: 15px;
              }
              p{
                font-size: 12px;
                width: 130px;
              }
            }
          }
          //!Группа Preview
          //Группа Btn request
          .i_our-services-btn-request{
            width: 316px;
            height: 40px;
            font-size: 13px;
          }
          //!Группа Btn request
        }
        //!Группа наши услуги
      }
    }
    //!Our Services
  }
  }
  //!Main
//!HEADER MEDIA ADAPTIVE 360

