@charset "UTF-8";
@font-face {
  font-family: "Comfortaa"; /* Имя шрифта, которое вы будете использовать в CSS */
  src: url("../fonts/Comfortaa-VariableFont_wght.ttf") format("truetype"); /* Путь к шрифту и формат */
  font-weight: normal; /* Вес шрифта, например, normal или bold */
  font-style: normal; /* Стиль шрифта, например, normal или italic */
}
@font-face {
  font-family: "Open Sans";
  src: url("/path/to/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Comfortaa", sans-serif; /* Укажите имя шрифта */
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.i_container {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  width: 1520px;
  padding-bottom: 235px;
  overflow-x: hidden;
}
@media screen and (max-width: 1520px) {
  .i_container {
    width: 100%;
    margin: 0 30px;
  }
}

.i_header {
  display: flex;
}
.i_header .i_container {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 74px;
  height: 114px;
}
.i_header .i_container .i_header-left {
  display: flex;
  gap: 20px;
}
.i_header .i_container .i_header-left .i_header-burger {
  width: 50px;
  height: 50px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i_header .i_container .i_header-left .i_header-burger svg {
  color: white;
}
.i_header .i_container .i_header-left .i_header-menu {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
}
.i_header .i_container .i_header-left .i_header-menu li {
  list-style-type: none;
}
.i_header .i_container .i_header-left .i_header-menu .i_header-menu-item a {
  color: black;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-optical-sizing: auto;
  text-decoration: none;
  transition: all 0.3s ease;
}
.i_header .i_container .i_header-left .i_header-menu .i_header-menu-item a:hover {
  color: #FF161F;
}
.i_header .i_container .i_header-left .i_header-menu .i_header-menu-item a:focus {
  color: #FF161F;
  background-color: #f5f5f5;
  border-radius: 25px;
  padding: 2vh 4vh;
}
.i_header .i_container .i_header-right {
  display: flex;
  gap: 50px;
}
.i_header .i_container .i_header-right .i_header-blog {
  width: 120px;
  height: 50px;
  background-color: #FF161F;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-optical-sizing: auto;
  cursor: pointer;
}
.i_header .i_container .i_header-right .i_header-more {
  display: flex;
  gap: 10px;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles {
  width: 50px;
  height: 50px;
  background-color: #000000;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles span {
  margin-top: 2px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-optical-sizing: auto;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles:hover {
  color: black;
  background: #f5f5f5;
  transition: 0.3s ease;
  cursor: pointer;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles:hover span {
  color: #FF161F;
  font-weight: bold;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles .search-icon {
  color: #ffffff;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles:hover {
  background: #f5f5f5;
  transition: 0.3s ease;
  cursor: pointer;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles:hover .search-icon {
  color: #FF161F;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles svg {
  color: white;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles:hover {
  background: #f5f5f5;
  transition: 0.3s ease;
  cursor: pointer;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles:hover svg {
  color: #FF161F;
}

.i_main .i_banner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.i_main .i_banner .i_banner-bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 32%;
  z-index: 1;
  width: 40%;
  height: auto;
}
.i_main .i_banner .i_banner-bg img {
  width: 100%;
  height: 100%;
}
.i_main .i_banner .i_container {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.i_main .i_banner .i_container .i_banner-left {
  display: flex;
  flex-direction: column;
}
.i_main .i_banner .i_container .i_banner-left .i_banner-group_social {
  display: none;
}
.i_main .i_banner .i_container .i_banner-left .i_banner-logo svg {
  color: black;
  margin-top: 82px;
  margin-bottom: 85px;
}
.i_main .i_banner .i_container .i_banner-left .i_banner-headline {
  display: flex;
  margin-bottom: 30px;
}
.i_main .i_banner .i_container .i_banner-left .i_banner-headline span {
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FF161F;
}
.i_main .i_banner .i_container .i_banner-left .i_banner-headline p {
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}
.i_main .i_banner .i_container .i_banner-left span {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.i_main .i_banner .i_container .i_banner-left .i_banner-btn-apply {
  width: 330px;
  height: 60px;
  border-radius: 50px;
  border: none;
  background-color: #FF161F;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 80px;
  cursor: pointer;
}
.i_main .i_banner .i_container .i_banner-right {
  display: flex;
  flex-direction: column;
  gap: 110px;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-top: 30px;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #FF161F;
  /* Удаляет точки-декорацию */
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item {
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item .i_banner-social_link svg {
  color: black;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item:hover {
  transition: 0.3s ease;
  cursor: pointer;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item:hover .i_banner-social_link svg {
  color: #FF161F;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social li {
  list-style-type: none;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun_item {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 25px;
  display: flex;
  outline: none;
  align-items: center;
  border: 0;
  justify-content: center;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun_item .i_banner-icon-nightSun {
  margin-bottom: 5px;
  margin-right: 5px;
  color: white;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun_item:focus {
  background-color: #f5f5f5;
  transition: 0.3s ease;
  cursor: pointer;
  border: none;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun_item:focus .i_banner-icon-nightSun {
  margin-bottom: 5px;
  margin-right: 5px;
  color: black;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item:hover {
  background-color: #f5f5f5;
  border-radius: 50px;
  transition: 0.3s ease;
  cursor: pointer;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles {
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles svg {
  color: black;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item:hover p {
  color: #FF161F;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles {
  width: 50px;
  height: 50px;
  background-color: #FF161F;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles svg {
  color: white;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item p {
  font-size: 17px;
  font-weight: 600;
  color: black;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-btn-apply {
  display: none;
}
.i_main .i_our-services {
  width: 100%;
  margin-bottom: 150px;
  background-color: #f5f5f5;
}
.i_main .i_our-services .i_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.i_main .i_our-services .i_container img {
  width: 800px;
  height: 800px;
  position: absolute;
  z-index: 1;
  top: 6%;
  left: 14%;
  opacity: 0.6;
}
.i_main .i_our-services .i_container .i_our-services-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  position: relative;
  z-index: 2;
}
.i_main .i_our-services .i_container .i_our-services-group .i_our-services-headline {
  display: flex;
  align-items: center;
  gap: 20px;
}
.i_main .i_our-services .i_container .i_our-services-group .i_our-services-headline .i_our-services-circles {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i_main .i_our-services .i_container .i_our-services-group .i_our-services-headline .i_our-services-circles svg {
  color: white;
}
.i_main .i_our-services .i_container .i_our-services-group .i_our-services-headline span {
  font-size: 32px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
.i_main .i_our-services .i_container .i_our-services-group .i_our-services-preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
.i_main .i_our-services .i_container .i_our-services-group .i_our-services-preview .i_our-services-block {
  width: 32%;
  height: 240px;
  border-radius: 30px;
  background-color: white;
  background-image: url("../img/main/notice_Our-services.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  gap: 30px;
}
.i_main .i_our-services .i_container .i_our-services-group .i_our-services-preview .i_our-services-block span {
  font-size: 20px;
  font-weight: bold;
}
.i_main .i_our-services .i_container .i_our-services-group .i_our-services-preview .i_our-services-block p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}
.i_main .i_our-services .i_container .i_our-services-group .i_our-services-btn-request {
  width: 440px;
  height: 60px;
  background-color: #FF161F;
  border-radius: 50px;
  border: 0;
  outline-style: none;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 1330px) {
  .i_header .i_container {
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    height: 100px;
  }
  .i_header .i_container .i_header-left .i_header-burger {
    width: 40px;
    height: 40px;
  }
  .i_header .i_container .i_header-left .i_header-burger svg {
    width: 12px;
    height: 12px;
  }
  .i_header .i_container .i_header-left .i_header-menu {
    gap: 24px;
  }
  .i_header .i_container .i_header-left .i_header-menu .i_header-menu-item a {
    color: black;
    font-size: 13px;
    font-weight: bold;
  }
  .i_header .i_container .i_header-right {
    gap: 30px;
  }
  .i_header .i_container .i_header-right .i_header-blog {
    width: 95px;
    height: 40px;
    font-size: 12px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles {
    width: 40px;
    height: 40px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles span {
    font-size: 12px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles .lupa-icon {
    width: 14px;
    height: 16px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles .whatsapp-icon {
    width: 14px;
    height: 14px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles .email-icon {
    width: 14px;
    height: 12px;
  }
  .i_main .i_banner .i_container {
    margin: 0 20px;
  }
  .i_main .i_banner .i_container .i_banner-bg {
    width: 460px;
    height: 400px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-logo svg {
    width: 336px;
    height: 63px;
    margin-top: 88px;
    margin-bottom: 60px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-headline {
    margin-bottom: 25px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-headline span {
    font-size: 34px;
    text-transform: uppercase;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-headline p {
    font-size: 34px;
    text-transform: uppercase;
  }
  .i_main .i_banner .i_container .i_banner-left span {
    font-size: 20px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-btn-apply {
    width: 272px;
    height: 50px;
    margin-top: 70px;
    font-size: 14px;
  }
  .i_main .i_banner .i_container .i_banner-right {
    gap: 112px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social {
    gap: 30px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item {
    width: 40px;
    height: 40px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item .instagram-icon {
    width: 16px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item .facebook-icon {
    width: 9px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item .youtube-icon {
    width: 16px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item .telegram-icon {
    width: 18px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item .linkedin-icon {
    width: 18px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun .i_banner-night_sun_item {
    width: 40px;
    height: 40px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun .i_banner-night_sun_item svg {
    width: 22px;
    height: 22px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item {
    gap: 10px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles {
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles {
    width: 40px;
    height: 40px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles .banner-icon_1 {
    width: 22px;
    height: 22px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles .banner-icon_2 {
    width: 18px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles .banner-icon_3 {
    width: 22px;
    height: 22px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles .banner-icon_4 {
    width: 18px;
    height: 12px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .i_header .i_container {
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    height: 100px;
  }
  .i_header .i_container .i_header-left .i_header-burger {
    width: 40px;
    height: 40px;
  }
  .i_header .i_container .i_header-left .i_header-burger svg {
    width: 12px;
    height: 12px;
  }
  .i_header .i_container .i_header-left .i_header-menu {
    display: none;
  }
  .i_header .i_container .i_header-right {
    gap: 10px;
  }
  .i_header .i_container .i_header-right .i_header-blog {
    width: 95px;
    height: 40px;
    font-size: 12px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles {
    width: 40px;
    height: 40px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles span {
    font-size: 12px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles .lupa-icon {
    width: 14px;
    height: 16px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles .whatsapp-icon {
    width: 14px;
    height: 14px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles .email-icon {
    width: 14px;
    height: 12px;
  }
  .i_main .i_banner .i_container .i_banner-bg {
    position: absolute;
    top: 55%;
    left: 5%;
    z-index: 1;
    width: 435px;
    height: 380px;
  }
  .i_main .i_banner .i_container .i_banner-left {
    position: absolute;
    top: -100px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-logo svg {
    width: 215px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-headline {
    margin-bottom: 30px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-headline span {
    font-size: 28px;
    text-transform: uppercase;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-headline p {
    font-size: 28px;
    text-transform: uppercase;
  }
  .i_main .i_banner .i_container .i_banner-left span {
    font-size: 16px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-btn-apply {
    display: none;
  }
  .i_main .i_banner .i_container .i_banner-right {
    position: relative;
    top: -5%;
    left: 64%;
    gap: 70px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social {
    gap: 68px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item {
    width: 40px;
    height: 40px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item .instagram-icon {
    width: 16px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item .facebook-icon {
    width: 9px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item .youtube-icon {
    width: 16px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item .telegram-icon {
    width: 18px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item .linkedin-icon {
    width: 18px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun .i_banner-night_sun_item {
    width: 40px;
    height: 40px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun .i_banner-night_sun_item svg {
    width: 22px;
    height: 22px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item {
    gap: 10px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles {
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles {
    width: 40px;
    height: 40px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles .banner-icon_1 {
    width: 22px;
    height: 22px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles .banner-icon_2 {
    width: 18px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles .banner-icon_3 {
    width: 22px;
    height: 22px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles .banner-icon_4 {
    width: 18px;
    height: 12px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item p {
    font-size: 14px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-btn-apply {
    display: block;
    width: 330px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: #FF161F;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
}
@media screen and (max-width: 760px) {
  .i_header .i_container {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    height: 80px;
  }
  .i_header .i_container .i_header-left .i_header-burger {
    width: 40px;
    height: 40px;
  }
  .i_header .i_container .i_header-left .i_header-burger svg {
    width: 12px;
    height: 12px;
  }
  .i_header .i_container .i_header-left .i_header-menu {
    display: none;
  }
  .i_header .i_container .i_header-right {
    gap: 10px;
  }
  .i_header .i_container .i_header-right .i_header-blog {
    width: 95px;
    height: 40px;
    font-size: 12px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles {
    width: 40px;
    height: 40px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles span {
    font-size: 12px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles .lupa-icon {
    width: 14px;
    height: 16px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles .whatsapp-icon {
    width: 14px;
    height: 14px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles .email-icon {
    width: 14px;
    height: 12px;
  }
  .i_main .i_banner .i_container .i_banner-bg {
    position: absolute;
    top: 44%;
    left: unset;
    z-index: 1;
    width: 330px;
    height: 285px;
  }
  .i_main .i_banner .i_container .i_banner-left {
    position: absolute;
    top: -100px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-logo svg {
    width: 215px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-headline {
    margin-bottom: 30px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-headline span {
    font-size: 26px;
    text-transform: uppercase;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-headline p {
    font-size: 26px;
    text-transform: uppercase;
  }
  .i_main .i_banner .i_container .i_banner-left span {
    font-size: 14px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-btn-apply {
    display: none;
  }
  .i_main .i_banner .i_container .i_banner-right {
    position: relative;
    top: -5%;
    left: 50%;
    gap: 70px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social {
    margin-top: 20px;
    gap: 60px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item {
    width: 40px;
    height: 40px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item .instagram-icon {
    width: 16px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item .facebook-icon {
    width: 9px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item .youtube-icon {
    width: 16px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item .telegram-icon {
    width: 18px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item .linkedin-icon {
    width: 18px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun .i_banner-night_sun_item {
    width: 40px;
    height: 40px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun .i_banner-night_sun_item svg {
    width: 22px;
    height: 22px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item {
    gap: 10px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles {
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles {
    width: 40px;
    height: 40px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles .banner-icon_1 {
    width: 22px;
    height: 22px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles .banner-icon_2 {
    width: 18px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles .banner-icon_3 {
    width: 22px;
    height: 22px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles .banner-icon_4 {
    width: 18px;
    height: 12px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item p {
    font-size: 14px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-btn-apply {
    display: block;
    width: 330px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: #FF161F;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
}
@media screen and (max-width: 480px) {
  .i_header .i_container {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    height: 100px;
  }
  .i_header .i_container .i_header-left .i_header-burger {
    width: 40px;
    height: 40px;
  }
  .i_header .i_container .i_header-left .i_header-burger svg {
    width: 12px;
    height: 12px;
  }
  .i_header .i_container .i_header-left .i_header-menu {
    display: none;
  }
  .i_header .i_container .i_header-right {
    gap: 10px;
  }
  .i_header .i_container .i_header-right .i_header-blog {
    width: 186px;
    height: 40px;
    font-size: 12px;
  }
  .i_header .i_container .i_header-right .i_header-more {
    position: relative;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles {
    width: 40px;
    height: 40px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles span {
    font-size: 12px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles .lupa-icon {
    width: 14px;
    height: 16px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles .whatsapp-icon {
    width: 14px;
    height: 14px;
  }
  .i_header .i_container .i_header-right .i_header-more .i_header-circles .email-icon {
    width: 14px;
    height: 12px;
  }
  .i_main .i_banner .i_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
  .i_main .i_banner .i_container .i_banner-bg {
    position: relative;
    width: 385px;
    height: 332px;
    left: unset;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
  }
  .i_main .i_banner .i_container .i_banner-left {
    position: relative;
    top: 10px;
    left: unset;
    display: flex;
    align-items: center;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-group_social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 155px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-group_social .i_banner-social {
    display: flex;
    gap: 10px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-group_social .i_banner-social .i_banner-social_item {
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-group_social .i_banner-social .i_banner-social_item .i_banner-social_link svg {
    color: black;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-group_social .i_banner-social .i_banner-social_item:hover {
    transition: 0.3s ease;
    cursor: pointer;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-group_social .i_banner-social .i_banner-social_item:hover .i_banner-social_link svg {
    color: #FF161F;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-group_social .i_banner-social .i_banner-social_item .instagram-icon {
    width: 16px;
    height: 16px;
    margin: 0;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-group_social .i_banner-social .i_banner-social_item .facebook-icon {
    width: 9px;
    height: 16px;
    margin: 0;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-group_social .i_banner-social .i_banner-social_item .youtube-icon {
    width: 16px;
    height: 16px;
    margin: 0;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-group_social .i_banner-social .i_banner-social_item .telegram-icon {
    width: 18px;
    height: 16px;
    margin: 0;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-group_social .i_banner-social .i_banner-social_item .linkedin-icon {
    width: 18px;
    height: 16px;
    margin: 0;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-group_social .i_banner-social .i_banner-social_item li {
    list-style: none;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-group_social .i_banner-night_sun .i_banner-night_sun_item {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 25px;
    display: flex;
    outline: none;
    align-items: center;
    border: 0;
    justify-content: center;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-group_social .i_banner-night_sun .i_banner-night_sun_item:focus {
    background-color: #f5f5f5;
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-group_social .i_banner-night_sun .i_banner-night_sun_item:focus .i_banner-icon-nightSun {
    color: black;
    margin-bottom: 5px;
    margin-right: 5px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-group_social .i_banner-night_sun .i_banner-night_sun_item .i_banner-icon-nightSun {
    color: white;
    width: 22px;
    height: 22px;
    margin-bottom: 3px;
    margin-right: 3px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-logo .i_banner-logo svg {
    width: 216px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-headline {
    margin-bottom: 30px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-headline span {
    font-size: 24px;
    text-transform: uppercase;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-headline p {
    font-size: 24px;
    text-transform: uppercase;
  }
  .i_main .i_banner .i_container .i_banner-left span {
    font-size: 14px;
  }
  .i_main .i_banner .i_container .i_banner-left .i_banner-btn-apply {
    display: none;
  }
  .i_main .i_banner .i_container .i_banner-right {
    position: relative;
    gap: 70px;
    left: unset;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social {
    display: none;
    gap: 68px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item {
    width: 40px;
    height: 40px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item .i_banner-social_link svg {
    fill: black;
    width: 16px;
    height: auto;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item:hover {
    transition: 0.3s ease;
    cursor: pointer;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item:hover .i_banner-social_link svg {
    fill: #FF161F;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun .i_banner-night_sun_item {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 25px;
    display: flex;
    outline: none;
    align-items: center;
    border: 0;
    justify-content: center;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun .i_banner-night_sun_item:focus {
    background-color: #f5f5f5;
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun .i_banner-night_sun_item:focus svg {
    color: black;
    margin-bottom: 5px;
    margin-right: 5px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun .i_banner-night_sun_item svg {
    color: white;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 22px;
    height: 22px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item {
    gap: 10px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles {
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles {
    width: 40px;
    height: 40px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles .banner-icon_1 {
    width: 22px;
    height: 22px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles .banner-icon_2 {
    width: 18px;
    height: 16px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles .banner-icon_3 {
    width: 22px;
    height: 22px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles .banner-icon_4 {
    width: 18px;
    height: 12px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item p {
    font-size: 14px;
  }
  .i_main .i_banner .i_container .i_banner-right .i_banner-btn-apply {
    display: block;
    width: 330px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: #FF161F;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
}

/*# sourceMappingURL=index.css.map */
