@charset "UTF-8";
@font-face {
  font-family: "Comfortaa"; /* Имя шрифта, которое вы будете использовать в CSS */
  src: url("../fonts/Comfortaa-VariableFont_wght.ttf") format("truetype"); /* Путь к шрифту и формат */
  font-weight: normal; /* Вес шрифта, например, normal или bold */
  font-style: normal; /* Стиль шрифта, например, normal или italic */
}
@font-face {
  font-family: "Open Sans";
  src: url("/path/to/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Comfortaa", sans-serif; /* Укажите имя шрифта */
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.i_container {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  width: 1520px;
}

.i_header .i_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 74px;
  height: 115px;
}
.i_header .i_container .i_header-left {
  display: flex;
  gap: 20px;
}
.i_header .i_container .i_header-left .i_header-burger {
  width: 50px;
  height: 50px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i_header .i_container .i_header-left .i_header-burger svg {
  color: white;
}
.i_header .i_container .i_header-left .i_header-menu {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
}
.i_header .i_container .i_header-left .i_header-menu li {
  list-style-type: none;
}
.i_header .i_container .i_header-left .i_header-menu .i_header-menu-item a {
  color: black;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-optical-sizing: auto;
  text-decoration: none;
  transition: all 0.3s ease;
}
.i_header .i_container .i_header-left .i_header-menu .i_header-menu-item a:hover {
  color: #FF161F;
}
.i_header .i_container .i_header-left .i_header-menu .i_header-menu-item a:focus {
  color: #FF161F;
  background-color: #f5f5f5;
  border-radius: 25px;
  padding: 2vh 4vh;
}
.i_header .i_container .i_header-right {
  display: flex;
  gap: 50px;
}
.i_header .i_container .i_header-right .i_header-blog {
  width: 120px;
  height: 50px;
  background-color: #FF161F;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-optical-sizing: auto;
  cursor: pointer;
}
.i_header .i_container .i_header-right .i_header-more {
  display: flex;
  gap: 10px;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles {
  width: 50px;
  height: 50px;
  background-color: #000000;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles span {
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-optical-sizing: auto;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles:hover {
  color: black;
  background: #f5f5f5;
  transition: 0.3s ease;
  cursor: pointer;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles:hover span {
  color: #FF161F;
  font-weight: bold;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles .search-icon {
  color: #ffffff;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles:hover {
  background: #f5f5f5;
  transition: 0.3s ease;
  cursor: pointer;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles:hover .search-icon {
  color: #FF161F;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles svg {
  color: white;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles:hover {
  background: #f5f5f5;
  transition: 0.3s ease;
  cursor: pointer;
}
.i_header .i_container .i_header-right .i_header-more .i_header-circles:hover svg {
  color: #FF161F;
}

.i_main .i_banner {
  display: flex;
  justify-content: space-between;
  height: 680px;
  padding-top: 2%;
  background-image: url("../img/main/main-1.png");
  background-repeat: no-repeat;
  background-position-x: 52%;
  background-position-y: 35%;
}
.i_main .i_banner .i_container {
  display: flex;
  justify-content: space-between;
}
.i_main .i_banner .i_container .i_banner-left {
  display: flex;
  flex-direction: column;
}
.i_main .i_banner .i_container .i_banner-left svg {
  color: black;
  margin-bottom: 85px;
}
.i_main .i_banner .i_container .i_banner-left .i_banner-headline {
  display: flex;
  margin-bottom: 35px;
}
.i_main .i_banner .i_container .i_banner-left .i_banner-headline span {
  font-size: 42px;
  font-weight: bold;
  color: #FF161F;
}
.i_main .i_banner .i_container .i_banner-left .i_banner-headline p {
  font-size: 42px;
  font-weight: bold;
  color: black;
}
.i_main .i_banner .i_container .i_banner-left span {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.i_main .i_banner .i_container .i_banner-left .i_banner-btn-apply {
  width: 330px;
  height: 60px;
  border-radius: 50px;
  border: none;
  background-color: #FF161F;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 80px;
  cursor: pointer;
}
.i_main .i_banner .i_container .i_banner-right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social {
  display: flex;
  gap: 60px;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #FF161F;
  /* Удаляет точки-декорацию */
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item {
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item svg {
  color: black;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item:hover {
  transition: 0.3s ease;
  cursor: pointer;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social .i_banner-social_item:hover svg {
  color: #FF161F;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-social li {
  list-style-type: none;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun_item {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 25px;
  display: flex;
  outline: none;
  align-items: center;
  border: 0;
  justify-content: center;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun_item svg {
  color: white;
  margin-bottom: 5px;
  margin-right: 5px;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun_item:focus {
  background-color: #f5f5f5;
  transition: 0.3s ease;
  cursor: pointer;
  border: none;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-group_social .i_banner-night_sun_item:focus svg {
  color: black;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item:hover {
  background-color: #f5f5f5;
  border-radius: 50px;
  transition: 0.3s ease;
  cursor: pointer;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles {
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item:hover .i_banner-circles svg {
  color: black;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item:hover p {
  color: #FF161F;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles {
  width: 50px;
  height: 50px;
  background-color: #FF161F;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item .i_banner-circles svg {
  color: white;
}
.i_main .i_banner .i_container .i_banner-right .i_banner-skills .i_banner-item p {
  font-size: 17px;
  font-weight: 600;
  color: black;
}
.i_main .i_our-services {
  width: 100%;
  height: 920px;
  background-color: #f5f5f5;
  background-image: url("../img/svg/background-element.svg");
  background-size: 800px 800px;
  background-repeat: no-repeat;
  background-position-x: 106%;
  background-position-y: 62%;
}
.i_main .i_our-services .i_container .i_our-services-group .i_our-services-headline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.i_main .i_our-services .i_container .i_our-services-group .i_our-services-headline .i_our-services-circles {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i_main .i_our-services .i_container .i_our-services-group .i_our-services-headline .i_our-services-circles svg {
  color: white;
}
.i_main .i_our-services .i_container .i_our-services-group .i_our-services-headline span {
  font-size: 32px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
.i_main .i_our-services .i_container .i_our-services-group .i_our-services-preview {
  display: grid;
  grid-template-columns: repeat(3, 470px);
  grid-auto-rows: 240px;
  gap: 50px;
}
.i_main .i_our-services .i_container .i_our-services-group .i_our-services-preview .i_our-services-block {
  width: 470px;
  height: 240px;
  border-radius: 30px;
  background-color: white;
  background-image: url("../img/main/Notice_Our-services.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
  display: grid;
  align-items: center;
}
.i_main .i_our-services .i_container .i_our-services-group .i_our-services-preview .i_our-services-block span {
  font-size: 20px;
  font-weight: bold;
}
.i_main .i_our-services .i_container .i_our-services-group .i_our-services-preview .i_our-services-block p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
}

/*# sourceMappingURL=index.css.map */
