.i_partners {
  margin: 50px 0;
  .i_partners-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    .i_partners-title-icon {
      width: 50px;
      height: 50px;
      background-color: var(--color-circles);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("../img/svg/partners-icon_w.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 55px;
      svg {
        color: var(--color-circleIcon);
      }

      @media screen and (max-width: 760px) {
        width: 40px;
        height: 40px;
      }

      svg {
        color: var(--color-circleIcon);
        @media screen and (max-width: 760px) {
          width: 20px;
          height: 20px;
        }
      }
    }

    .i_partners-title-name {
      display: flex;
      justify-content: flex-start;

      span {
        font-size: 32px;
        font-weight: 400;
        @media screen and (max-width: 1330px) {
          font-size: 28px;
        }
        @media screen and (max-width: 760px) {
          font-size: 26px;
        }
        @media screen and (max-width: 480px) {
          font-size: 21px;
        }
      }

      @media screen and (max-width: 1000px) {
        width: 50%;
      }
      @media screen and (max-width: 760px) {
        width: unset;
      }

    }
  }
  .partners-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 70px;
    @media screen and (max-width: 1330px){
      gap: 30px;
    }
    @media screen and (max-width: 480px){
      gap: 15px;
    }
    @media screen and (max-width: 360px){
      gap: 12px;
    }
    .partners-item{
      position: relative;
      text-align: center;
      background-color: var(--bg-buttonHover);
      background-repeat: no-repeat;
      background-position: center;
      background-blend-mode: multiply;
      background-size: contain;
      border-radius: 50%;
      width: calc(100%/6 - 35px);
      max-width: 220px;
      @media screen and (max-width: 1330px){
        width: calc(100%/6 - 25px);
        max-width: 185px;
      }
      @media screen and (max-width: 1170px){
        width: calc(100%/5 - 40px);
        max-width: 170px;
      }
      @media screen and (max-width: 940px){
        width: calc(25% - 23px);
        max-width: 190px;
      }
      @media screen and (max-width: 680px){
        width: calc(33.3333333333% - 20px);
        max-width: 190px;
      }
      @media screen and (max-width: 500px){
        width: calc(100%/3 - 10px);
        max-width: 130px;
      }
      @media screen and (max-width: 360px){
        width: calc(100%/3 - 10px);
        max-width: 100px;
      }
      img{
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
      }
      &:hover{
        background-color: var(--bg-block);
        cursor: pointer;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
        &:before{
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 200%;
          height: 200%;
          background-image: url("../img/svg/hover-programm-products-b-light.svg");
          background-repeat: no-repeat;
          background-size: inherit;
          z-index: -1;
          border-radius: 50%;
        }
      }
    }
  }
}