.i_programm-container .programm-container .row {
  width: 95%;
}
@media screen and (max-width: 760px) {
  .i_programm-container .programm-container .row {
    width: 100%;
  }
}

.programm-container {
  display: flex;
  gap: 80px;
  justify-content: space-between;
}
@media screen and (max-width: 1330px) {
  .programm-container {
    gap: 30px;
  }
}
@media screen and (max-width: 760px) {
  .programm-container {
    flex-direction: column;
  }
}
.programm-container .i_programm-catalog {
  width: 95%;
}
@media screen and (max-width: 760px) {
  .programm-container .i_programm-catalog {
    width: 100%;
  }
}
.programm-container .i_programm-catalog .i_programm-sorting-group {
  display: flex;
  justify-content: space-between;
  padding: 0 0 50px 0;
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 30px;
  background-color: var(--color-circles);
  border-radius: 35px;
  gap: 50px;
  max-width: 695px;
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort {
    max-width: 567px;
    padding: 12px 25px;
    gap: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort {
    flex-direction: column;
    align-items: start;
    max-width: 360px;
    padding: 12px 15px;
    gap: 15px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort {
    max-width: 360px;
  }
}
@media screen and (max-width: 590px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort {
    align-items: start;
    max-width: 315px;
  }
}
@media screen and (max-width: 390px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort {
    max-width: 309px;
    padding: 12px 10px;
  }
}
@media screen and (max-width: 1100px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-title {
    padding: 0 0 12px 0;
  }
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-title span {
  font-size: 1rem;
  color: var(--color-White);
  cursor: text;
  text-wrap: nowrap;
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-title span {
    font-size: 0.875rem;
  }
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items {
  display: flex;
  gap: 70px;
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items {
    gap: 48px;
  }
}
@media screen and (max-width: 390px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items {
    gap: 45px;
  }
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items .i_programm-sort-item.asc:before {
  content: " ";
  background-image: url("../img/svg/separate-icon.svg");
  background-size: 11px;
  width: 12px;
  height: 18px;
  background-position: center;
  position: absolute;
  z-index: 10;
  background-repeat: no-repeat;
  top: 50%;
  right: -11%;
  transform: translate(50%, -60%);
}
@media screen and (max-width: 590px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items .i_programm-sort-item.asc:before {
    background-size: 9px;
    width: 10px;
    height: 15px;
  }
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items .i_programm-sort-item.desc:before {
  content: " ";
  background-image: url("../img/svg/separate-icons/separate-icon_w_rotate.svg");
  background-size: 11px;
  width: 12px;
  height: 18px;
  background-position: center;
  position: absolute;
  z-index: 10;
  background-repeat: no-repeat;
  top: 50%;
  right: -11%;
  transform: translate(50%, -60%);
}
@media screen and (max-width: 590px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items .i_programm-sort-item.desc:before {
    background-size: 9px;
    width: 10px;
    height: 15px;
  }
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items .i_programm-sort-item {
  position: relative;
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items .i_programm-sort-item.active:after {
  content: " ";
  background-color: var(--color-red);
  position: absolute;
  width: 208px;
  height: 50px;
  top: 50%;
  right: 50%;
  transform: translate(56%, -50%);
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items .i_programm-sort-item.active:after {
    width: 184px;
    height: 40px;
    transform: translate(56%, -50%);
  }
}
@media screen and (max-width: 1100px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items .i_programm-sort-item.active:after {
    width: 185px;
    height: 40px;
    transform: translate(55%, -50%);
  }
}
@media screen and (max-width: 590px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items .i_programm-sort-item.active:after {
    width: 160px;
    height: 40px;
    transform: translate(54%, -50%);
  }
}
@media screen and (max-width: 390px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items .i_programm-sort-item.active:after {
    width: 155px;
    height: 40px;
    transform: translate(55%, -50%);
  }
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items .i_programm-sort-item a:before {
  position: absolute;
  content: " ";
  top: -15px;
  bottom: -15px;
  right: -36px;
  left: -18px;
  z-index: 10;
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items .i_programm-sort-item a {
  position: relative;
  text-decoration: none;
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items .i_programm-sort-item a span {
  color: var(--color-White);
  text-wrap: nowrap;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items .i_programm-sort-item a span {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 590px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-items .i_programm-sort-item a span {
    font-size: 0.75rem;
  }
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-value.asc:before {
  content: " ";
  background-image: url("../img/svg/separate-icons/icon-separate-up_w.svg");
  background-repeat: no-repeat;
  top: 50%;
  right: -35%;
  transform: translate(50%, -50%);
  z-index: 5;
  width: 18px;
  height: 18px;
  background-size: 18px;
  position: absolute;
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-value.asc:before {
    width: 15px;
    height: 15px;
    background-size: 15px;
  }
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-value.desc:before {
  content: " ";
  background-image: url("../img/svg/separate-icons/icon-separate-down_w.svg");
  background-repeat: no-repeat;
  top: 50%;
  right: -35%;
  transform: translate(50%, -50%);
  z-index: 5;
  width: 18px;
  height: 18px;
  background-size: 18px;
  position: absolute;
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-value.desc:before {
    width: 15px;
    height: 15px;
    background-size: 15px;
  }
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-value {
  position: relative;
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-value a {
  text-decoration: none;
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-value a span:before {
  content: " ";
  top: -15px;
  bottom: -15px;
  right: -55px;
  left: -15px;
  position: absolute;
  z-index: 20;
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-value a span {
  position: relative;
  text-wrap: nowrap;
  font-size: 1rem;
  color: var(--color-White);
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-value a span {
    font-size: 0.875rem;
  }
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-sort .i_programm-sort-value a span:hover {
  color: var(--color-red);
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_programm-compare-box {
  display: flex;
  justify-content: right;
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_but_ac:before {
  content: " ";
  position: absolute;
  background-image: url("../img/svg/separate-icon_2.svg");
  background-repeat: no-repeat;
  top: 50%;
  right: 20%;
  transform: translate(50%, -50%);
  z-index: 5;
  width: 18px;
  height: 18px;
  background-size: 18px;
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_but_ac:before {
    width: 15px;
    height: 15px;
    background-size: 15px;
  }
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_but_ac {
  position: relative;
  max-width: 180px;
  width: 180px;
  height: 50px;
  background-color: var(--color-circlesHover);
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 35px;
  padding: 12px 25px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.02);
}
.programm-container .i_programm-catalog .i_programm-sorting-group .i_but_ac:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_but_ac {
    max-width: 150px;
    height: 40px;
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 590px) {
  .programm-container .i_programm-catalog .i_programm-sorting-group .i_but_ac {
    display: none;
  }
}
.programm-container .i_programm-catalog .catalog-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  position: relative;
}
.programm-container .i_programm-catalog .catalog-section .product-item-list-col-3:nth-child(n+3) {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.4s ease;
}
.programm-container .i_programm-catalog .catalog-section .product-item-list-col-3.visible {
  visibility: visible;
  opacity: 1;
  position: relative;
  transition: all 0.4s ease;
}
.programm-container .i_programm-catalog .catalog-section .i_programm-list-empty {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 70px 0;
}
@media screen and (max-width: 1000px) {
  .programm-container .i_programm-catalog .catalog-section .i_programm-list-empty {
    padding: 60px 0;
  }
}
@media screen and (max-width: 580px) {
  .programm-container .i_programm-catalog .catalog-section .i_programm-list-empty {
    grid-column: 1/2 span;
  }
}
@media screen and (max-width: 480px) {
  .programm-container .i_programm-catalog .catalog-section .i_programm-list-empty {
    padding: 40px 0;
  }
}
.programm-container .i_programm-catalog .catalog-section .i_programm-list-empty span {
  background-color: var(--color-circlesHover);
  padding: 12px 22px;
  border-radius: 35px;
  font-size: 1.125rem;
  color: var(--color-black);
  font-family: "Comfortaa", sans-serif;
}
@media screen and (max-width: 1000px) {
  .programm-container .i_programm-catalog .catalog-section .i_programm-list-empty span {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .programm-container .i_programm-catalog .catalog-section .i_programm-list-empty span {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 1270px) {
  .programm-container .i_programm-catalog .catalog-section {
    gap: 20px;
  }
  .programm-container .i_programm-catalog .catalog-section .product-item-small-card .product-item-big-card {
    width: 100%;
    max-width: 1235px;
    display: flex;
  }
}
.programm-container .i_programm-catalog .catalog-section .product-item-small-card .product-item-big-card .row .col-md-12 {
  width: 100%;
}
@media screen and (max-width: 580px) {
  .programm-container .i_programm-catalog .catalog-section {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 15px !important;
  }
}
@media screen and (max-width: 360px) {
  .programm-container .i_programm-catalog .catalog-section {
    gap: 15px !important;
  }
}
.programm-container .i_programm-catalog .catalog-section .row {
  margin: 0;
  width: 100%;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1000px) {
  .programm-container .i_programm-catalog .catalog-section .row {
    gap: 15px;
  }
}
@media screen and (max-width: 580px) {
  .programm-container .i_programm-catalog .catalog-section .row {
    gap: 15px;
    flex-wrap: wrap;
  }
}
.programm-container .i_programm-catalog .catalog-section .row .product-item-small-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.programm-container .i_programm-catalog .catalog-section .row .product-item-small-card .product-item-big-card:nth-child(3) .col-md-12 {
  padding: 0;
}
.programm-container .i_programm-catalog .catalog-section .row .product-item-small-card .product-item-big-card {
  width: 33.3%;
}
@media screen and (max-width: 580px) {
  .programm-container .i_programm-catalog .catalog-section .row .product-item-small-card .product-item-big-card {
    padding: 0;
    width: 100%;
  }
}
.programm-container .i_programm-catalog .catalog-section .i_programm_product-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 580px) {
  .programm-container .i_programm-catalog .catalog-section .i_programm_product-btn {
    display: grid;
    grid-column: 1/2 span;
  }
}
.programm-container .i_programm-catalog .catalog-section .i_programm_product-btn button {
  padding: 16px 48px;
}
@media screen and (max-width: 580px) {
  .programm-container .i_programm-catalog .catalog-section .i_programm_product-btn button {
    padding: 12px 35px;
  }
}
.programm-container .i_programm-catalog .i_software {
  background-color: unset;
  padding: 60px 0;
}
.programm-container .i_programm-catalog .i_software .i_container {
  width: 100%;
  margin: 0;
  max-width: unset;
}
@media screen and (max-width: 1000px) {
  .programm-container .i_programm-catalog .i_software .i_container .i_software-corporate {
    gap: 25px;
  }
}
.programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-iconAnnounce {
  width: 43%;
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-iconAnnounce {
    width: 60%;
  }
}
@media screen and (max-width: 1150px) {
  .programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-iconAnnounce {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-iconAnnounce {
    width: 100%;
  }
}
.programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-iconAnnounce .i_software-block {
  box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.12);
}
.programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-iconAnnounce svg {
  color: var(--color-black);
}
.programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-group-textBtn {
  width: 75%;
}
@media screen and (max-width: 470px) {
  .programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-group-textBtn {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-group-textBtn .i_software-group-text {
    gap: 25px;
  }
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-group-textBtn .i_software-group-text span {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 1200px) {
  .programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-group-textBtn .i_software-group-text span {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) {
  .programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-group-textBtn .i_software-group-text span {
    font-size: 1.313rem;
  }
}
@media screen and (max-width: 470px) {
  .programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-group-textBtn .i_software-group-text span {
    font-size: 1rem;
  }
}
.programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-group-textBtn .i_software-btn:hover {
  background-color: var(--bg-buttonHoverSecond);
}
.programm-container .i_programm-catalog .product-item-container {
  width: 100%;
}
.programm-container .i_programm-catalog .product-item-container .programm-item {
  display: flex;
  flex-direction: column;
  max-height: 350px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  max-width: 350px;
  background-color: var(--bg-block);
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.11);
  transition: all 0.4s ease;
  position: relative;
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item {
    max-height: 295px;
    max-width: 295px;
  }
}
@media screen and (max-width: 1000px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item {
    max-height: 215px;
    max-width: 215px;
  }
}
@media screen and (max-width: 760px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item {
    max-height: 230px;
    max-width: 230px;
  }
}
@media screen and (max-width: 580px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item {
    max-height: 260px;
    max-width: 260px;
  }
}
@media screen and (max-width: 480px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item {
    max-height: 205px;
    max-width: 205px;
  }
}
@media screen and (max-width: 360px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item {
    max-height: 155px;
    max-width: 155px;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 50%;
  bottom: 20px;
  transform: translate(50%, 50%);
  transition: all 0.4s ease;
}
@media screen and (max-width: 480px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare {
    display: none;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_succes.show {
  display: flex;
}
.programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_succes:before {
  content: " ";
  border: 15px solid transparent;
  border-top: 15px solid var(--bg-block);
  position: absolute;
  bottom: -9%;
  right: 50%;
  transform: translate(50%, 50%);
}
.programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_succes {
  position: absolute;
  max-width: 240px;
  width: 800%;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: var(--bg-block);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1480px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_succes {
    max-width: 240px;
    width: 607%;
    top: -30%;
    padding: 15px;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_succes .i_bs_close {
  background-image: url("../img/svg/closeModal-dark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 30px;
  background-color: var(--color-Grey);
}
@media screen and (max-width: 1480px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_succes .i_bs_close {
    width: 20px;
    height: 20px;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_succes .j_me1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
}
@media screen and (max-width: 1480px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_succes .j_me1 {
    font-size: 0.75rem;
    gap: 15px;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_succes .j_me1 .i_comp_upper {
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-textInfoblock);
  text-transform: uppercase;
}
@media screen and (max-width: 1480px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_succes .j_me1 .i_comp_upper {
    font-size: 0.875rem;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_succes .j_me2 {
  display: flex;
  font-size: 0.875rem;
  gap: 20px;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  text-wrap: nowrap;
  align-items: center;
}
@media screen and (max-width: 1480px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_succes .j_me2 {
    font-size: 0.75rem;
    gap: 15px;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_succes .j_me2 .i_comp_upper {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Comfortaa", sans-serif;
}
@media screen and (max-width: 1480px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_succes .j_me2 .i_comp_upper {
    font-size: 0.875rem;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_succes .j_me2 .i_open_compare {
  padding: 10px 22px;
  background-color: var(--color-red);
  border-radius: 35px;
  font-family: "Comfortaa", sans-serif;
  color: white;
  max-width: 120px;
}
.programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_item_compare_act:before {
  content: " ";
  width: 30px;
  display: inline-block;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
  background-image: url("../img/svg/separate-icon_2_red..svg") !important;
}
.programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_but:before {
  content: " ";
  position: absolute;
  min-width: 30px;
  width: 30px;
  display: inline-block;
  height: 30px;
  background-image: url("../img/svg/separate-icon_2.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
}
@media screen and (max-width: 990px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_but:before {
    background-size: 15px;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_but {
  position: relative;
}
.programm-container .i_programm-catalog .product-item-container .programm-item .i_item_compare .i_compare_but span {
  opacity: 0;
  visibility: hidden;
}
.programm-container .i_programm-catalog .product-item-container .programm-item:hover {
  transition: all 0.4s ease;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.programm-container .i_programm-catalog .product-item-container .programm-item:hover:before {
  transition: all 0.4s ease;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180%;
  height: 180%;
  background-image: url("../img/svg/hover-programm-products-w-light.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  border-radius: 50%;
}
.programm-container .i_programm-catalog .product-item-container .programm-item:hover .i_item_compare {
  visibility: visible;
  opacity: 1;
}
.programm-container .i_programm-catalog .product-item-container .programm-item:hover .product-item-detail {
  opacity: 1;
  visibility: visible;
  bottom: -35%;
  transform: translateY(-45%);
  display: flex;
  transition: all 0.4s ease;
}
@media screen and (max-width: 480px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item:hover .product-item-detail {
    bottom: -40%;
  }
}
@media screen and (max-width: 360px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item:hover .product-item-detail {
    bottom: -45%;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item:hover .product-item-title {
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}
@media screen and (max-width: 1140px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item:hover .product-item-title {
    top: 40%;
  }
}
@media screen and (max-width: 990px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item:hover .product-item-title {
    top: 38%;
  }
}
@media screen and (max-width: 330px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item:hover .product-item-title span {
    font-size: 0.625rem;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item:hover .product-item-title span {
  transition: all 0.4s ease;
  color: var(--color-red);
  height: 45px;
}
@media screen and (max-width: 1000px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item:hover .product-item-title span {
    height: 30px;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item:hover .product-item-img {
  width: 40%;
  height: 40%;
  top: 15%;
  transform: translateY(-50%);
  border-radius: 100%;
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item:hover .product-item-img {
    width: 45%;
    height: 48%;
  }
}
@media screen and (max-width: 1140px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item:hover .product-item-img {
    opacity: 0;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .product-item-img {
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  position: absolute;
  transform: translateY(-5%);
}
.programm-container .i_programm-catalog .product-item-container .programm-item .product-item-img img {
  width: 100%;
  height: 100%;
}
.programm-container .i_programm-catalog .product-item-container .programm-item .product-item-title:before {
  content: " ";
  position: absolute;
  top: -135px;
  bottom: -15px;
  right: -95px;
  left: -95px;
  background-color: transparent;
}
@media screen and (max-width: 480px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-title:before {
    top: -145px;
    bottom: 45px;
    right: -35px;
    left: -35px;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .product-item-title {
  font-size: 22px;
  position: absolute;
  transition: all 0.4s ease;
  overflow: visible;
  margin-bottom: 0;
  text-overflow: unset;
  white-space: nowrap;
  bottom: 10%;
  transform: translateY(50%);
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-title {
    font-size: 19px;
  }
}
@media screen and (max-width: 1250px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 1150px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 990px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-title {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 590px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-title {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 580px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-title {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 360px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-title {
    font-size: 0.75rem;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .product-item-title span {
  height: 45px;
  color: var(--color-textInfoblock);
  display: inline-block;
  width: 99%;
}
.programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 20px;
  position: relative;
}
@media screen and (max-width: 1580px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail {
    gap: 20px;
  }
}
@media screen and (max-width: 1215px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail {
    gap: 15px;
  }
}
@media screen and (max-width: 1130px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail {
    gap: 20px;
  }
}
@media screen and (max-width: 900px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail {
    margin: 0 15px;
  }
}
@media screen and (max-width: 840px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail {
    gap: 15px;
  }
}
@media screen and (max-width: 590px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail {
    margin: 0 5px;
  }
}
@media screen and (max-width: 580px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail {
    gap: 25px;
  }
}
@media screen and (max-width: 480px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail {
    gap: 15px;
  }
}
@media screen and (max-width: 330px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail {
    gap: 11px;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-title {
  line-height: normal;
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-title {
    font-size: 0.813rem;
    transform: translateY(-5px);
  }
}
@media screen and (max-width: 1000px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-title {
    font-size: 0.688rem;
  }
}
@media screen and (max-width: 580px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-title {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 480px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-title {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 360px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-title {
    font-size: 0.688rem;
    width: 140px;
  }
}
@media screen and (max-width: 330px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-title {
    font-size: 0.625rem;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-title span {
  color: var(--color-textInfoblock);
}
.programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-price:after {
  content: " ";
  background-image: url("../img/svg/wrapper-icon-price.svg");
  background-repeat: no-repeat;
  width: 350px;
  height: 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
@media screen and (max-width: 900px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-price:after {
    height: 25px;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-price {
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-price {
    transform: translateY(-10px);
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-price span {
  color: var(--color-textInfoblock);
  font-size: 1.125rem;
  cursor: text;
}
@media screen and (max-width: 1250px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-price span {
    font-size: 0.875rem;
  }
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-price span .text {
    display: none;
    font-size: 0.75rem;
    font-family: "Open Sans", sans-serif;
  }
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-price span .text2 {
    display: inline-block !important;
    font-size: 0.75rem;
    font-family: "Open Sans", sans-serif;
  }
}
@media screen and (max-width: 900px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-price span {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 480px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-price span .text2 {
    font-size: 0.625rem;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-price span .text {
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
}
.programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-detail-price span .text2 {
  display: none;
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-btn {
    transform: translateY(-15px);
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-btn button {
  font-size: 15px;
  padding: 10px 17px;
}
@media screen and (max-width: 1330px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-btn button {
    padding: 6px 5px;
    font-size: 12px;
  }
}
@media screen and (max-width: 470px) {
  .programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-btn button {
    padding: 5px 7px;
    font-size: 10px;
  }
}
.programm-container .i_programm-catalog .product-item-container .programm-item .product-item-detail .product-item-btn button:hover {
  background-color: var(--bg-buttonHoverFirst);
}

.i_programms .i_programms-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 50px 0;
}
.i_programms .i_programms-title .i_programms-title-icon {
  min-width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/svg/programm-products_w.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position-x: 65%;
  background-position-y: 50%;
}
@media screen and (max-width: 760px) {
  .i_programms .i_programms-title .i_programms-title-icon {
    min-width: 40px;
    height: 40px;
    background-size: 40px;
  }
}
.i_programms .i_programms-title .i_programms-title-name {
  display: flex;
  justify-content: flex-start;
}
.i_programms .i_programms-title .i_programms-title-name span {
  font-size: 32px;
  font-weight: 400;
  color: var(--color-black);
}
@media screen and (max-width: 1330px) {
  .i_programms .i_programms-title .i_programms-title-name span {
    font-size: 28px;
  }
}
@media screen and (max-width: 760px) {
  .i_programms .i_programms-title .i_programms-title-name span {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .i_programms .i_programms-title .i_programms-title-name span {
    font-size: 21px;
  }
}
@media screen and (max-width: 1000px) {
  .i_programms .i_programms-title .i_programms-title-name {
    width: 50%;
  }
}
@media screen and (max-width: 760px) {
  .i_programms .i_programms-title .i_programms-title-name {
    width: unset;
  }
}

/*# sourceMappingURL=programm-products.css.map */
