@charset "UTF-8";
.programm-container {
  display: flex;
  gap: 80px;
  justify-content: space-between;
}
.programm-container .bx_sitemap .bx_sitemap_ul {
  /* стили для активного состояния чекбокса (при нажатии на него) */
}
.programm-container .bx_sitemap .bx_sitemap_ul li:before {
  content: "";
  top: 50%;
  left: 60%;
  position: absolute;
  transform: translate(-820%, -50%);
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #d9d9d9;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;
  background-size: 50% 50%;
}
.programm-container .bx_sitemap .bx_sitemap_ul li {
  list-style-type: none;
  background-color: var(--color-circlesSecond);
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.02);
  position: relative;
  border-radius: 30px;
  max-width: 340px;
  width: 170%;
  height: 50px;
  margin: 20px 20px 0 0;
}
.programm-container .bx_sitemap .bx_sitemap_ul li.menu-all-articles {
  background-color: var(--color-circles);
}
.programm-container .bx_sitemap .bx_sitemap_ul li.menu-all-articles:before {
  background-image: url("../img/svg/active-checkbox.svg");
  background-size: 14px;
  background-color: var(--bg-check-box);
}
.programm-container .bx_sitemap .bx_sitemap_ul li.menu-all-articles .bx_sitemap_li_title a {
  transition: all 0.4s ease;
  color: var(--color-White);
}
.programm-container .bx_sitemap .bx_sitemap_ul li:hover {
  cursor: pointer;
}
.programm-container .bx_sitemap .bx_sitemap_ul li:hover .bx_sitemap_li_title a {
  transition: all 0.4s ease;
  color: var(--color-red);
}
.programm-container .bx_sitemap .bx_sitemap_ul li .bx_sitemap_li_title {
  font-size: 20px;
  line-height: unset;
  margin: 0;
  padding: 0px 0px 0px 60px;
}
.programm-container .bx_sitemap .bx_sitemap_ul li .bx_sitemap_li_title a {
  font-size: 17px;
  color: var(--color-black);
}
.programm-container .i_programm-catalog .catalog-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.programm-container .i_programm-catalog .catalog-section .row {
  margin: 0;
  width: 100%;
  display: flex;
}
.programm-container .i_programm-catalog .catalog-section .row .product-item-small-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.programm-container .i_programm-catalog .catalog-section .row .product-item-small-card .product-item-big-card:nth-child(3) {
  padding: 0;
}
.programm-container .i_programm-catalog .catalog-section .row .product-item-small-card .product-item-big-card:nth-child(3) .col-md-12 {
  padding: 0;
}
.programm-container .i_programm-catalog .catalog-section .row .product-item-small-card .product-item-big-card {
  width: unset;
  padding: 0 30px 0 0;
}
.programm-container .i_programm-catalog .i_software {
  background-color: unset;
}
.programm-container .i_programm-catalog .i_software .i_container {
  width: 100%;
}
.programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-iconAnnounce {
  width: 70%;
}
.programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-iconAnnounce .i_software-block {
  box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.12);
}
.programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-iconAnnounce svg {
  color: var(--color-black);
}
.programm-container .i_programm-catalog .i_software .i_container .i_software-corporate .i_software-group-textBtn .i_software-btn:hover {
  background-color: var(--bg-buttonHoverSecond);
}
.programm-container .i_programm-catalog .product-item-container .product-item {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  max-width: 350px;
  width: 100%;
  background-color: var(--bg-block);
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.11);
}
.programm-container .i_programm-catalog .product-item-container .product-item:hover {
  transition: all 0.4s ease;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.programm-container .i_programm-catalog .product-item-container .product-item:hover:before {
  transition: all 0.4s ease;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180%;
  height: 180%;
  background-image: url("../img/svg/hover-programm-products-w-light.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  border-radius: 50%;
}
.programm-container .i_programm-catalog .product-item-container .product-item:hover .product-item-detail {
  opacity: 1;
  visibility: visible;
  transform: translateY(-15%);
}
.programm-container .i_programm-catalog .product-item-container .product-item:hover .product-item-title {
  transform: translateY(-190%);
}
.programm-container .i_programm-catalog .product-item-container .product-item:hover .product-item-title span {
  transition: all 0.4s ease;
  color: var(--color-red);
}
.programm-container .i_programm-catalog .product-item-container .product-item:hover .product-item-img {
  width: 50%;
  height: 50%;
  transform: translateY(-20%);
}
.programm-container .i_programm-catalog .product-item-container .product-item .product-item-img {
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  position: relative;
  transform: translateY(10%);
}
.programm-container .i_programm-catalog .product-item-container .product-item .product-item-img img {
  width: 100%;
  height: 100%;
}
.programm-container .i_programm-catalog .product-item-container .product-item .product-item-title {
  font-size: 22px;
  position: relative;
  transition: all 0.4s ease;
  overflow: visible;
  margin-bottom: 0;
  text-overflow: unset;
  white-space: nowrap;
}
@media screen and (max-width: 1250px) {
  .programm-container .i_programm-catalog .product-item-container .product-item .product-item-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 479px) {
  .programm-container .i_programm-catalog .product-item-container .product-item .product-item-title {
    font-size: 22px;
    top: -5%;
  }
}
.programm-container .i_programm-catalog .product-item-container .product-item .product-item-title span {
  color: var(--color-textInfoblock);
}
.programm-container .i_programm-catalog .product-item-container .product-item .product-item-detail {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 20px;
  position: relative;
}
.programm-container .i_programm-catalog .product-item-container .product-item .product-item-detail .product-item-detail-title span {
  color: var(--color-textInfoblock);
}
.programm-container .i_programm-catalog .product-item-container .product-item .product-item-detail .product-item-detail-price:after {
  content: " ";
  background-image: url("../img/svg/wrapper-icon-price.svg");
  background-repeat: no-repeat;
  width: 350px;
  height: 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.programm-container .i_programm-catalog .product-item-container .product-item .product-item-detail .product-item-detail-price {
  position: relative;
  z-index: 1;
}
.programm-container .i_programm-catalog .product-item-container .product-item .product-item-detail .product-item-detail-price span {
  color: var(--color-textInfoblock);
  font-size: 1.125rem;
}
.programm-container .i_programm-catalog .product-item-container .product-item .product-item-detail .product-item-detail-price span .text {
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
}
.programm-container .i_programm-catalog .product-item-container .product-item .product-item-detail .product-item-btn button {
  padding: 10px 25px;
}
@media screen and (max-width: 1250px) {
  .programm-container .i_programm-catalog .product-item-container .product-item .product-item-detail .product-item-btn button {
    padding: 10px 20px;
    font-size: 14px;
  }
}
.programm-container .i_programm-catalog .product-item-container .product-item .product-item-detail .product-item-btn button:hover {
  background-color: var(--bg-buttonHoverFirst);
}

.i_programms .i_programms-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 50px 0;
}
.i_programms .i_programms-title .i_programms-title-icon {
  width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/svg/programm-products_w.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position-x: 65%;
  background-position-y: 50%;
}
@media screen and (max-width: 760px) {
  .i_programms .i_programms-title .i_programms-title-icon {
    width: 40px;
    height: 40px;
    background-size: 40px;
  }
}
.i_programms .i_programms-title .i_programms-title-name {
  display: flex;
  justify-content: flex-start;
}
.i_programms .i_programms-title .i_programms-title-name span {
  font-size: 32px;
  font-weight: 400;
  color: var(--color-black);
}
@media screen and (max-width: 1330px) {
  .i_programms .i_programms-title .i_programms-title-name span {
    font-size: 28px;
  }
}
@media screen and (max-width: 760px) {
  .i_programms .i_programms-title .i_programms-title-name span {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .i_programms .i_programms-title .i_programms-title-name span {
    font-size: 21px;
  }
}
@media screen and (max-width: 1000px) {
  .i_programms .i_programms-title .i_programms-title-name {
    width: 50%;
  }
}
@media screen and (max-width: 760px) {
  .i_programms .i_programms-title .i_programms-title-name {
    width: unset;
  }
}

/*# sourceMappingURL=programm-products.css.map */
