.programm-container{
  display: flex;
  gap: 80px;
  justify-content: space-between;
  @media screen and (max-width: 1330px){
    gap: 30px;
  }
  @media screen and (max-width: 760px){
    flex-direction: column;
  }
  .bx_sitemap{
    width: 30%;
    @media screen and (max-width: 760px){
      width: 100%
    }
    .bx_sitemap_ul{
      @media screen and (max-width: 760px){
        display: flex;
        flex-wrap: wrap;

      }
      li:before{
        content: '';
        top: 50%;
        left: 0;
        position: absolute;
        transform: translate(70%, -50%);
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #d9d9d9;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #ffffff;
        background-size: 50% 50%;
        @media screen and (max-width: 480px){
          width: 1em;
          height: 1em;
          transform: translate(70%, -50%);
        }
      }
      /* стили для активного состояния чекбокса (при нажатии на него) */
      //li:focus::before {
      //  background-image: url("../img/svg/active-checkbox.svg");
      //  background-size: 14px;
      //  background-color: #191A1A;
      //  border: 1px solid #3b3b3b;
      //}
      li{
        list-style-type: none;
        background-color: var(--color-circlesSecond);
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.02);
        position: relative;
        border-radius: 30px;
        max-width: 340px;
        width: 100%;
        height: 50px;
        margin: 20px 20px 0 0;
        //border: 1px solid #ededed;
        @media screen and (max-width: 1330px){
          max-width: 295px;
        }
        @media screen and (max-width: 760px){
          max-width: 225px;
          margin: 20px 10px 0 0;
          flex-basis: 31%;
        }
        @media screen and (max-width: 480px){
          max-width: 205px;
          margin: 20px 10px 0 0;
          flex-basis: 45%;
        }
        @media screen and (max-width: 360px){
          max-width: 154px;
          margin: 10px 5px 0 0;
        }
        &.menu-all-articles{
          &:before {
            background-image: url("../img/svg/active-checkbox.svg");
            background-size: 14px;
            background-color: var(--bg-check-box);
          }
          background-color: var(--color-circles);

          .bx_sitemap_li_title {
            a {
              transition: all .4s ease;
              color: var(--color-White);
            }
          }
        }
        &:hover{
          cursor: pointer;
          .bx_sitemap_li_title{
            a{
              transition: all .4s ease;
              color: var(--color-red);
            }
          }
        }
        //&:focus{
        //  background-color: var(--color-circles);
        //  .bx_sitemap_li_title{
        //    a{
        //      transition: all .4s ease;
        //      color: var(--color-WhiteWhite);
        //    }
        //  }
        //}
        //PROPERTIES H2
        .bx_sitemap_li_title{
          font-size: 20px;
          line-height: unset;
          margin: 0;
          padding: 0px 0px 0px 60px;
          @media screen and (max-width: 760px){
            padding: 0px 0px 0px 50px;
          }
          @media screen and (max-width: 480px){
            padding: 0px 0px 0px 35px;
          }
          a{
            text-wrap: wrap;
            font-size: 1.063rem;
            color: var(--color-black);
            @media screen and (max-width: 760px){
              font-size: 0.875rem;
            }
            @media screen and (max-width: 380px){
              font-size: 0.75rem;
            }
          }
        }
        //!PROPERTIES H2
      }
    }
  }
  //PROGRAMM CATALOG
  .i_programm-catalog{
    width: 95%;
    @media screen and (max-width: 760px){
      width: 100%
    }
    .catalog-section{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      @media screen and (max-width: 1270px){
        gap: 0px;
        .product-item-small-card{
          .product-item-big-card{
            width: 100%;
            max-width: 1235px;
            display: flex;
            .row{
              padding: 0 0 30px 0;
              @media screen and (max-width: 480px){
                padding: 0;
              }
            }
          }
        }
      }
      @media screen and (max-width: 480px){
        flex-direction: row;
      }
      @media screen and (max-width: 360px){
        gap: 10px;
      }
      .row{
        margin: 0;
        width: 100%;
        display: flex;
        @media screen and (max-width: 480px){
          gap: 10px;
          flex-wrap: wrap;
        }
        .product-item-small-card{
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 0;
          .product-item-big-card:nth-child(3){
            padding: 0;
            .col-md-12{
              padding: 0;
            }
          }
          .product-item-big-card{
            width: unset;
            padding: 0 30px 0 0;
            @media screen and (max-width: 760px){
              padding: 0 10px 0 0;
            }
            @media screen and (max-width: 480px){
              padding: 0;
            }

          }
        }
      }
    }
    //SZ
    //SOFTWARE
    .i_software{
      background-color: unset;
      .i_container{
        width: 100%;
        .i_software-corporate{
          .i_software-iconAnnounce{
            width: 70%;
            @media screen and (max-width: 360px){
              width: 100%;
            }
            .i_software-block{
              box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.12);
            }
            svg{
              color: var(--color-black);
            }
          }
          .i_software-group-textBtn{
            width: 75%;
            @media screen and (max-width: 360px){
              width: 100%;
            }
            .i_software-btn{
              &:hover{
                background-color: var(--bg-buttonHoverSecond);
              }
            }
          }
        }
      }
    }
    //!SOFTWARE
    //PRODUCT ITEM CONTAINER
    .product-item-container{
      //!PRODUCT ITEM
      .product-item{
        display: flex;
        flex-direction: column;
        height: 350px;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        max-width: 350px;
        width: calc(100% / 3 + 265px);
        background-color: var(--bg-block);
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.11);
        @media screen and (max-width: 1330px){
          height: 295px;
          max-width: 295px;
        }
        @media screen and (max-width: 1000px){
          height: 215px;
          max-width: 215px;
        }
        @media screen and (max-width: 760px){
          height: 230px;
          max-width: 230px;
        }
        @media screen and (max-width: 480px){
          height: 205px;
          max-width: 205px;
        }
        @media screen and (max-width: 360px){
          height: 155px;
          max-width: 155px;
        }
        &:hover{
          transition: all .4s ease;
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
          &:before{
            transition: all .4s ease;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 180%;
            height: 180%;
            background-image: url("../img/svg/hover-programm-products-w-light.svg");
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
            border-radius: 50%;
          }
          .product-item-detail{
            opacity: 1;
            visibility: visible;
            transform: translateY(-15%);
          }
          .product-item-title{
            transform: translateY(-190%);
            span{
              transition: all .4s ease;
              color: var(--color-red);
            }
          }
          .product-item-img{
            width: 50%;
            height: 50%;
            transform: translateY(-20%);
          }
        }
        .product-item-img{
          width: 100%;
          height: 100%;
          transition: all 0.4s ease;
          position: relative;
          transform: translateY(10%);
          img{
            width: 100%;
            height: 100%;
          }
        }
        .product-item-title{
          font-size: 22px;
          position: relative;
          transition: all .4s ease;
          overflow: visible;
          margin-bottom: 0;
          text-overflow: unset;
          white-space: nowrap;
          @media screen and (max-width: 1250px){
            font-size: 18px;
          }
          @media screen and (max-width: 479px){
            font-size: 22px;
            top: -5%;
          }
          span{
            color: var(--color-textInfoblock);
          }
        }
        .product-item-detail{
          opacity: 0;
          visibility: hidden;
          transition: all .4s ease;
          display: flex;
          flex-direction: column;
          gap: 30px;
          margin: 0 20px;
          position: relative;
          .product-item-detail-title{
            span{
              color: var(--color-textInfoblock);
            }
          }
          .product-item-detail-price:after{
            content: ' ';
            background-image: url("../img/svg/wrapper-icon-price.svg");
            background-repeat: no-repeat;
            width: 350px;
            height: 34px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
          }
          .product-item-detail-price{
            position: relative;
            z-index: 1;
            span{
              color: var(--color-textInfoblock);
              font-size: 1.125rem;
              .text{
                font-size: 0.75rem;
                font-family: "Open Sans", sans-serif;
              }
            }
          }
          .product-item-btn{
            button{
              padding: 10px 25px;
              @media screen and (max-width: 1250px){
                padding: 10px 20px;
                font-size: 14px;
              }
              &:hover{
                background-color: var(--bg-buttonHoverFirst);
              }
            }
          }
        }
      }
      //!PRODUCT ITEM
    }
    //!PRODUCT ITEM CONTAINER
  }
  //!PROGRAMM CATALOG
}

//PROGRAMMS
.i_programms{
  //PROGRAMMS TITLE
  .i_programms-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 50px 0;
    .i_programms-title-icon{
      min-width: 50px;
      height: 50px;
      background-color: var(--color-circles);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("../img/svg/programm-products_w.svg");
      background-repeat: no-repeat;
      background-size: 50px;
      background-position-x: 65%;
      background-position-y: 50%;
      @media screen and (max-width: 760px){
        min-width: 40px;
        height: 40px;
        background-size: 40px;
      }
    }
    .i_programms-title-name{
      display: flex;
      justify-content: flex-start;
      span{
        font-size: 32px;
        font-weight: 400;
        color: var(--color-black);
        @media screen and (max-width: 1330px){
          font-size: 28px;
        }
        @media screen and (max-width: 760px){
          font-size: 26px;
        }
        @media screen and (max-width: 480px){
          font-size: 21px;
        }
      }
      @media screen and (max-width: 1000px){
        width: 50%;
      }
      @media screen and (max-width: 760px){
        width: unset;
      }

    }
  }
  //!PROGRAMMS TITLE

}
//!PROGRAMMS
