.i_projects-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.i_projects-title .i_projects-title-icon {
  width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/svg/projects-icon_w.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}
@media screen and (max-width: 760px) {
  .i_projects-title .i_projects-title-icon {
    width: 40px;
    height: 40px;
    background-size: 36px;
  }
}
.i_projects-title .i_projects-title-name {
  display: flex;
  justify-content: flex-start;
}
.i_projects-title .i_projects-title-name span {
  font-size: 32px;
  font-weight: 400;
  color: var(--color-black);
}
@media screen and (max-width: 1330px) {
  .i_projects-title .i_projects-title-name span {
    font-size: 28px;
  }
}
@media screen and (max-width: 760px) {
  .i_projects-title .i_projects-title-name span {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .i_projects-title .i_projects-title-name span {
    font-size: 21px;
  }
}
@media screen and (max-width: 1000px) {
  .i_projects-title .i_projects-title-name {
    width: 50%;
  }
}
@media screen and (max-width: 760px) {
  .i_projects-title .i_projects-title-name {
    width: unset;
  }
}

.i_projects-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
  gap: 40px;
}
@media screen and (max-width: 1593px) {
  .i_projects-section {
    gap: 30px;
  }
}
@media screen and (max-width: 760px) {
  .i_projects-section {
    gap: 20px;
  }
}
@media screen and (max-width: 760px) {
  .i_projects-section {
    gap: 16px;
  }
}
.i_projects-section .i_projects-section__item {
  max-width: 220px;
  width: 16vw;
  height: 11vw;
  min-height: 220px;
}
@media screen and (max-width: 1593px) {
  .i_projects-section .i_projects-section__item {
    width: 20%;
  }
}
@media screen and (max-width: 1330px) {
  .i_projects-section .i_projects-section__item {
    min-height: 214px;
  }
}
@media screen and (max-width: 1000px) {
  .i_projects-section .i_projects-section__item {
    width: 23%;
    min-height: 204px;
  }
}
@media screen and (max-width: 810px) {
  .i_projects-section .i_projects-section__item {
    width: 30%;
    min-height: 220px;
  }
}
@media screen and (max-width: 700px) {
  .i_projects-section .i_projects-section__item {
    min-height: 193px;
  }
}
@media screen and (max-width: 640px) {
  .i_projects-section .i_projects-section__item {
    min-height: 160px;
  }
}
@media screen and (max-width: 575px) {
  .i_projects-section .i_projects-section__item {
    min-height: 160px;
  }
}
@media screen and (max-width: 530px) {
  .i_projects-section .i_projects-section__item {
    width: 46%;
    min-height: 160px;
  }
}
.i_projects-section .i_projects-section__item a {
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 100%;
  background-color: var(--bg-second);
  text-decoration: none;
  font-size: 0.875rem;
  position: relative;
}
@media screen and (max-width: 1330px) {
  .i_projects-section .i_projects-section__item a {
    width: 214px;
  }
}
@media screen and (max-width: 1000px) {
  .i_projects-section .i_projects-section__item a {
    width: 204px;
  }
}
@media screen and (max-width: 810px) {
  .i_projects-section .i_projects-section__item a {
    width: 220px;
  }
}
@media screen and (max-width: 700px) {
  .i_projects-section .i_projects-section__item a {
    width: 193px;
  }
}
@media screen and (max-width: 640px) {
  .i_projects-section .i_projects-section__item a {
    width: 160px;
  }
}
@media screen and (max-width: 575px) {
  .i_projects-section .i_projects-section__item a {
    width: 160px;
  }
}
.i_projects-section .i_projects-section__item a:hover {
  background-color: var(--color-circlesThird);
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.i_projects-section .i_projects-section__item a:hover:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  height: 200%;
  background-image: url("../img/svg/hover-programm-products-b-light.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  border-radius: 50%;
}
.i_projects-section .i_projects-section__item a:hover .i_projects-section__item__name span {
  transition: all 0.4s ease;
  color: var(--color-red);
}
.i_projects-section .i_projects-section__item .i_projects-section__item__name {
  padding: 0 35px;
}
.i_projects-section .i_projects-section__item .i_projects-section__item__name span {
  font-size: 12px;
  font-weight: 600;
}
@media screen and (max-width: 700px) {
  .i_projects-section .i_projects-section__item .i_projects-section__item__name span {
    font-weight: 500;
    font-size: 0.7em;
  }
}
.i_projects-section .i_projects-section__item .i_projects-section__item__img {
  max-width: 134px;
  width: 100%;
  height: 60%;
}
.i_projects-section .i_projects-section__item .i_projects-section__item__img img {
  width: 100%;
  height: 100%;
}

.i_projects-element {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 80px;
  gap: 30px;
}
.i_projects-element .i_projects-element__item {
  width: calc(20% - 24px);
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 40px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  min-height: 280px;
  cursor: pointer;
}
.i_projects-element .i_projects-element__item .i_projects-element__item__img {
  max-width: 120px;
}
.i_projects-element .i_projects-element__item .i_projects-element__item__img img {
  width: 100%;
}
.i_projects-element .i_projects-element__item .i_projects-element__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.i_projects-element .i_projects-element__item .i_projects-element__content .i_projects-element__item__text span {
  color: var(--color-text-input);
  font-size: 0.875rem;
}

/*# sourceMappingURL=projects.css.map */
