.i_projects-title{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  .i_projects-title-icon{
    width: 50px;
    height: 50px;
    background-color: var(--color-circles);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/svg/projects-icon_w.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    @media screen and (max-width: 760px){
      width: 40px;
      height: 40px;
      background-size: 36px;
    }
  }
  .i_projects-title-name{
    display: flex;
    justify-content: flex-start;
    a{
      text-decoration: none;
    }
    span{
      font-size: 32px;
      font-weight: 400;
      color: var(--color-black);
      @media screen and (max-width: 1330px){
        font-size: 28px;
      }
      @media screen and (max-width: 760px){
        font-size: 26px;
      }
      @media screen and (max-width: 480px){
        font-size: 21px;
      }
      &:hover{
        color: var(--color-red);
      }
    }
    @media screen and (max-width: 1000px){
      width: 50%;
    }
    @media screen and (max-width: 760px){
      width: unset;
    }

  }
}

.i_projects-section{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 80px;
  gap: 40px;
  @media screen and (max-width: 1593px){
    gap: 40px;
  }
  @media screen and (max-width: 1230px){
    gap: 30px;
  }
  @media screen and (max-width: 760px){
    gap: 20px;
  }
  @media screen and (max-width: 360px){
    gap: 16px;
  }
  .i_projects-section__item{
    //width: calc(100%/6 - 30px);
    max-width: 220px;
    width: 16vw;
    height: 11vw;
    min-height: 220px;
    @media screen and (max-width: 1593px) {
      width: 14%;
    }

    @media screen and (max-width: 1460px){
      width: 17%;
    }

    @media screen and (max-width: 1330px){
      min-height: 214px;
    }
    @media screen and (max-width: 1230px){
      width: 22%;
    }
    @media screen and (max-width: 1000px){
      min-height: 204px;
    }
    @media screen and (max-width: 900px){
      width: 30%;
      min-height: 220px;
    }
    @media screen and (max-width: 700px){

      min-height: 193px;
    }
    @media screen and (max-width: 640px){

      min-height: 160px;
    }
    @media screen and (max-width: 575px){

      min-height: 160px;
    }
    @media screen and (max-width: 530px){
      width: 46%;
      min-height: 160px;
    }
    a{
      width: 220px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      border-radius: 100%;
      background-color: var(--bg-second);
      text-decoration: none;
      font-size: 0.875rem;
      position: relative;
      @media screen and (max-width: 1330px){
        width: 214px;
      }
      @media screen and (max-width: 1000px){
        width: 204px;
      }
      @media screen and (max-width: 900px){
        width: 220px;
      }
      @media screen and (max-width: 700px){
        width: 193px;
      }
      @media screen and (max-width: 640px){
        width: 160px;
      }
      @media screen and (max-width: 575px){
        width: 160px;
      }
      &:hover{
        background-color: var(--color-circlesThird);
        cursor: pointer;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
        &:before{
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 200%;
          height: 200%;
          background-image: url("../img/svg/hover-programm-products-b-light.svg");
          background-repeat: no-repeat;
          background-size: contain;
          z-index: -1;
          border-radius: 50%;
        }
        //PROJECTS SECTION ITEM NAME
        .i_projects-section__item__name{
          span{
            transition: all .4s ease;
            color: var(--color-red);
          }
        }
        //!PROJECTS SECTION ITEM NAME
      }
    }
    //PROJECTS SECTION ITEM NAME
    .i_projects-section__item__name{
      padding: 0 35px;
      span{
        font-size: 12px;
        font-weight: 600;
        @media screen and (max-width: 700px){
          font-weight: 500;
          font-size: 0.7em;
        }
      }
    }
    //!PROJECTS SECTION ITEM NAME
    //PROJECTS SECTION ITEM IMG
    .i_projects-section__item__img{
      max-width: 134px;
      width: 100%;
      height: 60%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    //!PROJECTS SECTION ITEM IMG
  }
}

.i_projects-element{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 70px;
  gap: 30px;
  @media screen and (max-width: 1330px){
    margin-top: 60px;
  }
  @media screen and (max-width: 940px){
    gap: 20px;
  }
  @media screen and (max-width: 760px){
    margin-top: 50px;
  }
  @media screen and (max-width: 375px){
    gap: 17px;
  }
  .i_projects-element__item{
    width: calc(20% - 24px);
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 40px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    min-height: 280px;
    cursor: pointer;
    background-color: var(--bg-block);
    @media screen and (max-width: 1240px){
      width: calc(25% - 24px);
    }
    @media screen and (max-width: 1000px){
      width: calc(30% - 70px);
    }
    @media screen and (max-width: 940px){
      width: calc(40% - 75px);
    }
    @media screen and (max-width: 760px){
      width: calc(40% - 61px);
      padding: 20px 20px;
    }
    @media screen and (max-width: 650px){
      width: calc(50% - 10px);
    }
    @media screen and (max-width: 480px){
      width: calc(48% - 4px);
      padding: 20px 16px;
    }
    @media screen and (max-width: 375px){
      width: calc(50% - 10px);
      padding: 15px 12px;
    }
    .i_projects-element__item__img{
      max-width: 233px;
      min-width: 164px;
      @media screen and (max-width: 760px){
        min-width: 134px;
      }
      img{
        width: 100%;
      }
    }
    .i_projects-element__content{
      display: flex;
      flex-direction: column;
      gap: 35px;
      .i_projects-element__item__name span{
        color: var(--color-textInfoblock);
        font-size: 0.875rem;
        @media screen and (max-width: 375px){
          font-size: 0.813rem;
        }
      }
      .i_projects-element__item__text span{
        color: var(--color-text-li);
        font-size: 0.813rem;
        @media screen and (max-width: 375px){
          font-size: 0.75rem;
        }
      }
    }
  }

}