.i_reviews {
  margin: 50px 0;
}
.i_reviews .i_container .i_projects-title .i_projects-title-name span {
  cursor: text;
}
.i_reviews .i_container .i_projects-title .i_projects-title-name span:hover {
  color: var(--color-black);
}
.i_reviews .i_container .i_reviews-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 0 0 50px 0;
}
.i_reviews .i_container .i_reviews-title .i_reviews-title-icon {
  width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/svg/menu/reviewW.svg");
  background-repeat: no-repeat;
  background-position-x: 53%;
  background-position-y: 50%;
  background-size: 30px;
}
.i_reviews .i_container .i_reviews-title .i_reviews-title-icon svg {
  color: var(--color-circleIcon);
}
@media screen and (max-width: 760px) {
  .i_reviews .i_container .i_reviews-title .i_reviews-title-icon {
    width: 40px;
    height: 40px;
    background-size: 26px;
  }
}
.i_reviews .i_container .i_reviews-title .i_reviews-title-name {
  display: flex;
  justify-content: flex-start;
}
.i_reviews .i_container .i_reviews-title .i_reviews-title-name span {
  font-size: 32px;
  font-weight: 400;
  color: var(--color-black);
}
@media screen and (max-width: 1330px) {
  .i_reviews .i_container .i_reviews-title .i_reviews-title-name span {
    font-size: 28px;
  }
}
@media screen and (max-width: 760px) {
  .i_reviews .i_container .i_reviews-title .i_reviews-title-name span {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .i_reviews .i_container .i_reviews-title .i_reviews-title-name span {
    font-size: 21px;
  }
}
@media screen and (max-width: 1000px) {
  .i_reviews .i_container .i_reviews-title .i_reviews-title-name {
    width: 50%;
  }
}
@media screen and (max-width: 760px) {
  .i_reviews .i_container .i_reviews-title .i_reviews-title-name {
    width: unset;
  }
}
.i_reviews .i_container .i_projects-section {
  margin-top: 30px;
}
.i_reviews .i_container .i_projects-section .i_projects-section__item .i_projects-section__item__img {
  max-width: 134px;
  width: 60%;
  height: 60%;
}
@media screen and (max-width: 640px) {
  .i_reviews .i_container .i_projects-section .i_projects-section__item .i_projects-section__item__img {
    width: 50%;
  }
}
.i_reviews .i_container .reviews-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media screen and (max-width: 1374px) {
  .i_reviews .i_container .reviews-list {
    gap: 30px;
  }
}
@media screen and (max-width: 760px) {
  .i_reviews .i_container .reviews-list {
    gap: 20px;
  }
}
.i_reviews .i_container .reviews-list .reviews-item {
  flex-basis: 31.5%;
  padding: 20px;
  background-color: var(--bg-block);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.11);
  border-radius: 30px;
  max-width: 485px;
  max-height: 377px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  transition: all 0.4s ease;
}
@media screen and (max-width: 1524px) {
  .i_reviews .i_container .reviews-list .reviews-item {
    flex-basis: 31.3%;
  }
}
@media screen and (max-width: 1100px) {
  .i_reviews .i_container .reviews-list .reviews-item {
    flex-basis: 47.3%;
  }
}
@media screen and (max-width: 480px) {
  .i_reviews .i_container .reviews-list .reviews-item {
    flex-basis: 100%;
  }
}
.i_reviews .i_container .reviews-list .reviews-item:hover {
  background-color: var(--bg-hover-review);
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0px 0px 25px rgba(168, 168, 168, 0.45);
}
.i_reviews .i_container .reviews-list .reviews-item .i_reviews_first {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 760px) {
  .i_reviews .i_container .reviews-list .reviews-item .i_reviews_first {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .i_reviews .i_container .reviews-list .reviews-item .i_reviews_first {
    flex-direction: row;
  }
}
.i_reviews .i_container .reviews-list .reviews-item .i_reviews_first .i_reviews_title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 760px) {
  .i_reviews .i_container .reviews-list .reviews-item .i_reviews_first .i_reviews_title {
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .i_reviews .i_container .reviews-list .reviews-item .i_reviews_first .i_reviews_title {
    align-items: start;
  }
}
.i_reviews .i_container .reviews-list .reviews-item .i_reviews_first .i_reviews_title .i_reviews_company {
  font-size: 16px;
  color: var(--color-textInfoblock);
}
.i_reviews .i_container .reviews-list .reviews-item .i_reviews_first .i_reviews_title .i_reviews_company:hover {
  color: var(--color-textInfoblock);
}
@media screen and (max-width: 760px) {
  .i_reviews .i_container .reviews-list .reviews-item .i_reviews_first .i_reviews_title .i_reviews_company {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .i_reviews .i_container .reviews-list .reviews-item .i_reviews_first .i_reviews_title .i_reviews_company {
    font-size: 13px;
  }
}
.i_reviews .i_container .reviews-list .reviews-item .i_reviews_first .i_reviews_title .i_reviews_name_rule {
  color: var(--color-textInfoblock);
  font-size: 14px;
}
.i_reviews .i_container .reviews-list .reviews-item .i_reviews_first .i_reviews_title .i_reviews_name_rule:hover {
  color: var(--color-textInfoblock);
}
@media screen and (max-width: 760px) {
  .i_reviews .i_container .reviews-list .reviews-item .i_reviews_first .i_reviews_title .i_reviews_name_rule {
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  .i_reviews .i_container .reviews-list .reviews-item .i_reviews_first .i_reviews_title .i_reviews_name_rule {
    font-size: 12px;
  }
}
.i_reviews .i_container .reviews-list .reviews-item .i_reviews_first .i_reviews_img {
  max-width: 160px;
}
@media screen and (max-width: 760px) {
  .i_reviews .i_container .reviews-list .reviews-item .i_reviews_first .i_reviews_img {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .i_reviews .i_container .reviews-list .reviews-item .i_reviews_first .i_reviews_img {
    display: block;
  }
}
.i_reviews .i_container .reviews-list .reviews-item .i_reviews_first .i_reviews_img a {
  width: 100%;
  display: block;
}
.i_reviews .i_container .reviews-list .reviews-item .i_reviews_first .i_reviews_img a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.i_reviews .i_container .reviews-list .reviews-item .i_reviews_video {
  max-height: 250px;
  height: 30vh;
  min-height: 250px;
}
.i_reviews .i_container .reviews-list .reviews-item .i_reviews_video iframe {
  width: 100%;
  height: 100%;
}
.i_reviews .i_container .i_review_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 580px) {
  .i_reviews .i_container .i_review_btn {
    display: grid;
    grid-column: 1/2 span;
  }
}
.i_reviews .i_container .i_review_btn button {
  padding: 16px 48px;
}
@media screen and (max-width: 580px) {
  .i_reviews .i_container .i_review_btn button {
    padding: 12px 35px;
  }
}

/*# sourceMappingURL=reviews.css.map */
