.i_personal {
  padding-top: 60px;
  padding-bottom: 80px;
  position: relative;
  z-index: 2;
}
.i_personal .i_personal-bg {
  position: absolute;
  z-index: -1;
  top: 21.5%;
  left: -0.5%;
  transform: translateY(50%);
}
.i_personal .i_personal-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}
.i_personal .i_personal-group .i_personal-title {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.i_personal .i_personal-group .i_personal-title .i_personal-title-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-circles);
  width: 50px;
  height: 50px;
  max-width: 100%;
  border-radius: 50%;
}
.i_personal .i_personal-group .i_personal-title .i_personal-title-bg svg {
  color: var(--color-circleIcon);
}
.i_personal .i_personal-group .i_personal-title .i_personal-title-name span {
  font-size: 32px;
  font-weight: 400;
}
.i_personal .i_personal-group .swiper-container.personal {
  width: 100%;
}
.i_personal .i_personal-group .swiper-container.personal .swiper-slide:before {
  content: "";
  width: 406px;
  height: 406px;
  background-color: var(--bg-block);
  border-radius: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.03);
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translate(-50%);
}
.i_personal .i_personal-group .swiper-container.personal .swiper-slide {
  display: flex;
  width: 330px;
  border-radius: 100% 100% 35px 35px;
  flex-direction: column;
}
.i_personal .i_personal-group .swiper-container.personal .swiper-slide.swiper-slide-active {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.i_personal .i_personal-group .swiper-container.personal .swiper-slide.swiper-slide-active .swiper-slide-block {
  background-image: url("../img/svg/bg-manage-slide.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.i_personal .i_personal-group .swiper-container.personal .swiper-slide.swiper-slide-active:before {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.i_personal .i_personal-group .swiper-container.personal .swiper-slide.swiper-slide-active .swiper-slide-name span {
  color: var(--color-red) !important;
}
.i_personal .i_personal-group .swiper-container.personal .swiper-slide.swiper-slide-active .swiper-slide-name span:hover {
  color: var(--color-red) !important;
}
.i_personal .i_personal-group .swiper-container.personal .swiper-slide .swiper-slide-block {
  padding: 64px 20px;
  width: 330px;
  height: 715px;
  background-color: var(--bg-block);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.03);
  border-radius: 100% 100% 35px 35px;
  cursor: pointer;
  gap: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  justify-content: flex-end;
}
.i_personal .i_personal-group .swiper-container.personal .swiper-slide .swiper-slide-block .swiper-slide-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.i_personal .i_personal-group .swiper-container.personal .swiper-slide .swiper-slide-block .swiper-slide-group .swiper-slide-name {
  text-align: center;
}
.i_personal .i_personal-group .swiper-container.personal .swiper-slide .swiper-slide-block .swiper-slide-group .swiper-slide-name span {
  color: var(--color-textInfoblock);
  font-size: 28px;
}
.i_personal .i_personal-group .swiper-container.personal .swiper-slide .swiper-slide-block .swiper-slide-group .swiper-slide-name span:hover {
  color: unset !important;
}
.i_personal .i_personal-group .swiper-container.personal .swiper-slide .swiper-slide-block .swiper-slide-group .swiper-slide-title {
  font-size: 15px;
  color: var(--color-title);
  text-align: center;
}
.i_personal .i_personal-group .swiper-container.personal .swiper-slide .swiper-slide-block .swiper-slide-group .swiper-slide-desc {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 21px;
}
.i_personal .i_personal-group .swiper-container.personal .swiper-slide .swiper-slide-picture {
  width: 406px;
  height: 406px;
  background-color: var(--bg-block);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translate(-50%);
}
.i_personal .i_personal-group .swiper-container.personal .swiper-slide .swiper-slide-picture img {
  border-radius: 50%;
}
.i_personal .i_personal-group .i_personal-btn {
  width: 390px;
  height: 60px;
}

.i_products {
  padding-top: 60px;
  background-color: var(--bg-second);
  position: relative;
}
.i_products .i_container .i_products-group {
  display: block;
}
.i_products .i_container .i_products-group .i_products-title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.i_products .i_container .i_products-group .i_products-title .i_products-title-bg {
  width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i_products .i_container .i_products-group .i_products-title .i_products-title-bg svg {
  color: var(--color-circleIcon);
}
.i_products .i_container .i_products-group .i_products-title .i_products-title-name span {
  font-size: 32px;
  font-weight: 400;
}
.i_products .i_container .i_products-group .products-swiper {
  position: relative;
  margin: 70px 0;
}
.i_products .i_container .i_products-group .swiper-slide {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  max-height: 350px;
  max-width: 350px;
  background-color: var(--bg-block);
  text-align: center;
  overflow: hidden;
}
.i_products .i_container .i_products-group .swiper-slide:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
}
.i_products .i_container .i_products-group .swiper-slide:hover .swiper-detail {
  opacity: 1;
  visibility: visible;
  transform: translateY(-20%);
}
.i_products .i_container .i_products-group .swiper-slide:hover .swiper-title {
  transform: translateY(-200%);
}
.i_products .i_container .i_products-group .swiper-slide:hover .swiper-title span {
  color: var(--color-red) !important;
}
.i_products .i_container .i_products-group .swiper-slide:hover .swiper-img {
  width: 50%;
  height: 50%;
  transform: translateY(-20%);
}
.i_products .i_container .i_products-group .swiper-slide .swiper-img {
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  position: relative;
  transform: translateY(10%);
}
.i_products .i_container .i_products-group .swiper-slide .swiper-img img {
  width: 100%;
  height: 100%;
}
.i_products .i_container .i_products-group .swiper-slide .swiper-title {
  font-size: 22px;
  position: relative;
  transition: all 0.4s ease;
}
.i_products .i_container .i_products-group .swiper-slide .swiper-title span {
  color: var(--color-textInfoblock);
}
.i_products .i_container .i_products-group .swiper-slide .swiper-detail {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
.i_products .i_container .i_products-group .swiper-slide .swiper-detail .swiper-detail-title {
  font-size: 0.875rem;
}
.i_products .i_container .i_products-group .swiper-slide .swiper-detail .swiper-detail-title span {
  color: var(--color-textInfoblock);
}
.i_products .i_container .i_products-group .swiper-slide .swiper-detail .swiper-detail-btn button {
  padding: 10px 25px;
}
.i_products .i_container .i_products-group .i_products-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.i_products .i_container .i_products-group .i_products-btn button {
  padding: 20px 44px;
}
.i_products .i_container .i_products-group .i_products-btn button:hover {
  background-color: var(--bg-buttonHoverSecond);
}

.i_projects {
  padding: 60px 0;
  background-color: var(--bg-second);
  position: relative;
}
.i_projects .i_projects-title {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
}
.i_projects .i_projects-title .i_projects-title-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--color-circles);
  border-radius: 50%;
}
.i_projects .i_projects-title .i_projects-title-bg svg {
  color: var(--color-circleIcon);
}
.i_projects .i_projects-title .i_projects-title-name span {
  font-size: 32px;
  font-weight: 400;
}
.i_projects .projects-swiper {
  position: relative;
  margin: 70px 0;
}
.i_projects .swiper.projects-swiper {
  width: 100%;
  height: 100%;
}
.i_projects .swiper.projects-swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: auto !important;
  background-color: var(--bg-block);
  min-height: 280px !important;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  gap: 40px;
}
.i_projects .swiper.projects-swiper .swiper-slide:hover {
  background-color: var(--bg-blockSliderProjectHover);
}
.i_projects .swiper.projects-swiper .swiper-slide:hover .swiper-slide-title span {
  color: var(--color-red);
}
.i_projects .swiper.projects-swiper .swiper-slide:hover .swiper-slide-icon svg {
  color: var(--color-nochangeThirdIcon);
}
.i_projects .swiper.projects-swiper .swiper-slide .swiper-slide-title {
  position: relative;
  transform: translateY(-42%);
  line-height: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
}
.i_projects .swiper.projects-swiper .swiper-slide .swiper-slide-title span {
  color: var(--color-textInfoblock);
}
.i_projects .swiper.projects-swiper .swiper-slide .swiper-slide-icon {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i_projects .swiper.projects-swiper .swiper-slide .swiper-slide-icon svg {
  color: var(--color-red);
}
.i_projects .i_projects-btn {
  display: flex;
  justify-content: center;
}
.i_projects .i_projects-btn button {
  padding: 20px 44px;
}
.i_projects .i_projects-btn button:hover {
  background-color: var(--bg-buttonHoverSecond);
}

.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 200px;
  top: 60px;
}
.pagination .swiper-personal-button-next,
.pagination .swiper-personal-button-prev,
.pagination .swiper-products-button-next,
.pagination .swiper-products-button-prev,
.pagination .swiper-projects-button-next,
.pagination .swiper-projects-button-prev {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--color-circlesSecond);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-black);
  transition: all 0.4s ease;
}
.pagination .swiper-personal-button-next:hover,
.pagination .swiper-personal-button-prev:hover,
.pagination .swiper-products-button-next:hover,
.pagination .swiper-products-button-prev:hover,
.pagination .swiper-projects-button-next:hover,
.pagination .swiper-projects-button-prev:hover {
  color: var(--color-red);
}
.pagination .swiper-personal-button-next .prev-icon,
.pagination .swiper-personal-button-prev .prev-icon,
.pagination .swiper-products-button-next .prev-icon,
.pagination .swiper-products-button-prev .prev-icon,
.pagination .swiper-projects-button-next .prev-icon,
.pagination .swiper-projects-button-prev .prev-icon {
  margin-right: 5px;
}
.pagination .swiper-personal-button-next .next-icon,
.pagination .swiper-personal-button-prev .next-icon,
.pagination .swiper-products-button-next .next-icon,
.pagination .swiper-products-button-prev .next-icon,
.pagination .swiper-projects-button-next .next-icon,
.pagination .swiper-projects-button-prev .next-icon {
  margin-left: 5px;
}
.pagination .swiper-products-button-next,
.pagination .swiper-products-button-prev,
.pagination .swiper-projects-button-next,
.pagination .swiper-projects-button-prev {
  background-color: var(--color-circlesThird);
}

/*# sourceMappingURL=swiper.css.map */
