//PERSONAL
.i_personal{
  background-image: url("../img/svg/bg-element-light_2.svg");
  background-repeat: no-repeat;
  background-position-x: -35%;
  background-position-y: 180%;
  padding-top: 60px;
  padding-bottom: 80px;
  position: relative;
  z-index: 2;
  @media screen and (max-width: 1330px){
    background-position-x: -90%;
  }
  @media screen and (max-width: 1000px){
    background-position-x: -260%;
  }
  @media screen and (max-width: 900px){
    background-position-x: -120%;
  }
  @media screen and (max-width: 760px){
    background-position-x: 1300%;
  }
  @media screen and (max-width: 480px){
    background-position-x: 160%;
    background-position-y: 165%;
  }
  .i_container{
    position: relative;
    //PERSONAL TITLE
    .i_personal-title{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      gap: 20px;
      .i_personal-title-bg{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-circles);
        width: 50px;
        height: 50px;
        max-width: 100%;
        border-radius: 50%;
        svg{
          color: var(--color-circleIcon);
        }
        @media screen and (max-width: 760px){
          width: 40px;
          height: 40px;
          min-width: 40px;
          svg{
            width: 30px;
            height: 20px;
          }
        }
      }
      .i_personal-title-name{
        span{
          font-size: 32px;
          font-weight: 400;
          @media screen and (max-width: 1330px){
            font-size: 28px;
          }
          @media screen and (max-width: 760px){
            font-size: 26px;
          }
          @media screen and (max-width: 480px){
            font-size: 21px;
          }
        }
      }
    }
    //!PERSONAL TITLE
    //PERSONAL SWIPER PERSONAL
    .swiper.personal{
      width: 100%;
      margin: 70px 0;
      @media screen and (max-width: 680px){
        margin: 60px 0;
      }
      //PERSONAL SWIPER SLIDE
      .swiper-slide:before{
        content: "";
        width: 406px;
        height: 406px;
        background-color: var(--bg-block);
        border-radius: 100%;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
        position: absolute;
        z-index: -1;
        left: 50%;
        transform: translate(-50%);
      }
      .swiper-slide {
        display: flex;
        width: 330px;
        border-radius: 100% 100% 35px 35px;
        flex-direction: column;
        &.swiper-slide-active{
          .swiper-slide-block{
            background-image: url("../img/svg/bg-manage-slide.svg");
            background-repeat: no-repeat;
            background-position-y: bottom;
          }
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
          &:before{
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
          }
          .swiper-slide-name{
            span{
              color: var(--color-red) !important;
              &:hover {
                color: var(--color-red) !important;
              }
            }
          }
        }
        //PERSONAL SWIPER SLIDE BLOCK
        .swiper-slide-block{
          padding: 64px 20px;
          width: 330px;
          height: 715px;
          background-color: var(--bg-block-personal);
          display: flex;
          align-items: center;
          flex-direction: column;
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
          border-radius: 100% 100% 35px 35px;
          cursor: pointer;
          gap: 40px;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%);
          z-index: 1;
          justify-content: flex-end;
          .swiper-slide-group{
            display: flex;
            flex-direction: column;
            gap: 30px;
            .swiper-slide-name{
              text-align: center;
              span{
                color: var(--color-textInfoblock);
                font-size: 28px;
                &:hover{
                  //color: unset !important;
                }
              }
            }
            .swiper-slide-title{
              font-size: 15px;
              color: var(--color-title);
              text-align: center;
            }
            .swiper-slide-desc{
              font-family: "Open Sans", sans-serif;
              font-size: 14px;
              text-align: center;
              line-height: 21px;
            }
          }
        }
        //!PERSONAL SWIPER SLIDE BLOCK
        //PERSONAL SWIPER SLIDE PICTURE
        .swiper-slide-picture{
          width: 406px;
          height: 406px;
          background-color: var(--bg-block-personal);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          position: absolute;
          z-index: 2;
          left: 50%;
          transform: translate(-50%);
          .i_swiper-slide-image{
            width: 95%;
            height: 95%;
            img{
              border-radius: 50%;
              width: 100%;
              height: 100%;
            }
          }
        }
        //!PERSONAL SWIPER SLIDE PICTURE
      }
      //!PERSONAL SWIPER SLIDE
    }
    //!PERSONAL SWIPER PERSONAL

    .i_personal-btn{
      display: flex;
      justify-content: center;
      @media screen and (max-width: 680px){
        margin: 160px 0 0 0;
      }
      button{
        padding: 20px 44px;
        @media screen and (max-width: 1330px) {
          padding: 16px 22px;
          font-size: 14px;
        }
        @media screen and (max-width: 360px) {
          padding: 12px 22px;
        }
      }
    }



  }
}
//!PERSONAL

//PRODUCTS
.i_products{
  padding-top: 60px;
  @media screen and (max-width: 900px){
    padding-top: 50px;
  }
  background-color: var(--bg-second);
  .i_container{
    position: relative;
    .i_products-title{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      position: relative;
      .i_products-title-bg{
        height: 50px;
        min-width: 50px;
        background-color: var(--color-circles);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
          color: var(--color-circleIcon);
        }
        @media screen and (max-width: 760px){
          height: 40px;
          min-width: 40px;
          svg{
            width: 22px;
            height: 22px;
          }
        }
      }
      .i_products-title-name{
        span{
          font-size: 32px;
          font-weight: 400;
          @media screen and (max-width: 1330px) {
            font-size: 28px;
          }
          @media screen and (max-width: 760px){
            font-size: 26px;
          }
          @media screen and (max-width: 480px){
            font-size: 21px;
          }
        }
      }
    }
    .products-swiper{
      position: relative;
      margin: 70px 0;
      @media screen and (max-width: 900px){
        margin: 50px 0;
      }
    }
    .swiper-slide{
      display: flex;
      flex-direction: column;
      height: auto;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      //max-height: 340px;
      //max-width: 340px;
      width: 100%;
      background-color: var(--bg-block);
      text-align: center;
      overflow: hidden;
      //@media screen and (max-width: 1330px){
      //  width: 285px;
      //  height: 285px;
      //}
      //@media screen and (max-width: 1000px){
      //  width: 280px;
      //  height: 280px;
      //}
      //@media screen and (max-width: 760px){
      //  width: 220px;
      //  height: 220px;
      //}
      //@media screen and (max-width: 480px){
      //  width: 200px;
      //  height: 200px;
      //}
      //@media screen and (max-width: 360px){
      //  width: 150px;
      //  height: 150px;
      //}

      &:hover{
        cursor: pointer;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
        .swiper-detail{
          opacity: 1;
          visibility: visible;
          transform: translateY(-20%);
          @media screen and (max-width: 1250px){
            transform: translateY(-15%);
          }
        }
        .swiper-title{
          span{
            color: var(--color-red) !important;
          }
          transform: translateY(-200%);
          @media screen and (max-width: 1330px){
            transform: translateY(-180%);
          }
          @media screen and (max-width: 1250px){
            transform: translateY(-160%);
          }
        }
        .swiper-img{
          width: 50%;
          height: 50%;
          transform: translateY(-20%);
          @media screen and (max-width: 1330px){
            width: 45%;
            height: 45%;
            transform: translateY(-25%);
          }
          @media screen and (max-width: 1250px){
            transform: translateY(-20%);
          }
          @media screen and (max-width: 479px){
            transform: translateY(-30%);
          }
        }
      }

      .swiper-img{
        width: 100%;
        height: 100%;
        transition: all 0.4s ease;
        position: relative;
        transform: translateY(15%);
        @media screen and (max-width: 1149px){
          transform: translateY(10%);
        }
        img{
          width: 100%;
          height: 100%;
        }
      }
      .swiper-title{
        font-size: 22px;
        position: relative;
        transition: all .4s ease;
        @media screen and (max-width: 1250px){
          font-size: 18px;
        }
        @media screen and (max-width: 479px){
          font-size: 22px;
          top: -5%;
        }
        span{
          color: var(--color-textInfoblock);
        }
      }
      .swiper-detail{
        opacity: 0;
        visibility: hidden;
        transition: all .4s ease;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 20px;
        position: relative;
        @media screen and (max-width: 1218px){
          margin: 0 15px;
        }
        @media screen and (max-width: 1218px){
          margin: 0 10px;
        }
        @media screen and (max-width: 1250px){
          gap: 15px;
          margin: 0 15px;
        }
        .swiper-detail-title{
          font-size: 14px;
          @media screen and (max-width: 1369px){
            font-size: 13px;
          }
          @media screen and (max-width: 1295px){
            font-size: 12px;
          }
          @media screen and (max-width: 1149px){
            font-size: 14px;
          }
          span{
            color: var(--color-textInfoblock);
          }
        }
        .swiper-detail-btn{
          button{
            padding: 10px 25px;
            @media screen and (max-width: 1250px){
              padding: 10px 20px;
              font-size: 14px;
            }
            &:hover{
              background-color: var(--bg-buttonHoverFirst);
            }
          }
        }
      }
    }
    .i_products-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 900px){
        margin-top: 140px;
      }
      button{
        padding: 20px 44px;
        &:hover{
          background-color: var(--bg-buttonHoverSecond);
        }
        @media screen and (max-width: 1330px) {
          padding: 16px 22px;
          font-size: 14px;
        }
        @media screen and (max-width: 360px) {
          padding: 12px 22px;
        }
      }
    }
  }
}
//!PRODUCTS

//PROJECTS
.i_projects {
  padding: 60px 0;
  background-color: var(--bg-second);
  position: relative;
    .i_container {
      position: relative;
      .i_projects-title {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 20px;
        justify-content: center;

        .i_projects-title-bg {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          background-color: var(--color-circles);
          border-radius: 50%;
          @media screen and (max-width: 760px){
            width: 40px;
            height: 40px;
            svg{
              width: 27px;
              height: 28px;
            }
          }
          svg {
            color: var(--color-circleIcon);
          }
        }

        .i_projects-title-name {
          span {
            font-size: 32px;
            font-weight: 400;
            @media screen and (max-width: 1330px) {
              font-size: 28px;
            }
            @media screen and (max-width: 760px){
              font-size: 26px;
            }
            @media screen and (max-width: 480px){
              font-size: 21px;
            }
          }
        }
      }

      .projects-swiper {
        position: relative;
        margin: 70px 0;
        @media screen and (max-width: 600px){
          margin: 50px 0;
        }
      }

      .swiper.projects-swiper {
        width: 100%;
        height: 100%;

        .swiper-slide {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          background-color: var(--bg-block);
          cursor: pointer;
          padding: 10px;
          text-align: center;
          gap: 40px;
          @media screen and (max-width: 1330px) {
            gap: 30px;
          }
          @media screen and (max-width: 480px) {
            gap: 25px;
          }
          @media screen and (max-width: 480px) {
            gap: 15px;
          }
          &:hover {
            background-color: var(--bg-blockSliderProjectHover);

            .swiper-slide-title {
              span {
                color: var(--color-red);
              }
            }

            .swiper-slide-icon {
              svg {
                color: var(--color-nochangeThirdIcon);
              }
            }
          }
          .swiper-slide-title {
            position: relative;
            transform: translateY(-42%);
            line-height: 20px;
            width: 80%;
            display: flex;
            align-items: start;
            justify-content: center;
            height: 35%;
            @media screen and (max-width: 1330px) {
              line-height: 16px;
            }
            @media screen and (max-width: 480px) {
              line-height: 14px;
            }
            span {
              color: var(--color-textInfoblock);
              @media screen and (max-width: 1330px) {
                font-size: 14px;
              }
              @media screen and (max-width: 480px) {
                font-size: 13px;
              }
              @media screen and (max-width: 360px) {
                font-size: 12px;
              }
            }
          }
          .swiper-slide-icon {
            width: 57%;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 1330px) {
              width: 60%;
            }

            svg {
              width: 100%;
              height: 100%;
              color: var(--color-red);
            }
          }
        }
      }

      .i_projects-btn {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 600px) {
          padding: 90px 0 0 0;
        }
        button {
          padding: 20px 44px;
          &:hover {
            background-color: var(--bg-buttonHoverSecond);
          }
          @media screen and (max-width: 1330px) {
            padding: 16px 22px;
            font-size: 14px;
          }
          @media screen and (max-width: 360px) {
            padding: 10px 22px;
          }
        }
      }
    }
  }
//PROJECTS

  //Навигационные кнопки
  .pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 0px;
    top: 0px;

    .swiper-personal-button-next,
    .swiper-personal-button-prev,
    .swiper-products-button-next,
    .swiper-products-button-prev,
    .swiper-projects-button-next,
    .swiper-projects-button-prev {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: var(--color-circlesSecond);
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: var(--color-black);
      transition: all .4s ease;

      &:hover {
        color: var(--color-red);
      }

      .prev-icon {
        margin-right: 5px;
      }

      .next-icon {
        margin-left: 5px;
      }

      @media screen and (max-width: 1330px) {
        width: 40px;
        height: 40px;
        .prev-icon,
        .next-icon {
          width: 8px;
          height: 13px;
        }
      }
    }

    .swiper-products-button-next,
    .swiper-products-button-prev,
    .swiper-projects-button-next,
    .swiper-projects-button-prev {
      background-color: var(--color-circlesThird);
    }
  }

  .i_products{
    .pagination{
      @media screen and (max-width: 900px){
        transform: translateX(50%);
        right: 50%;
        top: 75%;
        z-index: 1;
        gap: 10px;
      }
      @media screen and (max-width: 760px){
        top: 75%;
      }
      @media screen and (max-width: 600px){
        top: 70%;
      }
      @media screen and (max-width: 479px){
        top: 80%;
      }
      @media screen and (max-width: 380px){
        top: 75%;
      }
      @media screen and (max-width: 360px){
        top: 78%;
        gap: 20px;
      }

    }
  }

.i_projects{
  .pagination{
    @media screen and (max-width: 600px){
      transform: translateX(50%);
      right: 50%;
      top: 82%;
      z-index: 1;
      gap: 40px;
    }
    @media screen and (max-width: 550px){
      top: 80%;
    }
    @media screen and (max-width: 400px){
      top: 76%;
    }
    @media screen and (max-width: 360px){
      top: 78%;
      gap: 20px;
    }
  }
}

.i_personal{
  .pagination{
    @media screen and (max-width: 680px){
      transform: translateX(50%);
      right: 50%;
      top: 85%;
      z-index: 1;
      gap: 20px;
    }
  }
}

