//SERVICES
.i_services{
  margin: 50px 0;
  //SERVICES TITLE
  .i_services-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    .i_services-title-icon{
      width: 50px;
      height: 50px;
      background-color: var(--color-circles);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg{
        color: var(--color-circleIcon);
      }
      @media screen and (max-width: 760px){
        width: 40px;
        height: 40px;
      }
      svg{
        color: var(--color-circleIcon);
        @media screen and (max-width: 760px){
          width: 20px;
          height: 20px;
        }
      }
    }
    .i_services-title-name{
      display: flex;
      justify-content: flex-start;
      span{
        font-size: 32px;
        font-weight: 400;
        @media screen and (max-width: 1330px){
          font-size: 28px;
        }
        @media screen and (max-width: 760px){
          font-size: 26px;
        }
        @media screen and (max-width: 590px){
          font-size: 21px;
        }
      }
      @media screen and (max-width: 1000px){
        width: 50%;
      }
      @media screen and (max-width: 760px){
        width: unset;
      }

    }
  }
  //!SERVICES TITLE

  //VACATION LIST
  .i_vacantion-list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 70px 0;
    //VACATION ITEM
    .i_vacantion-item{
      display: flex;
      align-items: flex-start;
      justify-content: center;
      max-width: 745px;
      width: 48%;
      height: max-content;
      border-radius: 30px;
      padding: 30px;
      background-color: var(--color-blockHv);
      @media screen and (max-width: 1080px){
        max-width: 1020px;
        width: 100%;
      }
      @media screen and (max-width: 590px){
        display: none;
      }
      //VACATION ITEM HOVER
      &:hover{
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        transition: all 0.4s ease;
        background-color: #f9f9f9;
        .i_vacantion-item-right{
          .i_vacantion-item-name{
            span{
              color: var(--color-red);
            }
          }
        }
      }
      //!VACATION ITEM HOVER

      //VACATION ITEM LEFT
      .i_vacantion-item-left{
        width: 44%;
        @media screen and (max-width: 1080px){
          width: 30%;
        }
        @media screen and (max-width: 890px){
          width: 35%;
        }
        @media screen and (max-width: 760px){
          width: 51%;
        }
        @media screen and (max-width: 590px){
          display: none;
        }
        //VACATION ITEM LEFT IMG
        .i_vacantion-img{
          max-width: 290px;
          width: 100%;
          height: auto;
          img{
            width: 100%;
            height: 100%;
          }
        }
        //!VACATION ITEM LEFT IMG

      }
      //!VACATION ITEM LEFT

      //VACATION ITEM RIGHT
      .i_vacantion-item-right{
        padding: 0 0 0 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 57%;
        @media screen and (max-width: 1080px){
          width: 70%;
        }
        @media screen and (max-width: 590px){
          display: none;
        }
        //VACATION ITEM RIGHT ROLE
        .i_vacantion-item-role{
          span{
            font-size: 14px;
            color: #7c7c7c;
            cursor: text;

          }
        }
        //!VACATION ITEM RIGHT ROLE
        //VACATION ITEM RIGHT NAME
        .i_vacantion-item-name{
          span{
            font-size: 18px;
            line-height: 22px;
            color: var(--color-textInfoblock);
          }
        }
        //!VACATION ITEM RIGHT NAME
        //VACATION ITEM RIGHT TITLE
        .i_vacantion-item-title{
          @media screen and (max-width: 590px){
            display: none;
          }
          span{
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            cursor: text;
            color: var(--color-textInfoblock);

          }
        }
        //!VACATION ITEM RIGHT TITLE

      }
      //!VACATION ITEM RIGHT

    }
    //!VACATION ITEM

    //VACATION ITEM SECOND
    .i_vacantion-item.second{
      display: none;
    }
    //!VACATION ITEM SECOND

    @media screen and (max-width: 590px){
      //VACATION ITEM SECOND
      .i_vacantion-item.second{
        display: flex;
        max-width: 530px;
        width: 100%;
        height: max-content;
        border-radius: 30px;
        padding: 30px;
        background-color: var(--color-blockHv);
        flex-direction: column;
        @media screen and (max-width: 590px){
          padding: 20px;
        }
        //VACATION ITEM HOVER
        &:hover{
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
          cursor: pointer;
          transition: all 0.4s ease;
          background-color: #f9f9f9;
          .i_vacation-item-top{
            .i_vacantion-item-right{
              .i_vacantion-item-name{
                span{
                  color: var(--color-red);
                }
              }
            }
          }
        }
        //!VACATION ITEM HOVER
        //VACATION ITEM TOP
        .i_vacation-item-top{
          display: none;
          @media screen and (max-width: 590px){
            display: flex;
            align-items: center;
          }

          @media screen and (max-width: 590px){
            //VACATION ITEM LEFT
            .i_vacantion-item-left{
              display: block;
              width: 36%;
              //VACATION ITEM LEFT IMG
              .i_vacantion-img{
                max-width: 290px;
                width: 100%;
                height: auto;
                img{
                  width: 100%;
                  height: 100%;
                }
              }
              //!VACATION ITEM LEFT IMG
            }
            //!VACATION ITEM LEFT
            @media screen and (max-width: 590px){
              //VACATION ITEM RIGHT
              .i_vacantion-item-right{
                padding: 0 0 0 15px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 60%;
                @media screen and (max-width: 360px){
                  padding: 0 0 0 20px;
                  gap: 20px;
                }
                //VACATION ITEM RIGHT ROLE
                .i_vacantion-item-role{
                  span{
                    font-size: 14px;
                    color: #7c7c7c;
                    cursor: text;
                    @media screen and (max-width: 360px){
                      font-size: 12px;
                    }
                  }
                }
                //!VACATION ITEM RIGHT ROLE
                //VACATION ITEM RIGHT NAME
                .i_vacantion-item-name{
                  span{
                    font-size: 16px;
                    line-height: 18px;
                    color: var(--color-textInfoblock);
                    @media screen and (max-width: 360px){
                      font-size: 14px;
                    }
                  }
                }
                //!VACATION ITEM RIGHT NAME
                //VACATION ITEM RIGHT TITLE
                .i_vacantion-item-title{
                  @media screen and (max-width: 590px){
                    display: none;
                  }
                  span{
                    font-family: "Open Sans", sans-serif;
                    font-size: 15px;
                    cursor: text;
                    color: var(--color-textInfoblock);
                  }
                }
                //!VACATION ITEM RIGHT TITLE

              }
              //!VACATION ITEM RIGHT
            }
          }
        }
        //!VACATION ITEM TOP

        //VACATION ITEM RIGHT SECOND
        .i_vacantion-item-right.second{
          display: none;
          @media screen and (max-width: 590px){
            display: flex;
            padding: 30px 0 0 0;
            width: 100%;
            .i_vacantion-item-title{
              display: flex;
              span{
                @media screen and (max-width: 590px){
                  font-size: 14px;
                }
                @media screen and (max-width: 360px){
                  font-size: 12px;
                }
              }
            }
          }
        }
        //!VACATION ITEM RIGHT SECOND
      }
      //!VACATION ITEM SECOND
    }
  }
  //!VACATION LIST

  //VACATION BTN
  .i_vacantion-btn{
    display: flex;
    justify-content: center;
    button{
      padding: 16px 44px;
      @media screen and (max-width: 760px){
        font-size: 14px;
      }
      @media screen and (max-width: 360px){
        padding: 12px 38px;
      }
    }
  }
  //!VACATION BTN


}
//!SERVICES